[2018-06-03 02:44] arjunaaji opened #2 "closed"

[2018-06-03 05:17] #2 closed

[2018-06-04 14:39] yhua537 opened #3 "MAC filtering"
not sure if this will help, I found this undocumented workaround from [stackoverflow](https://stackoverflow.com/questions/17419847/how-can-i-get-the-number-of-devices-connected-through-the-phones-access-point?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa). Someone can claim the ownership of this. But i think this only works in Android as iPhone is unlikely let you do thi

[2018-06-04 14:56] alternadom commented on #3
Hi,

By reading "/proc/net/arp", you are reading the current users, already connected to your system.. so they weren't filtered!
I tried to manipulate some files on HOSTAPD but without success :(

Thanks for your help!

[2018-06-04 15:45] yhua537 commented on #3
yes, it is connected, otherwise it will not have IP. you can let them connect first to get their Mac and  block the given ip after that. Note that Mac address can be change so it is still not secure for your IoT.

[2018-06-04 16:41] alternadom commented on #3
In fact, at first, I wanted to the IoT to connect to my phone through the hotspot and only my IoT! So, just one device should be connected.. but I stopped dreaming, today I was working on the iOS part... #headache

[2018-06-05 13:57] yhua537 commented on #3
i am taking different approach, phone connect to the device wifi and then setup. and looks like your loadWifiList() gives empty list all the time, will keep trying.

[2018-06-05 14:54] alternadom commented on #3
In fact, with today in dev on iOS, we are going to connect in WiFi directly, not passing by a hotspot step which is impossible on iOS device..
I will push my changes after testing :)

[2018-06-06 08:37] anharismail opened #4 "Logo Design Offer as Open Source Contribution"
Hello Sir. I'm a UI/UX and Graphics Designer. I'm happy to see an open source project, So, I want provide a logo for you. Would you mind if I propose a new logo design for your project as my Open Source Contribution?

Thanks before.

[2018-06-06 08:57] alternadom commented on #4
Hi,
No problem for your contribution, we are open for a free logo :)
Thanks,

[2018-06-06 09:07] anharismail commented on #4
thank for your response @alternadom , I'll provide my logo proposal as soon as possible :)

[2018-06-07 11:46] #4 closed

[2018-06-07 11:47] alternadom commented on #3
I had the same problems with empty list because my WiFi was disabled.. I'm pushing some updates today, tell me if you still have the problem ;)

[2018-06-07 11:57] anharismail commented on #4
Hello @alternadom, why this issue was closed?

[2018-06-07 12:52] alternadom commented on #4
Hi, I closed it because it is not an issue in my opinion!

[2018-06-07 13:39] anharismail commented on #4
Can I still post my logo proposal here? @alternadom

[2018-06-07 13:45] alternadom commented on #4
Yes you can, or you can send it directly to me by mail :)

[2018-06-08 16:36] yhua537 commented on #3
Looks like we have 3 problem here, currently still stuck with #1

1. Need to request permission if version is M or above. Copy from my old project:

`
            if(Build.VERSION.SDK_INT >= Build.VERSION_CODES.M && ContextCompat.checkSelfPermission(Manifest.permission.ACCESS_COARSE_LOCATION) != PackageManager.PERMISSION_GRANTED){
                mContext.requestPermissions(new String[]{Manifest.p

[2018-06-13 12:48] anharismail commented on #4
Hello, Sir @alternadom . These is my logo proposal for your project.
This logo was inspired by Flutter logo. I'm very welcome if you have any comments, opinions, or revisions. Please just tell me.

I'll provide all file types and sizes you needed.

Hope you like it :)

![wifi flutter ver 1](https://user-images.githubusercontent.com/37614260/41352098-a0f800a2-6f42-11e8-9b68-db12979b5191.png)

[2018-06-13 13:10] alternadom commented on #4
Oh yeah! Nice job @anharismail, I like it :)
I prefer the colored version..

@yhua537, can you give us your opinion about it please ?

[2018-06-13 13:11] alternadom commented on #4
Oh and @anharismail, AlternaDom is not a person but a French startup in IoT :)

[2018-06-13 13:43] yhua537 commented on #4
Like the colored version as well, it has almost the same color scheme as Flutter.

Personally, 3 bars + the dot is a bit too busy, taking one out looks better to me.

Is AlternaDom's product open to for discussion? I am interested, pm me if ok to discuss.

[2018-06-13 13:52] alternadom commented on #4
Yep, 2 bars + dot will be lighter ;)

@yhua537 , i pm you!

[2018-06-13 14:11] anharismail commented on #4
Ah yes, they are on the same package. Since professional logo, it has to have black and white version.

Sorry, I'm think it's personal account. I just mention it as project owner :)

Anyway, this is the revision with 2 bars and one dot. @alternadom

![wifi flutter ver 2](https://user-images.githubusercontent.com/37614260/41356438-1d7b7eaa-6f4e-11e8-8f31-e049d35c953d.png)

[2018-06-13 14:21] yhua537 commented on #4
That's real quick! Well done ^_^

[2018-06-13 15:37] alternadom commented on #4
Good joob @anharismail ;) No problem for the id @ alternadom! ^^

[2018-06-13 18:46] anharismail commented on #4
Thanks. By the way, what type of files and sizes you needed for the project?

Can I make a pull request?

[2018-06-14 12:06] alternadom commented on #4
I tried to pm you all but don't think it worked.. :(

Can you contact me on contact@alternadom.com please ?

[2018-06-16 09:31] anharismail commented on #4
Hello @alternadom , I sent you a message on your email :)

[2018-06-27 10:22] tristan2468 opened #7 "Fails to build for iOS.."
Launching lib/main.dart on iPhone X in debug mode...
Running pod install...
Starting Xcode build...
Xcode build done.
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET qr_mobile_vision OF PROJECT Pods WITH CONFIGURATION Debug ===
    Undefined symbols for architecture x86_64:
      "_OBJC_CLASS_$_NEHotspotConfigurationManager",

[2018-06-27 11:16] alternadom commented on #7
Hi,
I'm on vacation but first idea, you can't use this lib in simulator...
When I come back, I will test that!

[2018-06-27 12:20] tristan2468 commented on #7
OK. This was in the Simulator.
Thanks.

[2018-06-28 15:29] tristan2468 opened #8 "Option to connect without scanning?"
It would be nice to have a `connectTo()` method which does not first need to scan for hotspots. This would mean apps could omit the `LOCATION` permissions from their required permissions.

[2018-07-03 14:29] alternadom commented on #7
Hi,
So the problem is not anymore ?
Can we close the issue ?

[2018-07-03 14:30] alternadom commented on #8
Hi,
Yes, it would be nice indeed!
I don't have time at this period but I will keep that in mind ;)

[2018-07-03 14:31] alternadom commented on #3
Hi @yhua537, can we close the issue now ?

[2018-07-03 14:42] tristan2468 commented on #7
In a similar plugin I have written for my own use, I have wrapped all code which will not run in the Simulator with
[code]

e.g.
[code]

[2018-07-03 14:46] alternadom commented on #7
Ok, but this is just for iOS, right ?

[2018-07-03 14:50] tristan2468 commented on #7
Yes, inside the Swift file.

[2018-07-03 23:03] yhua537 commented on #3
Yes, sure! closed.

[2018-07-03 23:03] #3 closed

[2018-07-04 15:27] tristan2468 opened #10 "iOS will return true even when ssid or password are wrong."
This is because the API returns no error due to the hotspot being successfully created and not connected to. This can be fixed by checking if connection was successful afterwards, e.g.:
[code]

[2018-07-20 07:10] pboos opened #11 "Publish to pub.dartlang.org"
Can't find this package on https://pub.dartlang.org yet. Are you planning to release it there in the near future? Would make using it a lot easier.

[2018-07-24 06:04] pboos commented on #10
This should be fixed in the following pull request: https://github.com/alternadom/WiFiFlutter/pull/12

[2018-07-24 06:05] pboos commented on #8
Have implemented this in the following pull request: https://github.com/alternadom/WiFiFlutter/pull/12

There it still is called findAndConnect. But as well think this should be called `connectTo`. Because on iOS there is no find happening anyway.
For now the android does a find still in case there is no `security` parameter provided (security = null).

[2018-08-16 00:29] pboos commented on #11
Instructions seem to be here: https://flutter.io/developing-packages/#publish

As well I wonder if wifi_iot is the right name for this plugin. Maybe `flutter_wifi` would be better? Sadly `wifi` is already taken. Or maybe write the person behind [wifi](https://pub.dartlang.org/packages/wifi) to collaborate on the plugin? Always better to have one plugin that is maintained by multiple people than ha

[2018-08-16 08:14] alternadom commented on #11
I agree for the name, wifi_iot is not the perfect name but it is usually used for IoT :)
It's a shame for the `wifi` name :(
It's a great idea to contact that guy to merge everything, I will send him a message!

[2018-08-29 08:32] tommaso1 commented on #11
Any news on this?

[2018-08-29 09:00] alternadom commented on #11
Nop, I tried to contact the guy at once10301@gmail.com with no success!

[2018-08-30 10:41] tommaso1 commented on #11
While waiting him.. How can I include it in a project?

[2018-08-30 11:28] alternadom commented on #11
You just have to include the repository into your root directory project and modify your "pubspec.yaml" file.. just like any other plugin you could program yourself :)

![Uploading Capture d’écran 2018-08-30 à 13.25.31.png…]()

[2018-08-30 12:11] tommaso1 commented on #11
Thanks a lot :)

[2018-09-15 06:08] cbenhagen commented on #11
@tommaso1 you can also specify a git repo in your `pubspec.yaml`:

[code]

[2018-09-15 07:04] cbenhagen opened #15 "Lots of errors on Android 8 and 9"
Probably due to `info.whitebyte.hotspotmanager.WifiApManager` using private API calls which do not exist anymore? Just a wild guess.

Sorry for the long log output. Some messages repeat over and over and others don't.
[code]

[2018-10-23 04:41] minhvn opened #16 "BSSID on iOS"
`Hi` @alternadom I saw you got SSID on ios with key kCNNetworkInfoKeySSID. How can got bssid with kCNNetworkInfoKeyBSSID.
Can add

[code]
to body of
`private func getBSSID(result: FlutterResult)`

Thank you.

[2018-10-23 08:13] alternadom commented on #16
Hi @minhvn,

I'm not sure that it work... iOs is pretty restricted!
You can test by yourself and tell us what is your result!

Thanks,

[2018-10-23 08:14] alternadom commented on #15
Hi,

Did you solved your problem ?
I can't test on Android 8 and 9 because I just have an Android 5 :(

[2018-10-23 08:17] #8 closed

[2018-10-23 08:18] #10 closed

[2018-10-23 11:30] cbenhagen commented on #15
No I did not search any further. Why don't you just use the simulator?

[2018-10-23 13:08] alternadom commented on #15
In fact, you can't simulate WiFi.. or maybe I don't use the tool correctly..

[2018-10-25 17:12] TFTcoin commented on #16
HI, In Iphone 4s with old ios version, can got BSSID, but didnt get IP address.

[2018-10-25 17:35] minhvn commented on #7
Same error :)

[2018-10-25 17:36] minhvn commented on #16
Can get BSSID, but cannot get IP on ios.

[2018-10-28 22:10] csanz91 opened #17 "Function removeWifiNetwork is broken"
The argument used in the function removeWifiNetwork: https://github.com/alternadom/WiFiFlutter/blob/4dbbad817981b65f780acdb0ffeac14dcec99e68/lib/wifi_iot.dart#L310 doesn't match the argument used in the .java and .swift side: https://github.com/alternadom/WiFiFlutter/blob/4dbbad817981b65f780acdb0ffeac14dcec99e68/android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java#L651.

Changing the ar

[2018-10-28 22:21] csanz91 opened #18 "removeWifiNetwork could delete other networks than the desired"
I have seen this issue in the Android .java I haven't researched about the iOS version.

When the ssid passed to be deleted is being compared with the existing networks, it is only verified that the begining of the ssid network matches.
https://github.com/alternadom/WiFiFlutter/blob/4dbbad817981b65f780acdb0ffeac14dcec99e68/android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java#L659
 For e

[2018-10-29 12:51] csanz91 opened #20 "The connect function always return failure the first time a network is added"
This issue has been verified on Android 8.1.
When using the connect function to add a network for the first time it always return false, even if the connection has been successfully made.
The problem resides in the fact that when the network id is checked, it compares the id from the connected network with the id from the 'WifiConfiguration' instance 'conf' that still retains the initial value (-1

[2018-10-29 16:18] alternadom commented on #17
Hi @csanz91

I think you are refering to a method for retrieving SSID which start with the same prefix, don't you ?

[2018-10-29 16:20] alternadom commented on #17
On iOS, if you connect to a WiFi network with an app, you can remove it from the storage.. but that's not possible for WiFi network which was connect from "Settings" on iOS..
So, with this method, you can "purge" all WiFi network created by your apps!

[2018-10-29 16:22] alternadom commented on #18
Please don't create 2 threads about the same problem.. thanks!

[2018-10-29 17:46] csanz91 commented on #17
Hello, I have opened two issues because I saw two different problems with the removeWifiNetwork method.
The issue I'm talking about here is related with the name of the argument passed in the method removeWifiNetwork located in the file wifi_iot.dart: https://github.com/alternadom/WiFiFlutter/blob/4dbbad817981b65f780acdb0ffeac14dcec99e68/lib/wifi_iot.dart#L310
It doesn't correspond with the argume

[2018-10-29 17:56] csanz91 commented on #18
I have confirmed what you have said in the other issue with an Android device. The networks created in the settings, i.e. outside the application, cannot be removed using this method, therefore there is no risk of removing a user wifi network.
However I think there should be a comment or any kind of documentation explaining this behaviour, that any network created by the app that begins with the s

[2018-11-05 02:38] wheel1992 commented on #2
Hi @arjunaaji , how did your solve "htResultNetwork - scan wifi return null []"?

[2018-11-07 04:46] wheel1992 opened #22 "Reconnect to existing Wifi Network"
Hi @alternadom , does the following code reconnect to existing saved Wifi network?
[code]

[2018-11-11 23:02] SpencerCornish opened #23 "Add Documentation to API Methods"
Howdy. I am starting to use your library, and I noticed that since you're getting ready to publish to the Pub registry, you'll probably need to do some API documentation. I'm happy to add some as I go, but it would definitely be easier for the library author to do some of the commenting too, since they know all the gotchas I don't! I decided to just cut an issue to raise awareness 👍

[2018-11-12 06:06] alternadom commented on #22
Hi,

Depends on the "joinOnce" argument.. but it does if you previously set it to "true"!

[2018-11-12 07:54] minhvn commented on #16
Hi @alternadom, I see on doc of apple, test and it's work on iOS 12(iPhone 7).

https://developer.apple.com/documentation/systemconfiguration/1614126-cncopycurrentnetworkinfo#parameters

![screen shot 2018-11-12 at 2 53 25 pm](https://user-images.githubusercontent.com/187747/48333640-c59bd680-e68a-11e8-914e-2ee3d53344e4.png)

[2018-11-14 09:30] alternadom commented on #16
Oh thanks @minhvn ! I will look into it as soon as possible ;)

[2018-11-14 16:15] SpencerCornish commented on #23
I'll try to do a little, but I'm going to request feedback on the PR, as I'm definitely not well versed in the caveats of various API calls

[2018-11-16 06:31] bshah4397 opened #24 "Signal Mapper"
Hey,
I'm a noobie Flutter programmer and I'm trying to create a Signal Mapper as a side project to see the areas in my house where there is a high signal strength both on WiFi as well as Mobile Network. I had my reservations whether this could be implemented using Flutter or not since I wanted to deploy on  both the platforms Andorid and iOS.

The way I see, the business logic is simple -

- [ ] C

[2019-01-08 18:36] Kevintjeb opened #25 "Not connecting to wifi"
Hello,

I want to let the device connect to a given SSID and Pasword. I have used the connect function, this does however not connect the device to the network. It does add the network, but it is unsuccessful in connecting.

Manually connecting to the network is successful. I have also tried using an unprotected Access Point, with no luck.

To make sure I am using the library correctly, how should

[2019-01-28 07:04] komputerboy commented on #25
same here. how to connect specific wifi/acces point that i already know?

[2019-01-29 14:59] csanz91 commented on #20
This was fixed in the referenced commit

[2019-01-29 14:59] #20 closed

[2019-02-01 14:59] pboos commented on #25
[code]

[2019-02-01 15:08] pboos commented on #15
This is most likely to missing permissions.

See https://stackoverflow.com/questions/46392277/changing-android-hotspot-settings
And https://developer.android.com/reference/android/Manifest.permission#ACCESS_WIFI_STATE (just the one i think it might be, otherwise just look up the other ones related to wifi)

[2019-02-03 21:09] luvk1412 commented on #15
Hi, i have been facing the same issue and have no luck getting to turn on the wifi hostpot. I have tried adding all the permissions but it is not working. I added following line sin android manifest.
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <permission android:name="android.permission.

[2019-02-06 06:36] assafb81 opened #26 "Get SSID & Password of the connected network"
Hi,
Great package!

1. Is it possible to get the ssid and the **password** of the connected network in iOS?
2. Is it possible to get a full list of the available networks in iOS?

Thanks

[2019-02-11 12:55] alternadom commented on #26
In my opinion, for the short answers : No & no!

If I'm wrong, I'm interested in the solution ;)

[2019-02-11 14:34] TheKvikk commented on #16
Hi @alternadom you'll also need to purchase iOS Developer license – without it, enabling Access WiFi Information will change nothing.

Also anyone using this package will need iOS Developer license to access BSSID and few other things.

[2019-02-11 15:27] #16 closed

[2019-02-12 07:03] assafb81 commented on #26
thanks!

[2019-02-12 07:03] #26 closed

[2019-02-26 23:08] Bmooij opened #29 "findAndConnect fails without location permission"
The function **findAndConnect** fails on secure networks when the app doesn't have the required location permission.

If the app doesn't have the location permission, getScanResults() will return an empty list of ScanResults. Because of that, the SecurityType will remain null for the given SSID. And when the function **connectTo** is called, the WifiConfiguration.KeyMgmt.NONE is set.

[An app must

[2019-02-27 16:57] #29 closed

[2019-03-06 11:12] daadu opened #32 "Is location permission necessary?"
I noticed the Manifes.xml for android specifying Location permission. Is it necessary? Because I will have to ask the user to grant this permission beforehand.

[2019-04-12 12:59] R1cs1KING opened #33 "MissingPluginException on iOS"
Hi all!
I have encountered an issue when I am trying to connect to WiFi on iOS (on Android it works).
This is the error I get:

And this is the code I am using to connect:
`WiFiForIoTPlugin.connect(ssid, password: password, security: NetworkSecurity.WPA);`

Thanks for your help in advance!

[2019-04-15 11:02] R1cs1KING commented on #33
I am not sure about it, but I am not sure about in SwiftWifiIotPlugin.swift this method:
`private func setEnabled(call: FlutterMethodCall, result: FlutterResult) {
        let arguments = call.arguments
        let state = (arguments as! [String : Bool])["state"]
        if (state != nil) {
            print("Setting WiFi Enable : \(((state ?? false) ? "enable" : "disable"))")
            result(F

[2019-05-15 12:26] dmvvilela opened #34 "Problem getting SSID on iOS."
It just returns null.. am i missing something ?

[2019-05-15 14:28] alternadom commented on #34
I think you missed the permission section.. check it please!

[2019-05-15 14:33] dmvvilela commented on #34
I just saw that i have to make a new provisioning profile right? This is crazy! But ok.. i will try it! Thanks. Also.. does apple complain (and maybe dont let my app be submited to the app store) if i use the connect to selected wifi api (with ssid and password)?

[2019-05-15 15:24] alternadom commented on #34
I'm not sure what you are asking.. but we didn't had problems to submit our app to the app store!

[2019-05-15 20:30] dmvvilela commented on #34
Awesome, thanks!

[2019-05-15 20:30] #34 closed

[2019-06-04 13:10] mrm opened #35 "Wrong thread"
Since the new flutter version I'm getting the following crash:
[code]

It appears results need to be passed back to the main thread and  `poResult.success(connected);` should be called from there?

[2019-06-04 15:15] Superlukec commented on #15
Hi, is there any solution for this?

[2019-06-04 15:50] Superlukec commented on #15
The API for turning on the wifi hotspot and sharing the internet is deprecated since API 26 (Android Oreo), because of the security reasons. [https://stackoverflow.com/a/47221545/1715631](url)

But still you can create a hotspot, which will not share the internet, but will work only locally, to communicate with the device. [https://medium.com/@titouan.parand/since-the-api-26-you-can-activate-hotsp

[2019-06-18 09:14] matteobertino commented on #35
I've had the same issue with flutter 1.7+ with the connect function.
I solved it by changing the the java Plugin file removing the new thread creation:

I removed the blocks:
`new Thread() {
            public void run() {
...
          }
        }.start();
`
and put the thread code directly into the method body. It still seems to work.

Now the function is blocking and you can handle the asyncron

[2019-06-20 02:10] crifan opened #37 "I Fixed a bug: getClientList with onlyReachables=false, found device list but return empty"
### bug

* test code:

[code]

* expect result: list contain current really connected device list

* actual result:  empty list

* root cause:

in `WiFiFlutter/android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java`, code is

`if (client.isReachable() == finalOnlyReachables) {`

then process and return device list

but current value is:

* client.isReachable() -> true
* finalOnlyReachable

[2019-06-20 06:33] alternadom commented on #37
Please, make a pull request and I will accept it ;)
Thanks for your hard work and sorry for the labor!

[2019-06-24 07:07] #37 closed

[2019-06-26 11:34] Niek commented on #35
Same issue here

[2019-06-26 11:46] mrm commented on #35
Appears to be be fixed in https://github.com/alternadom/WiFiFlutter/commit/d6ee47985a80dea6b5910463c93e257514028cc8.

[2019-06-26 11:46] #35 closed

[2019-07-10 17:26] daadu commented on #32
any update?

[2019-07-10 17:26] daadu commented on #32
@alternadom

[2019-07-10 20:26] alternadom commented on #32
Hi,
Thanks for asking, I'm not sure about this.. If you remove it, does it still work ?!
Maybe you will have your answer after testing!
Regards

[2019-07-18 14:22] daadu opened #40 "WiFiForIoTPlugin.disconnect() in Android requires Location permission."
WiFiForIoTPlugin.disconnect() in Android requires Location permission, the plugin code for android does not check for the permission.

After enabling this permission manually from settings the method worked. I realized there is a bug here. Can someone confirm this? If confirmed I would like to file a PR for this.

[2019-07-18 14:24] daadu commented on #32
Check issue #40. This permission is at least required for disconnecting from a WiFi network.

[2019-07-20 17:19] julienrbrt commented on #32
Yes it is necessary according to the Android Developers documentation: https://developer.android.com/guide/topics/connectivity/wifi-scan

[2019-07-20 21:05] alternadom commented on #32
Thanks for your help!

[2019-07-23 14:38] daadu commented on #40
I rechecked and it is working without permission,  something weird is happening. anyways closing this issue.

[2019-07-23 14:38] #40 closed

[2019-07-23 14:55] daadu commented on #22
Because of lack of documentation, joinOnce is a bit confusing. Doesn't joinOnce=true should mean that the WiFi network connected should only connect once? I also noticed that Android is remembering the network even when joinOnce is true, is that correct behaviour?

@alternadom can you please clarify it.

I am thinking of writing some docs for the APIs of this lib.

[2019-07-23 15:20] alternadom commented on #22
Hi,
I think it is a bug but i don't know why it is happening!
It would be great to write a doc about the lib, thanks by advance for your help :)

[2019-07-30 12:28] Str4ight opened #41 "How to use this plugin?"
Hello everyone,
It's a pleasure to find this work. I am new in Flutter and I want to make sure I can use for this particular feature. I came to meet this work I was wondering how I could integrate into a very basic flutter app just to make sure it can connect wifi. Actually, your README file doesn't explain the basic installation.
Thanks for your work

[2019-08-03 08:29] souravj96 opened #42 "Android Studio Wifi-Ap setup gives error: App not allowed to read or update stored WiFi Ap config"
i was creating an app that will create and enable wifi hotspot of my mobile using the given credential

[code]

getting this error

W/System.err: Caused by: java.lang.SecurityException: App not allowed to read or update stored WiFi Ap config (uid = 10492)

[2019-08-24 14:35] Njuelle opened #43 "(iOS) Missing swift version causes pod install error"
Hello,

When I try to build with Xcode(v10.3) I get the following error:

[code]
I try to add `s.swift_version = '4.0'` in your podspec config file and it fixed the problem :)

Also to be able to build my project in Xcode with your plugin I had to add the following line in my podfile : `use_frameworks!`

If you want, I can make a tiny pull request to add swift version (please tell me which version

[2019-08-24 18:27] alternadom commented on #43
Yeah thanks @Njuelle !

Do as you think it is good to be ;)

[2019-08-24 19:29] Njuelle commented on #43
Pull request incoming ;)

[2019-09-09 16:37] Mohanedy98 commented on #41
The same for me I also don't know how to integrate it into my project .. hope anyone provide a guide for it

[2019-09-09 17:30] alternadom commented on #41
Sorry guys, I don't have time to make a guide for something like this :/

You can check this thread for the conf :
https://github.com/alternadom/WiFiFlutter/issues/11

[2019-09-09 17:30] #43 closed

[2019-09-09 17:32] #18 closed

[2019-09-17 04:57] kgamecarter commented on #42
Is this issue an issue with WiFiFlutter?

[2019-10-03 19:42] Niek opened #45 "Crash when using in combination with firebase_messaging"
When using firebase_messaging, you need to to[ add your own Application class that implements PluginRegistrantCallback](https://pub.dev/packages/firebase_messaging#optionally-handle-background-messages). However, this causes WiFiFlutter to crash with the following trace:
[code]

It's coming from this call: https://github.com/alternadom/WiFiFlutter/blob/a8bb37f87425e45d2947e6c7c4e8b9416c886364/andr

[2019-10-07 07:08] alternadom commented on #45
Hi,

Seems your poActivity is null, can you show me your call to your WifiIotPlugin constructor ?

[2019-10-07 07:32] Niek commented on #45
The WifiIotPlugin contructor is called from ``registerWith()``:
https://github.com/alternadom/WiFiFlutter/blob/a8bb37f87425e45d2947e6c7c4e8b9416c886364/android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java#L76

This is my Application.java, it is missing anything? Maybe add a call to ``onCreate()``?

[code]

[2019-10-25 07:46] Nico04 opened #46 "forceWifiUsage issues"
I recently needed to use the Android function bindProcessToNetwork for phones that allow to be connected to mobile data AND wifi at the same time, to force the OS to use the wifi for my iot requests, in the process of replacing an Xamarin.Forms app to a Flutter one.
In this process I ended up editing your plugin, so here my notes :
1. Why you open the `Settings.ACTION_MANAGE_WRITE_SETTINGS` window

[2019-11-08 05:04] daadu commented on #45
@Niek @alternadom Facing the same issue. Did you find any solution?

[2019-11-08 05:12] EricPreventa opened #47 "Documentation on Wifi Connect/Disconnect iOS"
Just wanted to clarify the documentation.

If I'm connected to a wifi network that I manually added. Using this package, can I disconnect from WiFi, then automatically reconnect to that same previously manually added network on iOS?

[2019-11-08 05:14] daadu commented on #45
@alternadom This is the solution : https://github.com/flutter/flutter/issues/10769#issuecomment-309098062

[2019-11-08 06:11] daadu commented on #45
https://github.com/flutter/flutter/issues/22117

[2019-11-08 06:16] daadu commented on #45
A similar problem occurred with `android_alarm_manager` and `google_maps_flutter`

This was the workaround they implemented for it: https://github.com/flutter/plugins/pull/1255

In conclusion:

A plugin method channel can be called without activity.  Hence not registering plugin when activity is null is the workaround [as used in the PR mentioned]

[2019-11-08 06:42] daadu commented on #45
I confirm that this fixes the issue.

@Niek Please try and report

Put this in `pubspec.yaml`

[code]

[2019-11-08 15:15] Niek commented on #45
Thanks @daadu - I can confirm this fixes the issue! @alternadom can you merge the change?

[2019-11-08 15:33] #45 closed

[2019-11-13 10:08] Niek commented on #33
Same problem here, ``connect()`` calls ``setEnabled(true)`` which causes this issue. What is the best fix? I assume ``setEnabled(true)`` shouldn't be called on iOS?

[2019-12-06 16:28] flutterLearner opened #49 "I want to connect automatically to WIFI on opening my app. I did the following code but it is asking for modify system settings permission and alertbox to allow with message "App is trying to set WIFI on or off" again and again until I get output after connection. What to change to avoid this pop up and change system settings permission alert box coming again and again ?"
@override
Widget build(BuildContext context){

final defaultTheme =Theme.of(context);

if(defaultTheme.platform==TargetPlatform.android){

IsEnabled();
If(_IsEnabled!=null && _IsEnabled)
{
isConnected();
If(_isConnected != null && _isConnected)
{
getBSSID();
print("found bssid : $bssid");
}else{
WifiIoTPlugin.forceWifiUsage(true);
isConnected();
}
}else {
   WiFiForIoTPlugin.setEnabled(true);
}
}

[2019-12-06 18:13] alternadom commented on #49
Hi,

Don't need to spam our contact mail 10 minutes after posting here..
Your problem seems to be the permissions file, not the plugin!

Check permissions for Android or iOS ;)

PS : Make more readable post.. thanks!

[2019-12-13 12:04] #49 closed

[2019-12-31 00:12] Nailik commented on #46
I just made a fork to add these changes and i can confirm that it's working on Android 9.0 (LineageOs, MiMix2) .
Thank you, much better for usability.

[2020-01-02 16:26] julienrbrt commented on #32
@daadu Should not this issue be closed?

[2020-01-02 23:13] julienrbrt commented on #42
This bug has been discovered in #15. @alternadom maybe closing this for preventing duplicate?

[2020-01-03 02:28] daadu commented on #32
@julienrbrt Yes.

[2020-01-03 02:28] #32 closed

[2020-01-03 08:05] alternadom commented on #42
Thanks @julienrbrt, for this and all your work! ;)

[2020-01-03 08:05] #42 closed

[2020-01-03 08:10] #41 closed

[2020-01-03 12:59] julienrbrt commented on #11
I think the package can be published :smile:. There is documentation [here](https://dart.dev/tools/pub/publishing) on how to do it @alternadom

[2020-01-03 13:06] #46 closed

[2020-01-03 13:07] alternadom commented on #11
Thanks a lot @julienrbrt ;)

[2020-01-03 14:42] #11 closed

[2020-01-03 20:10] pboos commented on #11
Awesome! Here the link to pub.dev for those who are too lazy to search:
https://pub.dev/packages/wifi_iot

[2020-01-14 17:40] paulotolentino opened #57 "How to set SSID and PASSWORD fot Access Point?"
Hello,

I'm trying to set ssid for access point by sending some ssid using this method `WiFiForIoTPlugin.setWiFiAPSSID("someSSID");`
But I'm getting this log:

`E/flutter (26192): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(error, Attempt to write to field 'java.lang.String android.net.wifi.WifiConfiguration.SSID' on a null object reference, null)`
`E/flutte

[2020-01-22 09:55] koleto opened #58 "iOS build broken"
After including the plugin I get this:
[code]

[2020-01-22 14:20] josediegopassos opened #59 "Problem using the plugin."
Hello!

I am unable to use the dependency published in 'https://pub.dev/packages/wifi_iot' in my project.

Is there any other step I should take?

I was also unable to run your example.

[2020-01-22 15:03] julienrbrt commented on #59
Do you have more information about your issue?

[2020-01-22 15:07] julienrbrt commented on #58
I personally do not have an iOS device; but `wifi_iot-Swift.h` does not seems to ever have been in the repository.

@alternadom is there any reason this is imported?
Would remove the import in [WifiIotPlugin.m](https://github.com/alternadom/WiFiFlutter/blob/master/ios/Classes/WifiIotPlugin.m) fixes the problem?

[2020-01-22 15:19] julienrbrt commented on #58
Otherwise, @koleto, you could try to change the import of the package in your `pubspec.yaml` to:

[code]

I have simply removed the non existing import.

[2020-01-22 15:38] koleto commented on #58
I changed the import but now I get another naming issue...

[code]

[2020-01-22 15:52] julienrbrt commented on #58
Alright, maybe I helped you wrong. You should revert to the pub.dev version, till a iOS person could investigate it :smiley:

However, did you ensure to have followed the doc?

Here is how it is done in the [example](https://github.com/alternadom/WiFiFlutter/blob/4d505bba62f882f9a6200440ec491027ebf2b6f2/example/ios/Podfile#L30).

[2020-01-22 18:16] josediegopassos commented on #59
Now I was able to install it without any problems!
The library is working perfectly!
Congratulations on the work!

[2020-01-22 18:16] #59 closed

[2020-01-23 11:48] itsJoKr opened #60 "Doesn't work with Android targetSdk 29"
Hey. Android SDK 29 comes with a lot of changes with wifi, mainly so that the user is in more control and the app can't silently manage wifi.

For some actions, the app needs to open settings panel in the bottom sheet (e.g. turning on wifi, so that the user finishes the action). I think some of the actions that are now possible will not be possible at all. It would be good to update the library fo

[2020-02-10 11:26] DataGrump opened #61 "Trying to connect to Wifi with example app crashes the app entirely (iOS 13.3.1)"
It crashes without the ability to try/catch. I think it kills the entire framework.
Library is unusable for iOS 13.3.1 at least.

[2020-02-20 16:35] nmbus commented on #33
Same here, the connect function does not work. Commenting out the call to setEnabled in wifi-iot.dart does not seem to fix the issue either.

[2020-03-03 17:27] claptonorioste opened #62 "Cant scan access points on android 10"

[2020-03-19 18:43] sokunsamnang commented on #25
How to get dynamic password by input password from app not staic in code??

[2020-03-19 18:55] sokunsamnang opened #63 "What is "Wifi AP probably not supported by your device" massage ?"

[2020-04-15 14:55] gfucka opened #64 "App crash when use launch WiFiForIoTPlugin.connect()"
As in the object when I launch WiFiForIoTPlugin.connect() app crash.
I'm using flutter 1.12.3+hotfix.5 and targetSdk 28.
Thank you

[2020-04-15 16:57] daadu commented on #33
I have added PR that does what @Niek mentioned. It solves the problem for me.

@Niek @R1cs1KING Please confirm by using my fork repo to test (check below snippet to do that) so that it can be merged.

[code]

[2020-04-15 19:12] Niek commented on #33
Yep that's the fix @daadu

[2020-04-17 12:53] daadu commented on #33
@alternadom  Please merge.

[2020-04-17 13:12] #33 closed

[2020-04-19 12:25] sap-yn opened #66 "Android application crashed with running scan from isolate"
Based on skeleton https://gist.github.com/jebright/a7086adc305615aa3a655c6d8bd90264

with minimal changes:
[code]
another approach not working properly:
[code]

[code]

[code]

[2020-04-19 12:50] easyterm-devel opened #67 "Android application crashed with running scan from isolate"
Based on skeleton: https://gist.github.com/jebright/a7086adc305615aa3a655c6d8bd90264

[code]
another approach not working properly:
[code]

[code]

[code]

[2020-04-19 15:13] easyterm-devel commented on #67
full example:
[code]

[2020-04-19 21:18] easyterm-devel commented on #67
Probably I forgot think about initializing part:
[code]
but with apply method above not resolved too..

[2020-04-23 11:56] sap-yn commented on #66
dublicate

[2020-04-23 11:56] #66 closed

[2020-04-24 15:56] ConProgramming opened #68 "How to connect to a hidden network?"
Hi, this library works great on publicly visible networks but I'm having trouble finding how to connect to a hidden network?

[2020-04-28 09:29] flukejones commented on #61
I have an outdated phone on 12.4.x for testing and it also crashes on wifi scan.

[2020-04-29 08:01] flukejones commented on #61
Was missing permissions for lcoation. But now have a new issue (wifi_scan not method not implemented for ios I guess).

[2020-05-09 10:07] flukejones opened #69 "reduce logging amount"
During debugging my logs are getting quite cluttered with:

[code]

Is there a way to reduce the amount of logging besides forking and manually doing so? When you have a large block returned from the scan, yeah, just too much...

[2020-05-26 09:32] ZCHUANGJie opened #70 "获取wifi列表需要开启GPS才能正常得到 You need to turn on GPS to get WiFi list。Why？"
在开发时使用此插件获取附近wifi列表时，为什么需要开启手机GPS定位功能才能正常获取呢？目前无解决方法！！！！！
When using this plug-in to obtain the nearby WiFi list during development, why do you need to turn on the GPS positioning function of the mobile phone to get it normally? There is no solution at present!!!!!

[2020-06-17 01:58] shashikantdurge commented on #67
Platform APIs have to be called from main Isolate.

[2020-06-17 01:59] shashikantdurge commented on #70
It is android requirement.

[2020-06-17 02:09] ZCHUANGJie commented on #70
只有android手机会是吧，那有解决的方法吗？Only android phones will be. Is there a solution?

[2020-06-17 02:23] shashikantdurge commented on #70
https://developer.android.com/training/connect-devices-wirelessly/wifi-direct#permissions

[2020-06-17 06:55] #7 closed

[2020-06-17 06:58] #61 closed

[2020-06-17 06:59] #58 closed

[2020-06-17 06:59] #15 closed

[2020-06-17 07:00] #17 closed

[2020-06-17 07:00] #22 closed

[2020-06-17 07:02] #23 closed

[2020-06-17 07:03] #25 closed

[2020-06-17 07:03] #47 closed

[2020-06-17 07:04] #24 closed

[2020-06-17 07:05] alternadom commented on #57
`Unhandled Exception: PlatformException(error, Attempt to write to field 'java.lang.String android.net.wifi.WifiConfiguration.SSID' on a null object reference, null)`

The answer is here..

[2020-06-17 07:06] #57 closed

[2020-06-17 07:06] #62 closed

[2020-06-17 07:07] #63 closed

[2020-06-17 07:08] #67 closed

[2020-06-17 07:09] alternadom commented on #68
If it's hidden, you can't scan it.. maybe there is an update here!

[2020-06-17 07:11] #70 closed

[2020-06-24 01:22] aarenstade commented on #64
Hello, I have the same exact problem.
Moved code and packages to a new project and this error appeared.
I tried adding error catching in the connect function but the app still crashes.

I'm running on an ios device with Flutter 1.17.4

What's the best way to debug this problem and catch this error?

[2020-06-29 12:49] Rouhollah commented on #63
this message showed for me too.how to solve this?

[2020-07-01 12:44] andzejsw opened #72 "WiFiForIoTPlugin.loadWifiList() not retriewing result (Android 10)"
I tried to get Wifi scan results on my Android 10 Samsung S10+ device, but there is no result retrieved on Fututre.
My code:
[code]

[2020-07-03 07:36] andzejsw commented on #72
Fix was simple, but very hard to find. We need to ask location permission only from app code, not package. For example i did this:

[code]

[2020-07-03 07:43] alternadom commented on #72
Thanks @andzejsw for you hard work!

If you want, you could make a pull request, we will accept it from our side ;)

Have a nice day,

[2020-07-10 21:23] EParisot opened #73 "Android 10 can't acces to /proc/net/arp: open failed: EACCES (Permission denied)"
`java.io.FileNotFoundException: /proc/net/arp: open failed: EACCES (Permission denied)`

I used the example code in addition to mine and called` WiFiForIoTPlugin.setWiFiAPEnabled(true);`

Storage acces is fine, the app displays images stored on it without issue..., I gess /proc isn't on external storage tho...

It may be related to :

from [https://developer.android.com/about/versions/10/privacy/c

[2020-07-11 15:19] JICA98 opened #74 "WiFi AP not working"
I'm getting platform exception on my android device indicating it doesn't support WiFi AP.  I also tried adding permissions to have full access on the network in the AndroidManifest.xml, but still getting the error.

E/class info.whitebyte.hotspotmanager.WifiApManager(13476): java.lang.reflect.InvocationTargetException
E/class info.whitebyte.hotspotmanager.WifiApManager(13476): 	at java.lang.refle

[2020-07-12 17:29] felixsmart opened #75 "isConnected returning always false but the Phone connected successfully to the wifi"
Hi there,

I'm testing and the module works perfect with iOS.

I'm now testing an Android (Using a Xiaomi M10) and this always returns false. The issue is that the Android Phone connected successfully to the Wifi (I can see it is connected).

bool isConnected = await WiFiForIoTPlugin.connect(STA_DEFAULT_SSID,
        password: STA_DEFAULT_PASSWORD,
        joinOnce: false,
        security: Networ

[2020-07-13 13:35] HelloBytes opened #76 "ios ios Unexpectedly found nil while unwrapping an Optional value: file line 146"
SwiftWifiIotPlugin.swift

Unexpectedly found nil while unwrapping an Optional value: file line 146

[2020-07-14 07:14] cool-518 commented on #75
same problem!

[2020-07-14 11:09] HelloBytes opened #77 "IOS After 2nd time connecting NEHotspotConfigurationErrorDomain Code=8"
Error Domain=NEHotspotConfigurationErrorDomain Code=8 "internal error." UserInfo={NSLocalizedDescription=internal error.}

Only a device restart will fix it. After restart 2nd time same error.

[2020-07-18 02:09] bigbirdhzp commented on #75
i hava the same problem!!!

[2020-07-21 09:38] shashank3107 commented on #74
I am also facing same problem. Did u get any solution?

[2020-07-21 11:26] gau187 opened #78 "doesnt work on android versions 8 and above"
whenver i try to run on android version 8 or above this plugin doesnt work i have given all permissions but still
i get this error
java.lang.NoSuchMethodException: android.net.wifi.WifiManager.setWifiApEnabled [class android.net.wifi.WifiConfiguration, boolean]

[2020-07-30 10:25] at-quannguyen2 opened #79 "[Bug] Exit the application when inputting correctly SSID but change the lower case to uppercase and change the uppercase to lower case on IOS operating system"
I see problem happend on IOS

Steps to perform
1. Input SSID correctly
Ex: Input SSID correctly is: abcd -> abcD
2. Input Password correctly
3. Tap to choose security key is: WEP or WAP
4. Tap on connect button

Actual results
At step 4: Exit the application and show popup "unable to join the network"
Expected results
At step 4: The WiFi connection is unsuccessful

### Screenshot when log xcode

[2020-08-09 16:39] qhu91it commented on #75
Me too, Pixel XL android 10

[2020-08-11 12:39] sanjay4one opened #80 "WiFiForIoTPlugin.connect always returns false"
When I tried to connect the WiFi using `WiFiForIoTPlugin.connect()` function it immediately returns false. However, I tested your Github example, there it works fine and connects the WiFi network successfully.

I looked into the plugin source code and explored the `WifiIotPlugin.java` class. I observed that inside `connectTo()` method `moWiFi.updateNetwork(conf)` and `moWiFi.addNetwork(conf)` alwa

[2020-08-12 08:55] TheAbbay commented on #80
Are you testing on Android API <29? I had the same problem and found out that the methods you mention no longer are supported in API 29 and above.

[2020-08-12 09:07] sanjay4one commented on #80
Yes I am testing with target SDK version 29. But the example provided by the plugin works fine on the same Android Device having the same target SDK version.

[2020-08-12 09:17] TheAbbay commented on #80
Curious. That sounds odd to me. I'll check out the example later.

[2020-08-12 09:36] sanjay4one commented on #80
Yeah. Please let me know in case you find anything.

[2020-08-13 12:20] sanjay4one commented on #80
@TheAbbay , Just to clarify one thing that the device I have tested with has API 27 where the plugin example worked and mine didn't.

[2020-08-18 11:54] qhu91it commented on #80
I confirm it happen for android 10, sourcecode already build at sdk 28, wifi connected but function always return false.
And for other case if wifi already connected manual by user open wifi system setting, the function `addNetwork`, `updateNetwork` alway return -1 also and in Android 10 the function `wifiManager.getConfiguredNetworks()` not return this wifi but lower android is return (I tested A

[2020-08-20 07:39] daadu commented on #80
I have complied list of methods that are deprecated and which are being used by the plugin on android side.

| method | deprecation message |
| --------| ---------------------- |
| `addNetwork(WifiConfiguration config)` | This method was deprecated in API level 29. a) See WifiNetworkSpecifier.Builder#build() for new mechanism to trigger connection to a Wi-Fi network. b) See addNetworkSuggestions(j

[2020-08-20 10:04] daadu commented on #80
I will be working on it on this weekend, if anyone has got time then go ahead and replace deprecated methods with alternatives.

[2020-09-03 15:06] abhijeetsinghkatiyar opened #81 "RawDatagramSocket.bind failed with error:"Machine is not on the network, errno = 64" when connect using this plugin."
it is simple issue.
step 1: delete all saved profile in andriod phone.
step 2: connect to ap with wifi_iot plugin
step 3: try to bind any IP with RawDatagramSocket.bind.

Pass cases::
1. when profile is saved it will work fine.
2. when already connected it will work fine.

Checking :: in the logs i have seen the my phone is conencted to AP and also getting proper IP.

other info::
D:\DProgramFile\

[2020-09-11 01:00] JAICHANGPARK opened #82 "Wi-Fi disable is not working"
I'd like to disable wi-fi when it activated

[code]
this code is not works for me
how to disable wi-fi ?

[2020-09-22 11:07] #76 closed

[2020-09-22 11:08] #77 closed

[2020-09-22 11:14] #72 closed

[2020-09-24 20:16] luccasmaso commented on #64
Same happening here...

<img width="1578" alt="Screenshot 2020-09-24 at 17 15 30" src="https://user-images.githubusercontent.com/1427231/94195565-8d21d200-fe89-11ea-805b-aa9288a6ef3d.png">

[2020-10-05 06:30] JAICHANGPARK commented on #82
[code]

## Flutter Env

- [✓] Flutter (Channel beta, 1.22.0, on Microsoft Windows

[2020-10-05 07:18] JAICHANGPARK commented on #82
[code]

[2020-10-05 07:56] JAICHANGPARK commented on #82
- now setWifiEnabled is always return false
- sdk 28

[2020-10-08 02:51] cretaes opened #83 "WifiIotPlugin.java uses or overrides a deprecated API."
I'm trying to use the plugin but got this error:
`Note: /flutter/.pub-cache/hosted/pub.dartlang.org/wifi_iot-0.1.1/android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details. `

Any idea to solve this issue?

Best,
Stefano

[2020-10-08 07:56] Niek commented on #83
It's just a warning, but would be nice if it could be solved.

[2020-10-08 08:03] Niek commented on #80
We also ran into this when updating to SDK version 29. @daadu do you have a fix yet?

[2020-10-08 21:14] jeffrey0606 opened #84 "Can't get Wifi Access Point Infos in android version 8.0.0 and 9"
This is the error message i'm getting:
E/class info.whitebyte.hotspotmanager.WifiApManager(11444): Caused by: java.lang.SecurityException: App not allowed to read or update stored WiFi Ap config (uid = 10086)

[2020-10-09 05:13] daadu commented on #80
@Niek I am bit busy with other things. Not worked on it.

I have enlisted the deprecated methods, feel free to work on it.

[2020-10-24 07:35] Shalabyer commented on #80
Any news?

[2020-10-25 19:12] Shalabyer commented on #80
I have overtaken that problem with another way that I would love to share with you guys so that it might help anyone :),
I used a StreamSubscription that can listen to any wifi change then I can check if I am connected to the network that I tried to connect to, here is the code to make it more clear:

[code]

[2020-10-26 07:55] daadu commented on #80
Does this work with android SDK >= 29?

On Mon, 26 Oct 2020 at 00:43, Mahmoud Ibrahim <notifications@github.com>
wrote:

--

Harsh Bhikadia
bhikadia.com

<http://bhikadia.com>

[2020-10-26 08:16] Shalabyer commented on #80
No i tested it on api 26, as the function findAndConnect doesn't await on exciting for me, it just returns instanteousley so for that i made this code to capture tge change, i thought you were talking about that, didn't notice that there is change on api levels 29 and above on wifi settings.

[2020-10-28 04:54] krishnaaro opened #85 "findAndConnect returns FALSE in android 10"
after android Q update, can't able to connect through findAndConnect function. no error log occurred too. please let me know if I'm missing something .... !

[2020-10-29 07:43] daadu opened #89 "FR: Add support for WPA3"
Should be supported if possible

[2020-10-29 11:47] daadu commented on #60
Fix for this issue is being work on at #88.

Recommend you to test/review it and provide feedback (instruction are in the PR itself). Merging of #88 will close this issue as well.

[2020-10-29 11:47] daadu commented on #78
Fix for this issue is being work on at #88.

Recommend you to test/review it and provide feedback (instruction are in the PR itself). Merging of #88 will close this issue as well.

[2020-10-29 11:47] daadu commented on #78
Fix for this issue is being work on at #88.

Recommend you to test/review it and provide feedback (instruction are in the PR itself). Merging of #88 will close this issue as well.

[2020-10-29 11:48] daadu commented on #80
Fix for this issue is being work on at #88.

Recommend you to test/review it and provide feedback (instruction are in the PR itself). Merging of #88 will close this issue as well.

[2020-10-29 11:48] daadu commented on #83
Fix for this issue is being work on at #88.

Recommend you to test/review it and provide feedback (instruction are in the PR itself). Merging of #88 will close this issue as well.

[2020-10-29 11:49] daadu commented on #84
Where you testing on emulator? Android Emulator does not support Hotspot.

[2020-10-29 11:51] daadu commented on #85
Fix for this issue is being work on at #88.

Recommend you to test/review it and provide feedback (instruction are in the PR itself). Merging of #88 will close this issue as well.

[2020-10-29 16:45] jeffrey0606 commented on #84
yeah i tested on my emulator of android version 8 an it does not work obviously but i tested it on my phone with android version 9. now i wrote a kotlin code that manages just the on/off the hotspot.

[2020-10-30 00:48] daadu commented on #84
Close this issue if it is not an actual issue!

[2020-10-30 08:41] #84 closed

[2020-10-31 05:26] krishnaaro commented on #85
findAndConnect('SSID', 'PASSWORD') returns TRUE, but there's no sign that my device connected to that SSID. got log as below.

[code]

[2020-10-31 05:53] daadu commented on #85
@krishnaaro This is known, I am working on it.

[2020-11-02 12:47] krishnaaro commented on #85
@daadu  any update .... !?

[2020-11-03 06:00] daadu commented on #85
@krishnaaro try now, run `flutter pub upgrade`.

Also test `disconnect` method.

[2020-11-03 06:00] daadu commented on #85
Please also verify that the older versions work too.

[2020-11-03 06:51] daadu commented on #80
@sanjay4one @Niek @Shalabyer @TheAbbay Can you test/review the pull #88 (details in pull itself)? Merging the pull will close this issue.

[2020-11-03 07:03] daadu commented on #60
@itsJoKr Can you test/review the PR #88 (details in description of PR)? Merging the PR will close this issue.

[2020-11-03 12:26] itsJoKr commented on #60
Hey. I'm not working with this yet. At the time I was evaluating it for the future project and saw that it doesn't support newest Android WiFi shenanigans.

PR looks good, thank you for your hard work. We can close the issue.

[2020-11-10 09:34] yingshaoxo commented on #15
I have tryed following today, and none of them work anymore:
[code]

I also have added permissions like this:
[code]

the error I got is:
[code]

___

**Actually, all I need is to create a local hotspot with a specified SSID and password.**

Can anyone help? Thanks in advance.

[2020-11-10 13:15] daadu commented on #85
@krishnaaro Did you test it?

[2020-11-11 16:10] krishnaaro commented on #85
Bingo, only if GPS and WIFI turned ON manually in Android 10.

[2020-11-12 04:38] daadu opened #90 "[android] WifiManager.getScanResults requires location services to be enabled"
# Problem
Method such as - `findAndConnect`, `handleNetworkScanResult` uses this API, it fails if location service is disabled on the device.

# Solutions
- warn/error is location service is disabled for methods
- add warning to README about it so that user can check this himself (could suggest using [location_permissions](https://pub.dev/packages/location_permissions)).

[2020-11-12 07:02] daadu commented on #85
new issue #90 regarding location services required.

[2020-11-12 11:42] krishnaaro commented on #85
Yeah it's happening smooth ....

[2020-11-12 11:49] krishnaaro commented on #85
Note: if I connect WIFI manually, i can access localhost and get my mac id details in chrome browser ....

[2020-11-12 14:08] KnowLedgeWat opened #91 "Getting 'wifi_iot/wifi_iot-Swift.h' file not found when "flutter build ios""
Getting 'wifi_iot/wifi_iot-Swift.h' file not found when "flutter build iOS"

Xcode's output:
↳
    /Users/MDM/Developer/flutter/.pub-cache/git/wifi_iot-bd17a8cfdac3ad8f3e0e78032902e6a30caaef38/ios/Classes/WifiIotPlugin.m:2:9: fatal error:
    'wifi_iot/wifi_iot-Swift.h' file not found
    #import <wifi_iot/wifi_iot-Swift.h>
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 error generated.
    note: U

[2020-11-12 17:32] ominibyte opened #92 "Can't seem to get this working on iOS"
Is anyone using this on iOS?
Can't seem to get WiFiForIoTPlugin.connect to go through on iOS. Tried it on iOS 12.x and 14.x.

I can't find any documentation on steps to take to verify if I'm doing something wrong.

Any help is appreciated.

[2020-11-12 19:58] #92 closed

[2020-11-13 14:24] krishnaaro commented on #85
any update @daadu ....!

[2020-11-13 14:34] daadu commented on #85
I am not getting what you are asking?

[2020-11-13 14:49] krishnaaro commented on #85
please try connect an android 10 device to an SSID, then check you have internet access or not .... !?

[2020-11-17 13:49] suhaimiannuar opened #93 "How to install?"
Hi, i am new in flutter.
usually i install library directly by referring instruction at pub.dev.
there, they will put the specific string to be paste onto pubspec.yaml.

how for this one?

[2020-11-17 14:10] suhaimiannuar commented on #93
ok already found

https://pub.dev/packages/wifi_iot/install

[2020-11-17 14:10] #93 closed

[2020-11-18 01:39] ghost opened #94 "App crashed when try to connect to AP"
Our app crash multiple times when try to connect to Wi-Fi network with wrong ssid or password.
I think we should handle the exception from native code gracefully to avoid this situation.

[code]

[2020-11-20 11:16] JavaDeveloper08 commented on #85
Hi, @krishnaaro
I am getting same error, I am connectin to an SSD via an adroid 10, but it has no internet access.

@daadu , do you have any suggestion to solve for this ?

[2020-11-21 04:34] daadu commented on #85
I will try and fix this, as of now try using `forceWifiUsage` after connecting.

[2020-11-25 06:46] #60 closed

[2020-11-25 06:46] #80 closed

[2020-11-25 06:46] #85 closed

[2020-11-25 07:25] JavaDeveloper08 commented on #85
Hi, @daadu

did you solve the problem, I tried it with last version, result is same.

[2020-11-25 08:06] ZhuXiaolong33 commented on #68
I also have trouble finding how to connect to a hidden network?

[2020-11-25 12:57] daadu commented on #85
@JavaDeveloper08 no, I haven't worked on it yet.

[2020-11-25 12:58] JavaDeveloper08 commented on #85
@daadu,

thanks for your reply,

I am looking forward  to hear :)

[2020-11-25 15:28] diegotori opened #96 "Publish a new version"
@alternadom is there any chance that you can please publish a new release to [pub.dev](https://pub.dev/packages/wifi_iot)? Right now, it hasn't been updated in over 10 months. Given the latest changes merged into this repo recently, I think this should warrant a new version (0.2.0). Please let me know your thoughts on this so that I can update my current app with this version that fixes #60, #80,

[2020-11-25 16:01] alternadom commented on #96
Hi there!

I'm not in that kind of subject since a few months.. i don't even remember how to do that :(

We are looking for persons who can take the relay!

[2020-11-25 16:36] diegotori commented on #96
https://dart.dev/tools/pub/publishing. If you want, I can take on the role of publishing. Since you're a verified publisher according to pub.dev, you can also add folks that could [upload new releases](https://dart.dev/tools/pub/cmd/pub-uploader) on your behalf.

[2020-11-25 16:41] diegotori commented on #96
Also, you should designate a couple of people here as Maintainers so that they can merge code on your behalf and run the day to day operations on this project. You can also add them as pub uploaders as well to that effect so that you add redundancy in terms of who can upload.

[2020-11-25 17:11] alternadom commented on #96
For the people interested, please send me a private message and give me your Gmail address ;)

Thanks for your advice @diegotori

[2020-11-25 17:13] diegotori commented on #96
@alternadom looks like GitHub doesn't support private messaging. Therefore you may need to list your email address on your profile so that people can email you directly.

[2020-11-25 17:26] alternadom commented on #96
Just contact us via our form on our website so ;)

[2020-11-25 17:36] daadu commented on #85
@krishnaaro @JavaDeveloper08 `forceWifiUsage` should enforce the the request is made through Wifi. Have you tried it? Does that work for you?

[2020-11-26 00:52] diegotori commented on #96
@alternadom Managed to do just that. Please lemme know if you received a message to that effect, since it has my Gmail address. Thanks in advance.

[2020-11-26 06:06] krishnaaro commented on #85
No luck ....

[2020-11-26 06:22] alternadom commented on #96
Hi,
I received @daadu & @diegotori , I will do that (hopefully) today!

[2020-11-26 07:00] JavaDeveloper08 commented on #85
@daadu , I tried it but result is same, no internet access.
Generally, we have no problem to connect Wifi. The problem is no internet access after connecting to wifi on Android 10 devices.

[2020-11-26 10:11] alternadom commented on #96
I'm facing this issue :

`Package "wifi_iot" is owned by publisher "alternadom.com". Updating the uploaders is not permitted.
`
:(

[2020-11-26 10:30] alternadom commented on #96
Seems that being "publisher" don't give possibility to add uploader.. so I added @daadu to admin on our publisher!
If you find something to let you publish without admin access, tell us ;)

[2020-11-26 12:51] diegotori commented on #96
@daadu seeing that you are now the new admin for this project on pub.dev, can you please upload a new version? Thanks in advance.

[2020-11-26 13:08] diegotori commented on #96
@alternadom based on this change (https://github.com/dart-lang/pub-dev/pull/4195), looks like adding an admin to the publisher automatically grants that person uploader rights. tl;dr: I think you have to add folks as admins in order for them to upload.

[2020-11-26 13:35] alternadom commented on #96
I just have this...

https://www.alternadom.com/wp-content/uploads/2020/11/Capture-décran-2020-11-26-à-14.30.28.png

[2020-11-26 17:13] daadu opened #97 "[android] no internet access via Wifi for Android 10 devices"
reported by - @krishnaaro  and @JavaDeveloper08 on #85

[2020-11-26 17:14] daadu commented on #85
@JavaDeveloper08 @krishnaaro Raised new issue regarding it, further discussion will be continued there.

[2020-11-26 17:14] daadu commented on #97
Will be working on this weekend.

[2020-11-26 17:28] daadu commented on #96
@alternadom Looks like my permissions are revoked. Getting following error while publishing from my account.

<img width="509" alt="Screenshot 2020-11-26 at 10 57 16 PM" src="https://user-images.githubusercontent.com/4963236/100379411-dbdf1a00-303a-11eb-9eb1-c98c97c3bf6d.png">

[2020-11-26 17:31] daadu commented on #96
You can add new member to pub.dev publisher by going "My pub.dev" -> "alternadom.com" -> "Admin" -> "Add Member"

[2020-11-26 18:06] alternadom commented on #96
I wanted to give access to publish on wifi_iot to you and @diegotori , except that I could'nt..
I just can give you full access (admin) to our "publisher" (what I did).
So you can publish wifi_iot and other we can develop in the future :(
The rules are not really easy to understand on pub.dev...

[2020-11-26 18:44] diegotori commented on #96
I think the next step is to ask a question in https://github.com/dart-lang/pub-dev.

[2020-11-27 20:01] diegotori commented on #96
@alternadom and @daadu, asked the following question to pub-dev: https://github.com/dart-lang/pub-dev/issues/4303. Hopefully we'll get an answer soon enough.

[2020-11-28 05:22] daadu commented on #96
@diegotori @alternadom Ooops! The issue was not accepting the invitation before publishing.

[2020-11-28 05:28] daadu commented on #96
And AFA "admin" privileges is concerned that gives rights to publish new or update exiting packages under the publisher. We cannot do much about it. Hope pub.dev adds this feature to give package level permissions.

[2020-11-28 05:28] daadu commented on #96
Congrats. v0.2.0 is published to pub.dev.

[2020-11-28 05:30] daadu commented on #96
@diegotori Close this issue if things are resolved and also close the issue opened on pub-dev repo.

[2020-11-28 21:48] diegotori commented on #96
Can confirm that version 0.2.0 is live on pub.dev. Thanks @daadu for updating it.

[2020-11-28 21:48] #96 closed

[2020-11-30 12:53] daadu commented on #97
New Wifi Infra defines 3 API for different use cases:

<img width="802" alt="Screenshot 2020-11-30 at 6 19 24 PM" src="https://user-images.githubusercontent.com/4963236/100612321-ce76a800-3338-11eb-8130-4036e04da8ad.png">

The package currently uses `Network Request API`, that is why you are not able to connect to internet with the connected Wifi.

A workaround would be to add `bool useInternet` a

[2020-11-30 13:50] daadu opened #98 "[android] registerNetwork for Android 29+"
use `ACTION_WIFI_ADD_NETWORK` API - [doc](https://developer.android.com/guide/topics/connectivity/wifi-save-network-passpoint-config)

[2020-11-30 14:06] Niek commented on #98
+1

[2020-11-30 15:30] diegotori commented on #94
@at-binhdo please upgrade to version `0.2.0` which includes a fix for this issue. Once that confirmed, please close this ticket whenever you're able to. Thanks.

[2020-12-01 03:01] daadu commented on #98
@Niek Can you help implementing this? I have added doc links about it.

[2020-12-01 05:23] daadu commented on #97
@krishnaaro and @JavaDeveloper08 Can you review #99 PR ?

[2020-12-01 08:14] krishnaaro commented on #97
Yeah its woking fine and good in Android Q.

`await WiFiForIoTPlugin.removeWifiNetwork('SSID');`
now this throws PlatformException(Error, removeWifiNetwork not supported for Android SDK 29, null)

[2020-12-01 08:27] daadu commented on #97
yes it is not supported any more.

[2020-12-01 12:25] krishnaaro commented on #97
any way to disconnect that particular "SSID" by any chance .... ?

[2020-12-01 17:55] daadu commented on #97
need to use "disconnect" method, in v30+ it will work fine, but for v29 it will only disconnect if the network was connected in same app session.

[2020-12-02 06:58] krishnaaro commented on #97
In version < v29 it's happening.

But not disconnecting with v29 even the network was connected in same app session. When i do uninstalling the app then it's disconnecting.

how do i disconnect ... !

[2020-12-07 15:35] krishnaaro commented on #97
having trouble in connecting my IOT device(something like Wifi router).

`  wifi_iot:
    git:
      url: https://github.com/daadu/WiFiFlutter.git
      ref: android-major-revamp` this connects my IOT device physically but no connectivity held.

#99 working good with mobile hotspot connection, but not with IOT device. what happens is, opening and closing WIFI config HTML page very frequently in ht

[2020-12-07 19:29] guyluz11 opened #100 "pub.dev example page is missing the android permissions required"
The [example tab in pub.dev page of this package](https://pub.dev/packages/wifi_iot/example) does not contain the android permissions that required to insert

Android permissions required that I found

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.pe

[2020-12-07 19:36] guyluz11 commented on #82
I have the same errors.

[2020-12-09 07:16] daadu commented on #97
The device you are connecting to might not be having internet connection

[2020-12-13 15:57] krishnaaro commented on #97
disconnect function not happening in Iphone X & +  ..... too

[2020-12-13 16:38] Al-Hussein-96 opened #101 "No Result WifiNetwork after disable then enable wifi"
on android 9
no results WifiNetwork if I disable wifi then enable it
I must enter wifi setting then back to App to show wifi list

[2020-12-14 07:35] krishnaaro commented on #97
for WiFiForIoTPlugin.findAndConnect IOS,

`flutter: MissingPluginException : MissingPluginException(No implementation found for method setEnabled on channel wifi_iot)
flutter: MissingPluginException : MissingPluginException(No implementation found for method findAndConnect on channel wifi_iot)`

[2020-12-14 07:45] krishnaaro commented on #92
WiFiForIoTPlugin.findAndConnect(), works on ios 14.x ?? @ominibyte @daadu

[2020-12-14 13:59] ominibyte commented on #92
Use WiFiForIoTPlugin.connect for iOS. Tested on 14.1.

[2020-12-18 01:31] JAICHANGPARK opened #102 "error: cannot find symbol import androidx.annotation.NonNull;"
I have some problem about build time

[2020-12-27 17:23] yurir opened #103 "setWiFiAPEnabled fails on Android 10"
Getting
`java.lang.NoSuchMethodException: android.net.wifi.WifiManager.setWifiApEnabled [class android.net.wifi.WifiConfiguration, boolean]`
on Android 10, Galaxy S 10 when trying to call
`WiFiForIoTPlugin.setWiFiAPEnabled(false);`
or
`WiFiForIoTPlugin.setWiFiAPEnabled(true);`

Added all possible permission to AndroidManifest.xml. Please advice.

[2021-01-05 17:42] surendersinghIT opened #104 "wifi access point temporarily full"
I am connecting to IoT device to send Home wifi router details via WS.
After updating to latest plugin, now I am getting message and unable to connect to IoT device's hotspot also getting popup

Message if try to connect to IoT wifi manually - "wifi access point temporarily full"
Previously It was working.
code snip:
await WiFiForIoTPlugin.connect(ssid);

I am new to Flutter / Android. Please help

[2021-01-07 11:56] DominikStarke opened #105 "iOS 14.2 (physical device) - getSSID always nil"
Hi,
I'm trying to join a wifi network using this plugin, which works.
However connect always returns false, despite successfully connecting. I have narrowed the issue down to the swift implementation of getSSID to always return nil. More specifically CNCopySupportedInterfaces returning nil.

My entitlements contain these:
[code]

My plist also contains access to location:
[code]
When I open iOS Se

[2021-01-07 12:22] DominikStarke commented on #105
Resolved after rebooting the phone...
I'll leave this open for now, as I'm not entirely sure my setup is correct.

[2021-01-08 19:58] luckycreationsindia commented on #97
I see that you remove capability of internet access. Can you add parameter so that we can decide if this feature is required or not!

![Screenshot 2021-01-09 012523](https://user-images.githubusercontent.com/8995339/104058395-a91f6880-5219-11eb-9b92-4fe7c1fddc32.png)

[2021-01-08 20:18] luckycreationsindia commented on #97
Also,

I tried this PR,
https://github.com/alternadom/WiFiFlutter/pull/99

If I disable internet access there will be a popup and user can connect to network but once I enable internet access there's no popup nor it connect to selected network.

Note: The network I'm trying to connect has Internet connection

I'm using OnePlus 7 Pro (Android 10)

[2021-01-09 05:28] daadu commented on #97
@luckycreationsindia removing `removeCapability` in builder did not solve the problem.

The docs suggest using `NetworkSuggestion API` for connecting to network with internet, as the name suggests they are just suggestions from the app, ultimately the platform decided if to join or not, I suggest you read the docs, see if I am missing something.

For the #99 PR did you approve the suggestion from

[2021-01-09 05:33] daadu commented on #97
This [answere](https://stackoverflow.com/a/61261805/2554745) claims to figure out how to implement it properly. Please feel free to make those suggestions in my fork branch locally and test.

I will only be able to work on this on free weekends.

[2021-01-09 05:34] daadu commented on #97
Proper working examples for these new APIs are hard to find on the internet.

[2021-01-09 05:38] daadu commented on #97
@luckycreationsindia Can you also verify if as well?

[2021-01-09 09:48] luckycreationsindia commented on #97
Hi,

I don't know why I'm not getting any notification. I will read the docs and try to find proper way. Also let me try your suggestion and get back to you will results soon.

[2021-01-20 08:18] MeTubeapp opened #106 "how i connect 802.1* EAP security wifi with flutter app please help me"

[2021-01-20 12:05] sifatullahshah1 opened #107 "Who is on my WiFi - Pro Spy Tool & Network Scanner App"
i want to create Who is on my WiFi - Pro Spy Tool & Network Scanner app in flutter i have search but found no example or help if any one just give me some help i will be very thank full to him/her

[2021-01-25 19:41] BillMac4440 opened #108 "Not fully working with Android 10, but how do you connect to a hidden network?"
I switched over to this library as wifi-configuration was not working on Android 10.  I thought it was working great, but found an issue.  It connects, but seems to lack a route to the network connected into.
On a secondary question:  I am not sure how to use it if the SSID is hidden.  This a use case of setting up an IoT device.  If not configured, you give the app the serial number and it figure

[2021-01-27 07:08] luckycreationsindia opened #109 "java.lang.IllegalStateException: Reply already submitted - Android 10"
**How to produce this error (Android 10 and above)**:

1. Connect to WiFi from App
2. Turn off WiFi from Settings
3. Turn on WiFi while inside App
4. You will get popup to select WiFi
5. Click cancel

**Stack Trace**:

`E/AndroidRuntime(30626): java.lang.IllegalStateException: Reply already submitted
E/AndroidRuntime(30626): 	at io.flutter.embedding.engine.dart.DartMessenger$Reply.reply(DartMessen

[2021-01-28 12:36] daadu opened #110 "[ios] iOS v14, requires Local Network permission from user, shoudl be integrated with `forceWifiUsage`"
This permission is implicitly asked by iOS when the traffic is being sent to the local network. This sometimes does not work properly, for eg - if a HTTP request is made to the device in local network, then if the permission is not given, the request will fail with `SocketException: Connection failed (OS Error: No route to host, errno = 65), address = x.x.x.x, port = 80`.

Ideally the user should

[2021-01-28 12:37] daadu commented on #110
@alternadom Do you know any iOS dev that can work on it, I do not know iOS development (although, I could try implementing! but could take a lot of time, and would not be the best implementation)

[2021-01-28 12:40] daadu commented on #110
@Niek @at-quannguyen2 @Njuelle @pboos Can you guys give your views on it and/or help implement it.

[2021-01-28 12:42] daadu commented on #97
@luckycreationsindia any update?

[2021-01-28 12:49] alternadom commented on #110
Sorry @daadu, we don't have that 😢

[2021-01-28 13:42] daadu commented on #110
Explicit permission would not be required in debug mode (flutter adds this flutter/flutter#60634, for debug build).

To reproduce this error, use release builds.

[2021-01-29 19:09] BillMac4440 commented on #108
A few updates to the note: It uses a REST API to setup the module.  I set an old router up like the module and switched from an HTTP.Post to an HTTP.Get to verify a connection as a test.  It could not read the router's main page.  When the app made the connection, a browser would also not work to pull the page.
The connection did get made, and the check to verify the network address was on the cor

[2021-01-30 08:59] fedepell opened #111 "showWritePermissionSettings unused/not visible?"
Hi,
Depending on the Android version the `MANAGE_WRITE_SETTINGS` are needed to configure the WiFi AP. I've noticed that a method to ask for them is already present in the code indeed as [showWritePermissionSettings](https://github.com/alternadom/WiFiFlutter/blob/2e0646419cad65e8316a9aab61b98806916b1897/android/src/main/java/info/whitebyte/hotspotmanager/WifiApManager.java#L50), even if it is not u

[2021-01-30 10:05] fedepell commented on #98
@daadu : What would be the idea of this ticket? To add a new method `registerNetwork(SSID, authType, passphrase)` that launches an intent `ACTION_WIFI_ADD_NETWORK` with the suggestion based on the SSID/authType,passphrase?

[2021-01-30 13:21] daadu commented on #98
Yes, I think we will have to add new method, I suggest `registerWifiNetwork(Strring ssid, String password, NetworkSecurity security);` another option is to add flag (lets say - `shouldRegister`) in `connect` and `findAndConnect` methods.

[2021-01-30 13:28] daadu commented on #111
I personally haven't used "AP" side of the plugin at all. Looks like the `WifiApManager.java` has history of only one commit!

[2021-01-30 13:32] daadu commented on #111
@fedepell It needs a major revamp as far as I know, I initially planned it in #88 but do not have time for it. As you are looking into it, can you go through all methods and test/review them - clean up junk, avoiding use of deprecated APIs - file a PR as a "revamp of access point functionalities on android"?

There are a lot of open issues regarding it. That would be really helpful.

[2021-01-30 13:39] daadu commented on #108
Does the old router have "Internet capability"? new Android APIs have different APIs for a network with internet and without internet (peer-to-peer, IoT use-cases).

If the router has the internet then, there is a draft PR #99, can you test it against that (instruction in the PR itself) - using `withInternet` flag in `connect` method?

[2021-01-30 15:48] fedepell commented on #111
@daadu thanks for the fast feedback!

Indeed I've been studying in the last days the AP part as I'd have a project that would require the App to work as AP with IoT devices connecting (having somehow a preshared or calculable SSID/password). It works pretty fine on pre Oreo devices, but for Oreo and up I'm afraid that some things got changed in a way that precludes many possible functionalities in

[2021-01-30 18:39] BillMac4440 commented on #108
The old router was unhooked from Internet as is the IoT module that gets configured.  I set the router up with the same network name, key, and IP of the embedded module's softAP to be able to run an HTTP.Get from it for test purposes. So, in both cases there was no Internet.  I first identified the issue where the HTTP.Post got an error trying to configure the module, so used the router to try to

[2021-01-30 18:43] BillMac4440 commented on #108
Quick look at the PR, the with Internet is probably opposite of what I need to connect to the softAP of the IoT module.  If that is an option, then OK.  I'll look at it more later.

[2021-01-31 04:43] fedepell commented on #111
@daadu I've created a PR for this specific issue as I had already the code locally for my project and that is useful already for pre Oreo devices (so what actual plugin works well with). So I think that would be anyhow useful to have.

Of course let's continue then on the discussion on AP revamp (either here or if you prefeer on another issue) as that is undoubtely something to do one way or anoth

[2021-01-31 06:24] daadu commented on #108
Also try it with `forceWifiUsage`

[2021-01-31 07:20] fedepell commented on #98
I have just created PR #113 with a proposal. It supports basic wireless network suggestions and, parametrized, also permanent saving via `ACTION_WIFI_ADD_NETWORK` intent (only API >= 30).

I'm rather new to this plugin and Flutter, so any comment is more than welcome. I did directly a PR as it is probably easier to discuss this way.

[2021-01-31 15:47] BillMac4440 commented on #108
Will do, just to be clear, is that mainline or on the branch?
Sorry for all the questions.  I work in firmware, this flutter is a way to test the embedded code, trying to do my best at getting things working.

[2021-02-01 13:59] BillMac4440 commented on #108
OK, I setup the pubspec.yaml as given in the instructions to test the branch.  I saw that wihtInternet was now defined and I set it to false as the module's softAP does not have Internet.  The forceWifiUsage was not defined in the connect method.
Android 10 connected to the AP, but there was no route to the REST.Api to setup the module.
On second try to connect, E/AndroidRuntime(25657): java.lang.

[2021-02-02 04:54] daadu commented on #108
@BillMac4440 No problem with you asking for clarifications!

`forceWifiUsage` is a method itself (not an option in `connect`), call it before making the network call with `await WiFiForIoTPlugin.forceWifiUsage(true)` - this should work with both branches. Also do not forget to not force wiif usage before you disconnect from the network `await WiFiForIoTPlugin.forceWifiUsage(false)` (not doing this

[2021-02-02 05:30] daadu opened #114 "[ap,android] revamp AP functionality on android side"
Due to the deprecation of Android API, need to add new APIs wherever possible. This is change should be backward compatible, ie it should work with old devices as it is without any change required from the user.

## Related Issues
- Android 10 can't acces to /proc/net/arp: open failed: EACCES (Permission denied) #73
- WiFi AP not working #74
- doesnt work on android versions 8 and above #78
- Wi-F

[2021-02-02 05:30] daadu commented on #111
Opened new issue https://github.com/alternadom/WiFiFlutter/issues/114 for AP functionality revamp on android side.

[2021-02-02 13:10] BillMac4440 commented on #108
Thank you!  I added the forceWifiUsage before and after the post and when done with the connection called disconnect.
It ran great on Android 10 and Android 11.  Only thing yet to solve is the hidden network.
Right now, I set the embedded Linux module to show its SSID, but it should be off.

[2021-02-02 13:32] BillMac4440 commented on #108
This does not work on Android 9 and down, so I just forked to two branches for old and new.
This is a debug application to test stuff on the module so not a real big deal.

[2021-02-02 14:16] fedepell commented on #114
Good idea to open an issue to follow this big topic. There are a few other issues (ie. #103, #82, #78) that are covered by this.

I'd find interesting contributing to this, but I'm somehow afraid that a big showstopper is that recent Android versions cripple a lot what an app can do as AP. For example one cannot configure AP SSID/Password (although could read it after it is created). Also just loc

[2021-02-02 16:27] daadu commented on #108
@BillMac4440 ideally this shoudl work for <Android9 too, I am using the same approach in my project.

I will look into the hidden SSID problem, probably this weekend if free.

[2021-02-03 22:03] luckycreationsindia commented on #97
Hi,

Sorry have been busy with works. Well, I tried but no results.

Here are possibilities to get working internet:

1. Network Suggestions API
2. Guide user to connect manually

But, as you know if user cancel the request from network suggestions API he won't be getting notification again until he reset that.

Suggestion for developers would be add fallback to connect without internet option or

[2021-02-03 22:07] luckycreationsindia commented on #97
One more thing I modified code to notify user via stream when wifi connects successfully or when that connected wifi gets disconnected.

Reason to add:

1. Added a fix which detects if WiFi gets lost or disconnected manually if might crash the app.

2. Give access to stream to check network connection when user disconnect manually from notification bar or settings.

3. Give flexibility of using st

[2021-02-04 08:37] Creed667 opened #116 "Wifi can not be disconnected completely"
https://stackoverflow.com/questions/66041808/how-to-forget-wifi-completely-with-flutter

i have posted a problem in Stackoverflow related to this plugin...I'm using it for my project where user can connect and disconnect Wifi from the app...now when I'm using `WiFiForIoTPlugin.disconnect();` it does disconnect my device from the wifi for a short amount of times but it automatically connects again.

[2021-02-04 10:25] daadu commented on #116
use `joinOnce=true` with `connect`

[2021-02-14 05:39] fedepell commented on #116
Do you use:
[code]
to connect? Do you pass `joinOnce` as `true`? Are you sure the AP is not already in the phone configuration anyway?

Additionally: which version of the plugin are you using and on which platform and version?

[2021-02-14 08:20] #98 closed

[2021-02-14 08:21] #111 closed

[2021-02-14 08:28] #110 closed

[2021-02-14 08:43] daadu commented on #111
This has landed in [v0.2.1 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.2.1), do check it out. Thank you @fedepell  for your contribution to this package.

[2021-02-14 08:43] daadu commented on #110
This has landed in [v0.2.1 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.2.1).

[2021-02-14 08:44] daadu commented on #98
This has landed in [v0.2.1 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.2.1), do check it out. Thank you @fedepell  for your contribution to this package.

[2021-02-14 09:47] daadu commented on #97
@luckycreationsindia Have done minor fixes to #99 you can test it now, and also there is now `registerWifiNetwork` as fallback where user is asked to "register network". Please test it and let me know.

[2021-02-14 09:47] daadu commented on #97
@luckycreationsindia Reagarding `NetworkStream`, can you create new issue regarding it, with your idea?

[2021-02-14 10:08] daadu commented on #82
@JAICHANGPARK `setEnabled` turns on/off wifi module, while `setWiFiAPEnabled` turn on/off AP ("hotspot") module.

`setWifiAPEnabled` implmenetation is out of date and is being worked on #114.

`setEnabled` will always return `false` since the Android API is deprecated after v29.

The information provided is mentioning both, can you clarify what are you looking for?

[2021-02-14 14:17] Creed667 commented on #116
@fedepell thank you for your response....I had a lot difficulties with that but now it's solved... i'm using the latest version available in pub dev and my platform is Android 10... on my device the disconnect function doesn't work instead removeNetwork() fucntion works available in wifi iot plugin...

[2021-02-16 12:45] bahador-r opened #117 "java.lang.reflect.InvocationTargetException"
when i call `WiFiForIoTPlugin.setWiFiAPSSID(psSSID)`, i get this error:

`E/class info.whitebyte.hotspotmanager.WifiApManager( 3555): 	at android.net.wifi.IWifiManager$Stub.onTransact(IWifiManager.java:601)
E/class info.whitebyte.hotspotmanager.WifiApManager( 3555): 	at android.os.Binder.execTransact(Binder.java:731)
E/class info.whitebyte.hotspotmanager.WifiApManager( 3555):
E/class info.whitebyt

[2021-02-17 06:23] daadu commented on #117
@bahador-r WifiAP mode feature is out of date, it is being worked on #114.

@bahador-r Your contributions are welcomed.

[2021-02-17 06:24] daadu commented on #114
@fedepell I have enlisted most AP related issues here, can you make a plan to implement it?

[2021-02-17 06:42] fedepell commented on #114
@daadu: Please check my comment above! I think the same features as we have now (but not supported for android 8 or above) are technically now impossible (ie. you cannot create a fully configured AP, you may only have the `LocalOnlyHotspot` for which you cannot set SSID/pass, which is rather different).
So apart for of course adding a valid error to what is currently failing badly with exceptions,

[2021-02-17 07:27] daadu commented on #114
@fedepell I have enlisted all "AP related" methods in `WifiForIotPlugin` (let me know if I missed any), Can you segregate them based on whether should be deprecated (not supported for >= Android SDK 26, will show proper error message and changes in Readme) or require re-work (will work with Android SDK 26 and greater, with some caveats, which will be mentioned in README)

[2021-02-17 07:30] daadu commented on #114
This will give us idea of what needs to be done.

Regarding `LocalOnlyHotspot` - if that is the only option then we should implement it with proper warning message (as we have done for Wifi methods).

[2021-02-17 07:37] daadu commented on #114
if the plugin is cripple(just with `LocalOnlyHostspot`) so be it, we will add proper warnings in README, and depreciation warning messages for those methods on `WifiForIoTPlugin` (maybe remove them completely in future, since, iOS part of the plugin does not support AP anyways)

[2021-02-17 10:48] daadu commented on #105
Did you face this again? Check https://stackoverflow.com/questions/56583650/cncopycurrentnetworkinfo-with-ios-13 for the explaination. Any idea of add fix to the current implementation. `getSSID` and `isEnabled` both use it.

[2021-02-17 15:01] fedepell commented on #114
I cannot edit directly the description, but as far as I researched here is the status:

-  getClientList(bool onlyReachables, int reachableTimeout): not possible to implement (was a very low level hack, surprised it even worked ;-) )
-  getWiFiAPPreSharedKey(): not possible for the "normal" AP. only for `LocalOnlyHotspot` if implemented
-  getWiFiAPSSID(): not possible for the "normal" AP. only fo

[2021-02-18 06:09] #97 closed

[2021-02-19 21:07] DominikStarke commented on #105
Not really, it appears that changing the phone's privacy settings only take full effect after rebooting (under some circumstances?). Otherwise it might somehow mess with other privacy related stuff like CNCopyX.

But that's a hard guess.

[2021-02-22 17:52] PrinceGoyal opened #119 "can we read password?"
Can we read password of connected wifi in android and ios,
another can we read any wifi is public or private and wifi setting is auto connect or not ?

[2021-02-24 12:46] guyluz11 commented on #114
Affected me when I was trying  to use `WiFiForIoTPlugin.registerWifiNetwork()` to set access point.
Got the following massage `Error updating network configuration`

Suggestion:
Adding a method to open the android/ios settings menu on opening access point could be cool.

[2021-02-24 12:51] fedepell commented on #114
@guyluz11 : yep that should be quite possible (to be verified if it is all same depending on device), but sadly not very "advanced" compared to what we had before :-( But on the other side if the platform decided to cut such features, it's also hard to do much more...

[2021-02-24 22:46] talatkuyuk commented on #119
I need this feature. How do we handle/recover/read password for already connected with wi-fi from a mobile phone.

[2021-03-04 06:36] vb-star opened #120 "is there any way to disable captive portal page which is opening at connect to open wifi?"

[2021-03-04 07:19] IskanderA1 commented on #68
use my fork https://github.com/IskanderA1/WiFiFlutter

[2021-03-04 12:00] daadu commented on #68
@IskanderA1 If working can you file PR with this feature?

[2021-03-04 12:01] daadu commented on #108
Closing this, since #68 is tracking this issue.

[2021-03-04 12:01] #108 closed

[2021-03-04 14:57] BillMac4440 commented on #68
Thanks for the work everyone!, but I need the combination of the withInternet and isHidden when it all gets merged together.
Then the IoT device config will work great.

[2021-03-04 15:34] briansemrau opened #121 "Readme states that getting BSSID on iOS is not supported"
The readme indicates that getting the BSSID from Wifi networks is unsupported, but it appears this was fixed in #27. Has something changed since that fix, or is the readme out of date?

[2021-03-04 19:01] EgHubs opened #122 "Migrate the package to null safety please."
Any news? :)

[2021-03-05 04:12] aduonggm opened #123 "function isConnectted"
function isConnectted always return true

[2021-03-05 07:13] daadu commented on #121
@briansemrau Can you test it and if it works can file PR for readme changes.

I have started maintaining this package recently, not sure of things that I personally not use.

[2021-03-05 07:14] daadu commented on #122
@EgHubs I mostly work on the plugin on weekends. Can you look into it and file PR for it?

[2021-03-07 18:55] briansemrau commented on #121
I don't have my iOS dev environment set up yet - still just working on android. If I get around to testing it, I'll provide an update then.

[2021-03-08 19:08] BillMac4440 commented on #68
@IskanderA1 Is it possible to get your fork in sync with the "withInternet" branch?  I think I need both fixes.  IoT device with soft AP with no internet access and it is a hidden SSID.  You connect to the soft AP and do a REST API to put it on a network.  Got all working but connect to a hidden SSID.

[2021-03-08 19:13] IskanderA1 commented on #68
@BillMac4440 yse, of course

[2021-03-09 11:48] daadu commented on #68
@IskanderA1 File PR if the feature is ready.

[2021-03-12 10:00] mavyfaby commented on #122
Any updates?

[2021-03-13 03:56] daadu commented on #122
I'll try to complete by tomorrow.

[2021-03-13 03:57] daadu commented on #122
No promises though.

[2021-03-13 04:29] mavyfaby commented on #122
Thank you :)

[2021-03-14 04:43] daadu commented on #122
Added pre-release [v0.3.0-nullsafety.0 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.3.0-nullsafety.0).

@mavyfaby @EgHubs  Also would recommend to give feedback on it on #124. So that could merge and release as stable

[2021-03-15 06:20] #122 closed

[2021-03-15 06:28] daadu commented on #122
Release this in [v0.3.0 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.3.0)

[2021-03-15 14:04] BillMac4440 opened #125 "Warning on 0.3.0"
../../../flutter/.pub-cache/hosted/pub.dartlang.org/wifi_iot-0.3.0/lib/wifi_iot.dart:227:13: Warning: Operand of null-aware operation '?.' has type 'NetworkSecurity' which excludes null.
 - 'NetworkSecurity' is from 'package:wifi_iot/wifi_iot.dart' ('../../../flutter/.pub-cache/hosted/pub.dartlang.org/wifi_iot-0.3.0/lib/wifi_iot.dart').
            security?.toString()?.substring('$NetworkSecurity

[2021-03-16 08:59] EgHubs commented on #125
happens to me also,
here is my error message:

[code]

[2021-03-16 13:44] mavyfaby commented on #125
Fixed issue in #126.

[2021-03-16 21:43] #116 closed

[2021-03-17 15:45] Genialngash commented on #119
I also need this feature.
It works on windows .I believe we can also access the stored password value of a WiFi after connecting

[2021-03-20 09:52] daadu commented on #119
@talatkuyuk @PrinceGoyal @Genialngash Can you point out ways to do it native platforms (android, ios or wifi)? If so we can think of adding this.

[2021-03-20 19:16] oguzhankosar opened #127 "HTTP requests doesn't work if connection is established via WiFiForIoTPlugin"
For my IoT app, I'm trying to connect a WiFi programmatically and then make HTTP request.
So, I used findAndConnect method.
WiFiForIoTPlugin.findAndConnect(ssid, password: password);

Although phone is connected to WiFi successfully, it can't make HTTP request.
There is exclamation mark on WiFi icon in status bar, after WiFi connection.
I tried to setting withInternet flag as true, but it didn't w

[2021-03-21 05:25] daadu commented on #127
I suggest calling `forceWifiUsage(true)` before making network  calls, this works for me.

[2021-03-21 06:00] daadu commented on #114
@fedepell I would suggest you review changes in #126 , it does the necessary changes.

[2021-03-21 06:15] daadu commented on #114
@guyluz11 I like your idea of opening proper "settings" page for methods that are deprecated ?

[2021-03-21 06:16] fedepell commented on #114
@daadu I gave a fast look at #126 (will try to do a code review later in case) and indeed that looks fine to me (so we can close this issue).

But basically what was done was to say that for Android > 29 we mostly do not support anything AP-wise and return error. Of course I'm not complaining about this (as it seems there was not much we could do due to the API change) but sadly I think that the A

[2021-03-21 06:23] daadu commented on #114
@fedepell I got your point(that it does not have a use-case for IoT now),  but as far as I know no other plugin in pub.dev supports "hotspot" (pre or post Q), so I would want to continue that and implement the AP functionality in whatever way it is possible post Q.

If there was a plugin specifically for "hotspot" we would have discontinued ti and suggested our user to use it. Since that is not th

[2021-03-22 07:29] #127 closed

[2021-03-22 16:37] BillMac4440 opened #128 "Trying to figure out how to use LoadWiFiList()"
I am assuming the LoadWiFiList is to find what networks are out there as the get Client List call seems to be for when the library is being used as an access point and you want to find who is connected.
I am trying to find what access points are out there and am calling LoadWifiList().  The .then(), .catchError(), .whenComplete(), and the on PlatformException or any catch of the try all are skippe

[2021-03-23 12:15] #128 closed

[2021-03-23 12:16] BillMac4440 commented on #128
Got it working

[2021-03-23 13:35] BillMac4440 opened #129 "LoadWifiList only returns list from previous system wifi scan list"
Running on Android 11.
The list returned is only the last time you went in and scanned from the system.  New access points won't show up until you do that.
It seems it should refresh this list on its own.  Perhaps a call is missing?
I can sort of work around it for now, but it would be great to have it fully working.
I'm testing the embedded device with this app.  Really not enough of a Flutter gu

[2021-03-24 15:46] BillMac4440 commented on #129
If you turn on WiFi in a new area (such as home or work), it seems to get the list correctly, If another access point shows up while you are on a WiFi, the list from the call will not have the new AP until you scan from the system utility.
For example: Say you are on your home network.  You power up the embedded device that needs configured, and it brings up its access point.  You will not see tha

[2021-03-29 18:20] oguzhankosar opened #130 "WiFi disconnects immediately after findandconnect on Android 11"
For my IoT app, I'm trying to connect a WiFi programmatically and then make HTTP request.
So, I used findAndConnect method.
WiFiForIoTPlugin.findAndConnect(ssid, password: password);

Although phone is connected to WiFi successfully, then it disconnects immediately. So HTTP request doesn't work.
This problem happens on Android 11. In Android 10 phone, it is working correctly.

[2021-03-31 11:03] daadu commented on #130
This looks like a strange behaviour, I haven't tested on Android 11 device myself. Are you sure that the device you are connecting to is not crashing once phone connects to it.

[2021-03-31 11:03] daadu commented on #130
Also can you share logs for it

[2021-03-31 11:05] daadu commented on #130
Also can you confirm that this happens with `connect` method too?

[2021-04-02 09:00] oguzhankosar commented on #130
Actually I used findAndConnect because connect method didn't work on Android 10.
I didn't test it with the other Android versions. Android 11 was not my phone, so I couldn't check it again.

[2021-04-05 11:28] sokunsamnang opened #131 "List all Wi-Fi network name"
How can I list all Wi-Fi network ?? I'm trying to figure out how to list all Wi-Fi, but seem not work yet.

[2021-04-06 07:47] #131 closed

[2021-04-06 07:47] sokunsamnang commented on #131
Figured out!!!

[2021-04-06 09:03] sokunsamnang opened #132 "Can we detect ssid is secure or not ??"
I want to detect ssid security to leading icon wifi. and if wifi are not secure or open, i want to press to connect without pop up dialog to input password.

[2021-04-07 08:12] sokunsamnang opened #133 "LoadWifiList Android 11"
Does this WiFi package work on android 11 ? I print debug on function LoadWifiList, there are not show any result.

[2021-04-07 08:36] sokunsamnang commented on #133
Found the solution by changed targetSdkVersion to targetSdkVersion 28 and compileSdkVersion to compileSdkVersion 28.

[2021-04-07 08:36] #133 closed

[2021-04-07 10:31] wangbo4020 commented on #125
**Could move these attribute and ic_launcher to example?
Remove from here, because here is library?**

![image](https://user-images.githubusercontent.com/5559403/113852568-45ccb480-97cf-11eb-96b5-d01b0d55bfbc.png)

[2021-04-08 05:27] daadu opened #134 "[ap,android] proper response to methods when using LocalOnlyHostspot"
Methods that needs to be re-worked to send proper response when using `LocalOnlyHostspot`:
- `getWiFiAPSSID()` - get "random SSID" generated for `LocalOnlyHostspot`
- `getWiFiAPPreSharedKey()` - get "random pre shared key" generated for `LocalOnlyHostspot`
- `isWiFiAPEnabled()` - check if `LocalOnlyHostspot` hotspot is created

[2021-04-08 06:16] daadu commented on #134
`isSSIDHidden` - should return `true`, if `LocalOnlyHostspot`  is on.

[2021-04-08 06:27] fedepell commented on #134
@daadu : I believe it should rather return what `isHiddenSsid()` of `SoftApConfiguration` that is returned to the `onStarted` calback. Because I'm not sure it is really _hidden_ as in "doesn't broadcast its SSID" or that it may change from version to version or so.

[2021-04-08 06:31] daadu commented on #134
@fedepell  can we request to have "hidden Hostpost" with  `LocalOnlyHostspot`?

[2021-04-08 06:37] fedepell commented on #134
@daadu : no, with `LocalOnlyHotspot` as far as I can understand you cannot ask any "details", including SSID being hidden or not. So it's all up to what the OS will generate. Which I don't know how much it may depend on the version (ie. what is valid for 10 may not be valid in the future) or specific vendor.

That's why, in my opinion, using the info from the specific object returned, although sli

[2021-04-08 06:49] daadu commented on #132
you can call `scan`, to get wifi list - the object has `capabilites` string, if the `String` contains `WPA`, `WEP`, `PSK` in it.

[2021-04-08 09:21] sokunsamnang commented on #132
Thanks!

[2021-04-08 09:40] Niek commented on #130
I can confirm the same, but only when using `withInternet: true`.

[2021-04-08 09:41] Niek commented on #120
Same issue here. When manually connecting to the WiFi network, it works fine. When using `connect()/findAndConnect()`, all HTTP requests to internal IPs hang because of the captive portal check.

[2021-04-08 10:21] sokunsamnang commented on #132
Anyway, How can I connect to open Wi-Fi? I used
[code]

but seem not working.

[2021-04-08 12:48] daadu commented on #130
`withInternet: true` uses `NetworkSuggestionAPI.

I would suggest reading - https://developer.android.com/guide/topics/connectivity/wifi-suggest and check with current implementation, if we are missing anything.

My guess is since we are not setting `setIsAppInteractionRequired(true)` (ad listenting for it in broad cast receiver) while building `networkSuggestion`, the system is not enforcing it.

[2021-04-08 12:52] daadu commented on #120
This should not happen since we call `.removeCapability(NetworkCapabilities.NET_CAPABILITY_INTERNET)` which removes the requirement of the network to have internet.

@Niek  I think we need to enforce the process to use this network, once conneted.

Can you add `ConnectivityManager.setProcessDefaultNetwork(network);` in `onAvailable` callback of `networkCallback` and test if the captive portal stil

[2021-04-08 12:53] daadu commented on #132
@sokunsamnang Any log that you can share?

[2021-04-08 12:54] daadu commented on #120
in this case also need to `ConnectivityManager.setProcessDefaultNetwork(null);` in `disconnect`.

[2021-04-08 13:24] Niek commented on #120
@daadu that worked! thanks!

Do you want me to make a PR?

[2021-04-08 13:28] daadu commented on #120
Yes, please file the PR, make sure `ConnectivityManager.setProcessDefaultNetwork(null);` is called to clean up.

[2021-04-08 13:39] daadu commented on #120
`ConnectivityManager.setProcessDefaultNetwork` is [deprecated](https://developer.android.com/reference/android/net/ConnectivityManager#setProcessDefaultNetwork(android.net.Network)) and therefore not reliable.

Use `connManger. bindProcessToNetwork` instead.

[2021-04-08 13:40] daadu commented on #120
Infact this is what `forceWifiUsage` does.

I think the "captive portal" wont come if you call that after connect.

[2021-04-08 13:42] daadu commented on #120
But I think we should this internally, we have got lot of issues stating the same, after `connect`, the network does not work, I ask them to call `forceWifiUsage` explicitly.

[2021-04-08 13:45] Niek commented on #120
Ahhhh.... this works indeed:
[code]

So there's no need for a PR... maybe this should be documented somewhere though.

[2021-04-08 13:52] vb-star commented on #120
can you please check it with android 9 also?

one more thing,
whether you add  `.removeCapability(NetworkCapabilities.NET_CAPABILITY_INTERNET)`  then is your internet is working out of the application in Android 10 onward?

[2021-04-08 14:07] Niek commented on #120
Yes, internet outside of the app is working with `withInternet: false`.

But it seems that once I disconnect from the SSID (for example back to the original SSID) I don't have internet anymore in the app. Outside the app it works fine - this is maybe related to #130.

[2021-04-08 14:14] vb-star commented on #120
whenever I tried it with my open wifi, yes I have connected to that open wifi but my internet is not working out of the application.
is there any specific reason?

[2021-04-08 14:14] daadu commented on #120
According to the docs the network connected, will only work with the application.

So will not have effect outside the app.

[2021-04-08 14:15] daadu commented on #120
I suggest, this should happen out of the box, instead of documenting it somewhere.

[2021-04-08 14:18] vb-star commented on #120
I aware of that, I am also using this but My internet is not working out of the Application. yes, it's working only inner app.

[2021-04-08 14:22] daadu commented on #120
This is because with enabling `forceWifiUsage` (internally `bindNetwork`), you need to make sure the bind is removed (properly cleaned up) with disabling it.

This is mandatory (to disable) according to docs, disconnecting will not release the bind.

[2021-04-08 14:26] vb-star commented on #120
is there any method for remove binding?

[2021-04-08 14:28] Niek commented on #130
@daadu I uncommented the `builder.setIsAppInteractionRequired(true);` call but this does not fix it - connecting with `withInternet: true` seems to connect and disconnect immediately. Connecting with `withInternet: false` works but there's no way to access internet addresses.

[2021-04-08 15:45] daadu commented on #120
`forceWifiUsage(false)`

[2021-04-08 16:10] sokunsamnang commented on #132
there are not show any log

[2021-04-08 16:12] sokunsamnang commented on #132
EDITED: I tried connect to Wi-Fi captive portal.

[2021-04-08 16:12] vb-star commented on #120
oh.. sorry, Let me check with this.

Actually, I have done it with some modification in deprecate code and It's working well.
My internet is working out of application too.

[2021-04-08 16:28] sokunsamnang commented on #132
Did this package work well on sdk 30 android 11 ??

[2021-04-08 17:47] daadu commented on #132
`withInternet: true`  internally uses a very different kind of API, which is relatively new.

I haven't personally tested it.

[2021-04-09 00:44] mavyfaby commented on #134
`SoftApConfiguration` doesn't support Android SDK 29 as it is introduced in SDK 30.

[2021-04-09 01:54] rockgecko-development commented on #119
There are apps that can do this on Android, but they require root access. They might be reading the file `/data/misc/wifi/wpa_supplicant.conf` as mentioned here https://stackoverflow.com/a/21334335 (old answer, things may have changed).

[2021-04-09 09:08] sokunsamnang commented on #132
After changed withInternet: from true to false. it worked well on android 7. but on android 11 there no internet access.

[2021-04-10 05:54] jwsheen commented on #125
In Flutter 2.0.4
modify to like this:
**security.toString().substring('$NetworkSecurity'.length + 1),**

works OK.

[2021-04-22 13:03] #82 closed

[2021-04-22 13:03] #100 closed

[2021-04-22 13:03] #103 closed

[2021-04-22 13:03] #114 closed

[2021-04-22 13:03] #125 closed

[2021-04-22 13:11] daadu commented on #125
This feature has landed on pub.dev with [v0.3.1](https://pub.dev/packages/wifi_iot/versions/0.3.1).

[2021-04-22 13:11] daadu commented on #114
This feature has landed on pub.dev with [v0.3.1](https://pub.dev/packages/wifi_iot/versions/0.3.1).

[2021-04-22 13:11] daadu commented on #103
This feature/fix has landed on pub.dev with [v0.3.1](https://pub.dev/packages/wifi_iot/versions/0.3.1).

[2021-04-22 13:13] daadu commented on #100
This feature/fix has landed on pub.dev with [v0.3.1](https://pub.dev/packages/wifi_iot/versions/0.3.1).

[2021-04-22 13:13] daadu commented on #82
This feature/fix has landed on pub.dev with [v0.3.1](https://pub.dev/packages/wifi_iot/versions/0.3.1).

[2021-04-29 06:46] mengsiyitiaojie opened #135 "方法名引用警告"
![image](https://user-images.githubusercontent.com/55568326/116511828-9ed4c780-a8f9-11eb-8787-227ea8ec9a62.png)

[2021-04-30 18:09] gabrieletelesca commented on #129
I "solved" this problem by manually performing a scan in native language. Notice that in Android you can perform only 4 scan every two minutes, independently of their frequency.

[2021-05-01 15:01] daadu commented on #135
@mengsiyitiaojie `WifiForIoTPlugin.getClientList`, is deprecated and there is no way to get this information for the latest versions of  Android.

[2021-05-04 18:49] BenoitDuffez commented on #33
I still have this problem on iOS14 emulator. The fix is present. What's wrong?

[2021-05-05 06:43] daadu commented on #33
sacn and getting wifi list is not possible in iOS (AFAIK)

[2021-05-05 15:23] rpenaherrera opened #136 "Wifi connection with internet doesn't Work - Android 10"
Hello there!! I'm trying to use the **connect** and **findAndConnect** functions, but both seems to not validate the wifi credentials (I can write anything in password param but only returns me false when I write a text with less than 8 characters, equal or above of that shows a  dialog to "connect" the phone to the network without internet connection).

**Less than 8 characters returns False**
![

[2021-05-05 15:33] daadu commented on #136
Looks like this a requirement from Android side, although could not find any doc mentioning it on the Internet.

[2021-05-05 15:35] daadu commented on #136
Closing this, feel free to request re-open, if find it necessary.

[2021-05-05 15:35] #136 closed

[2021-05-05 18:44] BenoitDuffez commented on #33
Yes indeed, as I found out after posting. This baffles me but I'll find another way. Thanks for confirming!

[2021-05-06 02:25] BenoitDuffez commented on #129
@gabrieletelesca how did you do it in native? it could be interesting to add it to the dart API (would work on Android only)

[2021-05-06 03:03] mengsiyitiaojie opened #137 "如何获取wifi连接速率"
如何获取wifi连接速率

[2021-05-06 05:20] daadu commented on #137
From google translate here is what I understood.

"How to get the wifi connection rate"

You can get it through `loadWifiList` and `onWifiScanResultReady`, which returns `WifiNetwork` which has `frequency` and `level` attributes.

[2021-05-06 14:17] BenoitDuffez opened #138 "startScan not called after Android P"
Hi, thanks for this lib this is amazing.

I have noticed that `startScan` is not called after P:

[code]

After reading the Android docs[1], it seems we can still call this even on P and after. I think it could help rescan the available AP at least once so that we have a refreshed list of AP.
What do you think?

1: https://developer.android.com/guide/topics/connectivity/wifi-scan They don't mentio

[2021-05-06 19:52] PlutoHDDev opened #139 "Pretty much nothing works with Android 11"
Hello, when I came across this package I thought this is exactly what I am looking for.
My plan is to turn on the hotspot of an (Android) smartphone. Of course other functionalities are based on this, but that is the task this package should do.
According to what I read, this should be possible with this package, so I downloaded the repository and tested the example. Unfortunately nothing worked.

[2021-05-07 03:48] daadu commented on #139
Hi @PlutoHDDev,

Hotspot/AP functionality in Android are more or less deprecated. However Android have now replaced it with `LocalOnlyHotstpot` (might be getting name wrong). This can let you to "request" a "local only" hotspot - with ssid and password generated by Android itself. This limits the overall functionality of hostpost functionalities.

We have already done discussions on it at #114 #12

[2021-05-07 03:55] daadu opened #140 "FR: Additional protocol support"
- Wi-Fi Direct (p2p) - https://developer.android.com/guide/topics/connectivity/wifip2p
- Wi-Fi Aware (NAN) - https://developer.android.com/guide/topics/connectivity/wifi-aware
- Wi-Fi RTT (IEEE 802.11mc FTM) - https://developer.android.com/guide/topics/connectivity/wifi-rtt
- Companion device pairing (with Wifi filters)  - https://developer.android.com/guide/topics/connectivity/companion-device-pa

[2021-05-07 04:04] daadu commented on #140
@mavyfaby @Niek @fedepell @diegotori

Give me your suggestions on this.

I mostly use this package so that users can provision IoT devices.

[2021-05-07 04:16] mavyfaby commented on #140
Yes, if we implement these functions, it will be great. Some of these features aren't yet implemented in flutter plugins or packages, maybe it's implemented but they lack functionalities. This is the time we implement so that this package will have more capabilities as IoT package.

[2021-05-07 04:18] daadu commented on #105
New API to get  current network info (linked after iOS 12), mentioned here - https://developer.apple.com/reference/systemconfiguration/1614126-cncopycurrentnetworkinfo

[2021-05-07 04:18] daadu commented on #121
New API to get  current network info (linked after iOS 12), mentioned here - https://developer.apple.com/reference/systemconfiguration/1614126-cncopycurrentnetworkinfo

[2021-05-07 04:19] daadu commented on #91
@KnowLedgeWat Are you still facing this issue in latest pub version. Request you to close this issue, if not a problem anymore.

[2021-05-07 04:24] daadu commented on #64
Do you find this issue with latest pub version? It could be because of android-embedding-v1 used in older pub version (0.1.x series)

[2021-05-07 04:25] daadu commented on #119
Looks like not implmentable. Closing this issue. Feel free to request to re-open it.

[2021-05-07 04:25] #119 closed

[2021-05-07 04:28] daadu commented on #135
Closing this issue. Feel free to request to re-open.

解决此问题。 随时要求重新打开。(from Google Translate)

[2021-05-07 04:28] #135 closed

[2021-05-07 04:30] daadu commented on #137
@mengsiyitiaojie

Additionally can you translate the REDME to Chinese? It would be great. This would help other Chinese developers to use this repo.

另外，您可以将REDME翻译成中文吗？ 这会很棒。 这将帮助其他中国开发人员使用此存储库。 [translated with Google Translate]

[2021-05-07 05:22] daadu commented on #138
This [doc](https://developer.android.com/reference/android/net/wifi/WifiManager#startScan()) suggests it is deprecated, that is why we removed it.

Can you test if it works in >= P, will add it if you confirm it.

[2021-05-07 05:25] daadu commented on #138
Reading the doc, you mentioned further suggest it is not completely deprecated, but throttled. In that case we should remove this condition.

Can you file PR, that you have tested properly - with this removed?

[2021-05-07 05:53] daadu commented on #107
There is no general way to "scan and get wifi list in iOS", [check](https://developer.apple.com/reference/systemconfiguration/1614126-cncopycurrentnetworkinfo).

Closing this issue. Feel free to request re-opening.

[2021-05-07 05:53] #107 closed

[2021-05-07 05:55] daadu opened #142 "⚠ [ios] handle deprecation of CNCopyCurrentNetworkInfo"
- `getSSID`, `getBSSID` for ios - should fail because of it
- `getSSID` is internally used in handling  `isEnabled`, `connect`, `disconnect`, those might be affected as well

# Docs
- CNCopyCurrentNetworkInfo - https://developer.apple.com/reference/systemconfiguration/1614126-cncopycurrentnetworkinfo

[2021-05-07 08:05] PlutoHDDev commented on #139
Thank you very much for the answer. My plan was to turn on a device's hotspot so that a tablet or computer can connect to it and use the smartphone's mobile internet access - just via an app in certain situations. Unfortunately, from what I have read in other issues, this no longer seems to be possible. If I'm wrong, please correct me. It's kind of sad, but that's how things seem to be.

[2021-05-07 09:17] gabrieletelesca commented on #129
@BenoitDuffez I followed this tutorial: https://developer.android.com/guide/topics/connectivity/wifi-scan

[2021-05-07 17:10] daadu commented on #140
@diegotori That goes without saying, will have tables as we have in the current README.

[2021-05-07 17:30] BenoitDuffez commented on #138
It's hard to test in my opinion, I never know when I'm getting the AP list from a previously cached scan or from an actively triggered fresh scan. Do you know?

[2021-05-08 04:46] fedepell commented on #140
@daadu sounds of course good to me! Not a small work to do and for sure (as already said) it may be hard to make it supported also on iOS (ie. AFAIK iOS has another similar peer-to-peer protocol called AirDrop or so).

Note for wifi-direct as I already looked once around this also exists: https://github.com/mintware-de/flutter_p2p

[2021-05-08 06:42] daadu commented on #140
Additional Doc for iOS - https://developer.apple.com/library/archive/qa/qa1942/_index.html - defines different Wifi APIs and there use cases in iOS

One issue we might have is the plugin size increasing - I think the better idea would be to maintain it as separate plugin under same repo (like [firebase](https://github.com/FirebaseExtended/flutterfire) or [plus_plugins](https://github.com/flutterco

[2021-05-08 07:07] daadu commented on #140
The above includes, breaking the current plugin too - into two - one for WIFi STA and one for WiFi AP/Hostpost.

[2021-05-08 08:08] daadu commented on #138
Nope, there isnt.

By test I ment it is not crashing or throwing error, if called multiple times - instead silently ignored by Android.

[2021-05-08 08:20] daadu opened #143 "[breaking] reduce repo size from 190mb"
The current github repo has large files (`build/` dir, etc) in the history, this has bloated the repo size.

[bfg](https://rtyley.github.io/bfg-repo-cleaner/) tool could be used to clean this history up. But this would have breaking changes - the forked/ repo still have those old commit and any PR from those repos will bring back those commit. This could be resolved in (on of the) two ways:

1. fo

[2021-05-08 08:21] daadu commented on #140
Since we are talking reforms I have added another issue #143 that could cause breaking change. Give your views there too.

[2021-05-08 08:26] daadu commented on #143
CC: @alternadom

[2021-05-08 14:39] BenoitDuffez commented on #138
Okay so yes I tested on my pixel 3 xl, it doesn't crash.

[2021-05-08 17:03] alternadom commented on #143
Hi,
The option 1 seems to be good for us!
What is your opinion @daadu about all of this ?
Thanks for all you work here by the way 😉

[2021-05-08 18:58] daadu commented on #138
Ok, can you file PR for this?

[2021-05-10 05:26] daadu commented on #140
@fedepell

I contacted @mintware-de (maintainer of [flutter_p2p](https://github.com/mintware-de/flutter_p2p)), He is ok with us merging and maintaing `flutter_p2p`.

[2021-05-10 05:39] daadu commented on #140
@fedepell p2p in iOS is limited to connecting to Apple Devices only. Since the underlying protocol is not disclosed.

More docs related to MPC:
- https://www.toptal.com/ios/collusion-ios-multipeerconnectivity
- https://developer.apple.com/documentation/multipeerconnectivity

[2021-05-11 11:59] martinkong0806 opened #144 "Question about using the plugin on iOS device"
Hello
Appreciated for making the plugin which helps my app a lot for building for IoT, but I just want to ask is getSSID() (or getBSSID)  the only function that is an available function for iOS device? I would like to use the functions associated with Acces Point,  I know this is currently not supported but is it gonna be available soon in the future?
Thanks

[2021-05-11 16:05] daadu commented on #68
@IskanderA1 I have cherry-picked form @IskanderA1 fork at #145 .

@IskanderA1  @BillMac4440   Please review the changes.

[2021-05-12 04:23] fedepell commented on #143
I guess for option 1 you can follow something like described here: https://docs.github.com/en/github/authenticating-to-github/removing-sensitive-data-from-a-repository

[2021-05-12 07:15] #68 closed

[2021-05-12 11:41] BillMac4440 commented on #108
Perhaps the version should have been bumped after the merge of the hidden SSID.  I had to use the commit number because the previous was also 0.3.2.  Getting setup to test it.

[2021-05-12 12:11] BillMac4440 commented on #108
Worked great! Configured the module with a hidden soft AP.

[2021-05-12 12:52] daadu commented on #138
Closing this issue as fixed by #146

[2021-05-12 12:52] #138 closed

[2021-05-12 12:59] daadu commented on #68
This fix/feature has landed with [v0.3.3 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.3.3).

[2021-05-12 12:59] daadu commented on #108
This fix/feature has landed with [v0.3.3 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.3.3).

[2021-05-12 12:59] daadu commented on #138
This fix/feature has landed with [v0.3.3 on pub.dev](https://pub.dev/packages/wifi_iot/versions/0.3.3).

[2021-05-12 13:35] BillMac4440 commented on #108
Updated my pubspec for v0.3.3 and not the commit.  Works great, thank you so much for all your work on this!

[2021-05-12 13:43] daadu commented on #143
@alternadom I think I do not have proper permission to update all the refs

These the logs
[code]

[2021-05-12 13:46] daadu commented on #143
Some information about this:

- Files/Folderes to be cleaned from history
  - dir `example/build/`
  - dir `example/ios/Flutter/flutter_assets/`
  - dir `example/ios/Flutter/App.framework/`
  - dir `example/ios/Flutter/Flutter.framework/`
  - file `example/ios/Flutter/app.flx`
  - file `example/ios/Flutter/app.zip`
  - dir `example/android/.gradle/`
- `bfg` command to be executed to clean
  - `jav

[2021-05-12 13:49] daadu commented on #91
Closing this issue, since no response. Feel free to request re-opening of it.

[2021-05-12 13:49] #91 closed

[2021-05-12 13:49] daadu commented on #64
Closing this issue, since no response. Feel free to request re-opening of it.

[2021-05-12 13:49] #64 closed

[2021-05-12 14:07] daadu commented on #143
Looks like that `git push` worked, it pushed to `master` but failed with "hidden ref" (read-only PR ref).

The repo size is now - `645.72 KiB`!!

Attaching `bfg` report for this operation. Just in case.
[19-08-15.zip](https://github.com/alternadom/WiFiFlutter/files/6466688/19-08-15.zip)

Also, I have backed up the original repo on my machine, just in case, will push that if required (Although, I d

[2021-05-12 14:13] daadu commented on #143
Keeping a fork (pre-cleanup) as a backup for old repo - https://github.com/daadu/WiFiFlutter-143-pre-bfg

[2021-05-12 15:11] daadu commented on #143
Closing this issue. Feel free to request re-opening.

[2021-05-12 15:11] #143 closed

[2021-05-16 10:36] pyon123 commented on #33
I also have a problem.
I am trying to connect wifi on iOS phone using wifi_iot library.

WiFiForIoTPlugin.connect(ssid, password: password, security: NetworkSecurity.WPA);

There is no MissingPluginException and it doesn't seem to publish any error.

But I can't connect to other wifi with my Phone. (Android works fine.)
Does anyone solve this issue?

[2021-05-16 11:06] pyon123 commented on #75
In my case, Android is working fine, but not working in iOS.
Would you like to explain me how you implement it in iOS?

[2021-05-16 13:17] daadu commented on #75
`isConnected` is not working because of new restrictions added by iOS (not returning current SSID, based on which `isConnected` works). Issue  #142 is tracking this change and it's fix. PR is most welcomed.

[2021-05-16 13:20] daadu commented on #33
@pyon123  Did you add proper entitlements (this part is missing in README) - `Hotspot Configuration` and  `Access WiFi Information` ?

[2021-05-16 14:17] pyon123 commented on #33
@daadu Thanks for your kind reply.
I am not sure I configure it successfully. This is all what I do.
![image](https://user-images.githubusercontent.com/66934494/118400357-daaab380-b693-11eb-9b53-7b60c8cd149a.png)

it is working fine in Android 9.0. But not working iOS. My iOS version is 12.5.3.
I made ESP32 device as an access point and trying to connect to that device with my phone.
So no need to

[2021-05-16 15:11] daadu commented on #33
@pyon123 "Hotspot" in iOS is not "Accesspoint (Hotspot) in WLAN", is the underlying library name, that the package uses.

Additional setups, that are not documented in README, are as following, please follow them and let me know if it works.

![Screenshot from 2021-05-16 20-39-11](https://user-images.githubusercontent.com/4963236/118402308-f5c2f680-b686-11eb-8251-577b9dd977b6.png)

[2021-05-16 15:25] daadu opened #148 "[doc,ios] add instruction for adding framework and entitlments in README"

[2021-05-16 15:26] daadu commented on #142
CC: @fedepell @Niek @mavyfaby

[2021-05-16 15:29] daadu commented on #142
The recommended method to replace it is [`fetchCurrentWithCompletionHandler`](https://developer.apple.com/documentation/networkextension/nehotspotnetwork/3666511-fetchcurrentwithcompletionhandle), this is part of `HotspotHelper API` which requires "special entitlements", to be requested from Apple manually [here](https://developer.apple.com/contact/request/hotspot-helper/).

I have filled a simila

[2021-05-16 15:33] daadu commented on #142
Actions that we can take now:
- remove dependencies of `isConnected`, `connect` and `disconnect` method on `getSSID`.

Need to be discussed:
- Whether to implement, the ` fetchCurrentWithCompletionHandler`  or deprecate (add warning note in README) `getSSID` and `getBSSID` for iOS.

[2021-05-16 15:39] daadu commented on #142
I am not a native iOS developer, this method would take time to be removed (assuming apple gives a breathing period for this). Anyways need to alteast ways to not use `getSSID` internally for other methods.

[2021-05-16 15:56] daadu commented on #142
Looks like ` fetchCurrentWithCompletionHandler` does not require Hotspot Helper entitlement.

from Official source in Apple forum - https://developer.apple.com/forums/thread/675211?answerId=664741022#664741022

[2021-05-16 15:58] daadu commented on #142
[This answer on SO](https://stackoverflow.com/a/66456775/2554745) has a possible solution.

[2021-05-16 16:16] daadu commented on #142
Good News: the `NetworkInfo` instance can provide signal strength, although the value is double from (0.0 to 1.0, lowest to highest), while in Android it is RSSI (which are values <0). Need to do additional calculate (and mention it in README) to bring it to parity.

[2021-05-16 16:16] daadu commented on #142
Additionally we can implement `getIP` too.

[2021-05-16 16:19] daadu opened #149 "[ios] implement getIP"
- for `getCurrentSignalStrength`
  - use the new [`fetchCurrent`  APIs](https://developer.apple.com/documentation/networkextension/nehotspotnetwork)
    - to to transform value to RSSI, to be in parity with Android implementation
- for `getIP`
  - ??

[2021-05-16 16:29] daadu commented on #142
Filed the PR related to it, can someone with iOS 14 device test it?

[2021-05-19 23:39] vishnuparker commented on #83
I was unable to use this plugin we need to auto connect to wifi using ssid and password , AND API >29 ITS deprecation

[2021-05-20 02:31] daadu commented on #83
@vishnuparker Can you give more details.

[2021-05-20 02:54] vishnuparker commented on #83
Is it possible to manually connect to SSID and PASSWORD , from the app . using this plugin . Can we hard code ssid and password's to connect dynamically .so that we can connect to any WIFI network after scanning .And I also able to see we can able to connect to registered network only  Not dynamically meaning if we already connect by device manually .

[2021-06-01 08:05] iCiki opened #151 "wifi_iot-0.3.3/ios/Classes/WifiIotPlugin.m:2:9: fatal error: 'wifi_iot/wifi_iot-Swift.h' file not found"
/Users/mac/.pub-cache/hosted/pub.flutter-io.cn/wifi_iot-0.3.3/ios/Classes/WifiIotPlugin.m:2:9: fatal error: 'wifi_iot/wifi_iot-Swift.h' file not found
    #import <wifi_iot/wifi_iot-Swift.h>
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 error generated.

[2021-06-10 17:48] yuriboeira11tx opened #152 "Note: Some input files use or override a deprecated API. Note: Recompile with -Xlint:deprecation for details."
In build release this message is returned. Any suggestions?

[2021-06-11 05:19] daadu commented on #152
I think it is safe to ignore. Let me know if you find any operational problem.

[2021-06-12 19:07] vishnuvarthann opened #153 "wifi connect with out internet"
I can able to connect to specific network with ssid and password ,but after successfulLy connected i canable to see it not connect with internet , any work around if i try with  withInternet:false, it does not show teh popup and if set true it does ,

  WiFiForIoTPlugin.connect("xccxcxcxxxcx",
          password: "nsdvsdvasdv",
          withInternet:false,
          joinOnce: true,
          secu

[2021-06-13 07:33] daadu commented on #153
after connecting try `forceWifiUsage(true)` before making networking request.

Make sure you disbale it again after disconencting to the network.

[2021-06-13 12:43] vishnuvarthann commented on #153
was try to connect it with ssid and password . it works . when i was try with another ssid and pasword . which has no internet connection  and it try to connect and disconnect .

[2021-06-14 11:27] vishnuvarthann commented on #153
if i try to connect with specifi c ssid and password after successfully connected but without internet .

why it should show in saved network list  ,if an ssid is succesfully connect it should display in save network  i think .
forcewifiusag(true) where we need to call after hit WiFiForIoTPlugin.connect
  _selectedItem(resultssid, BuildContext context) async {
    Scaffold.of(context).showSnackBar

[2021-06-15 03:22] daadu commented on #153
In latest Android version, connect network from WIfi does not add to the saved wifi list.

You might want to check `registerNetwork` for that.

And in above example you need to `await` for `connect` method, then call `forceWifiUsage`

[2021-06-15 04:37] #153 closed

[2021-06-16 07:12] #139 closed

[2021-06-16 13:21] yuriboeira11tx commented on #152
Okay, thanks!

[2021-06-16 13:21] #152 closed

[2021-06-18 00:45] vishnuvarthann opened #154 "Unable to connect to device"
Unabl to connect to device  . i an getteing error message No device found.Make sure  device are turned on  and avilable  to connect   and i am try with Samsung Galaxy S20 5G,

[2021-06-18 06:49] vishnuvarthann commented on #154
does this Wififlutter support all the device  api starting from api 26 to api 30 .what arethe restriction is there. like network side 3G OR 5G Network

[2021-06-18 12:04] daadu commented on #154
Yes, it supports all Android APIs. post API 29, there are 2 different APIs that the plugin calls based on `withInternet` flag (`WifiNetworkSpecifier` or `WifiNetworkSuggestion`), in `connect` methods, rest caveats are mentioned in README.

[2021-06-18 12:05] daadu commented on #154
also if `withInternet` is set to `false`(default), you need to call `forceWifiUsage(true)` and not forget to disable that when you want to use "internet"

[2021-06-19 04:34] vishnuvarthann commented on #154
Does it support ios version too  , and in android does it support the below api 29 .

[2021-06-19 05:28] daadu commented on #154
Yes it does. Encourgae you to go through README once.

[2021-07-05 22:54] fernando-s97 opened #155 "OS Error: Network is unreachable"
Hi!

I can successfully connect to one AP device from my Android, but once I'm connected, I navigate to another screen and from there I can make some http requests, but all of them fail with `SocketException: Connection failed (OS Error: Network is unreachable, errno = 10`.

This only happens if connect programatically. If I manually connect from the wifi settings and get back to the app, everythi

[2021-07-06 05:57] daadu commented on #155
You need to use `forceWifiUsage(true)`, before making request and disable it once done.

[2021-07-06 12:21] fernando-s97 commented on #155
@daadu I'll try this ASAP. Thanks

[2021-07-06 15:15] fernando-s97 commented on #155
@daadu That worked like a charm. Thanks again!

[2021-07-06 15:15] #155 closed

[2021-07-09 05:49] #75 closed

[2021-07-09 05:49] #142 closed

[2021-07-09 05:49] #121 closed

[2021-07-09 05:59] daadu commented on #105
The fix has landed on pub.dev with v0.3.4.

@DominikStarke Thanks for reporting this bug. Check yourself in README!!

[2021-07-09 05:59] daadu commented on #75
The fix has landed on pub.dev with v0.3.4.

@felixsmart  Thanks for filing this bug. Check yourself in README!!

[2021-07-09 05:59] daadu commented on #121
The fix has landed on pub.dev with v0.3.4.

@briansemrau  Thanks for reporting this bug. Check yourself in README!!

[2021-07-09 06:00] daadu commented on #142
The fix has landed on pub.dev with v0.3.4.

[2021-07-09 07:10] lgozalvez commented on #75
Amazing!, Thanks (I'm the CTO of Felix Smart)

[2021-07-16 20:04] troyredder opened #156 ".isEnabled and .isConnected returning false"
We are using these two flags to confirm a connection with iOS devices which has been working as expected until 0.3.4 release.  Both flags are never returning true within that release.

[2021-07-17 05:24] daadu commented on #156
What iOS device are you testing it?

[2021-07-17 05:43] daadu commented on #156
Also if you got time can you through #150 which was added to v0.3.4, to see if what can be the bug introduced in this version.

[2021-07-20 13:50] xhorizont opened #157 "shouldOpenSettings"
I tried example code and get error in VS Code

The named parameter 'shouldOpenSettings' isn't defined.
Try correcting the name to an existing named parameter's name, or defining a named parameter with the name 'shouldOpenSettings'.

Help

J

[2021-07-27 02:12] vishnuparker opened #159 "ios issues"
MissingPluginException : MissingPluginException(No implementation found for method isWiFiAPEnabled on channel wifi_iot)

Hi Was trying with ios 12 devic i was unable to connect with ssid and password

[2021-07-27 08:28] sokunsamnang opened #160 "Used to connected wifi on the system setting device, can't connect in the app anymore"
Like I mentioned in the title. when I used to connected wifi on the system setting device, I can't connect wifi in the app anymore unless I go forgot the wifi on the system setting device it'll work in the app.

I would like to make users easier and can connect wifi both on the system setting and in the app.

I testing on Android 7

Log:
D/ConnectivityManager(23921): requestNetwork; CallingUid : 1

[2021-07-27 08:55] daadu commented on #160
need to call `WiFiForIoTPlugin.forceWifiUsage(false);` to remove the binding of processs-to-network.

[2021-07-27 09:42] sokunsamnang commented on #160
turn `WiFiForIoTPlugin.forceWifiUsage(true);` to `WiFiForIoTPlugin.forceWifiUsage(false);`

or call `WiFiForIoTPlugin.forceWifiUsage(false);` to somewhere else ?

[2021-07-27 17:27] starsoft4u opened #161 "I cannot get the SSID of current connected Wifi on ios 14.3 and 14.6. It is returning null value."

[2021-07-28 01:25] daadu commented on #160
I misunderstood your question.

For system wide Wifi you need to use `withInternet: true`.

[2021-07-30 02:36] eGBang opened #162 "In Android 10 above, I was unable to get the wifi gateway IP when connect to my IoT WiFi Hotspot in App"
Hi, this is the first time I post an issue so if I do anything wrong please correct me thanks.

When I used this plugin (it's awesome thanks for the effort) to connect my WiFi Hotspot in my App in Android 10 or above, I found out that my connection doesn't have gateway IP. So this causes a problem to connect to my IoT devices WebSocket server. (Connection refused, ping gateway IP results unreachab

[2021-07-30 10:10] ThalapathySiva opened #163 "IOS - Could't connect, [] NEHotspotNetwork nehelper sent invalid result code [1] for Wi-Fi information request"
Log :

2021-07-30 15:29:05.549765+0530 Runner[431:46541] Metal API Validation Enabled
2021-07-30 15:29:05.949227+0530 Runner[431:46733] flutter: Observatory listening on http://127.0.0.1:52268/MGbPwqfeTko=/
WiFi network not found
2021-07-30 15:29:15.262989+0530 Runner[431:46541] [] NEHotspotNetwork nehelper sent invalid result code [1] for Wi-Fi information request
2021-07-30 15:29:15.268898+0530

[2021-08-01 10:56] ThalapathySiva commented on #163
I have fixed this so closing now.

[2021-08-01 17:19] chmoore889 opened #164 "Unable to programmatically connect"
I'm unable to use the latest version of this package to connect to a WiFi network on Android. Every time I use it I get the message "Something came up. The application has cancelled the request to choose a device." after the popup just loads for 30 seconds.

The `CHANGE_WIFI_STATE` permission is in my main `AndroidManifest.xml` manifest. The code below uses the `connect` method, but I've also trie

[2021-08-09 13:10] sokunsamnang opened #165 "removeWifiNetwork not work"
I use `await WiFiForIoTPlugin.removeWifiNetwork(ssid);` but there is no any action. I want to use it to forget the network that connected, Am I use the right function as `await WiFiForIoTPlugin.removeWifiNetwork(ssid);` ?

[2021-08-09 13:19] daadu commented on #165
What version are you testing on? The behaviour is different based on it.

[2021-08-09 13:32] sokunsamnang commented on #165
the latest version wifi_iot: ^0.3.4

[2021-08-09 13:39] daadu commented on #165
Sorry, was asking about Android version.

[2021-08-09 13:40] sokunsamnang commented on #165
Android 7.0

[2021-08-11 10:46] sultanmyrza commented on #163
I'm getting error
[code]

@ThalapathySiva What was the solution in your case?

#### My environment
[code]

#### My `Runner.entitlements`
![Screen Shot 2021-08-11 at 6 36 01 PM](https://user-images.githubusercontent.com/12681781/129014930-8aa32092-da3d-4506-ba1f-a7bd7cc8bee8.png)

<details>
  <summary>click to expand</summary>
[code]
</details>

#### My `Info.plist`

<details>
  <summary>click to e

[2021-08-11 11:46] sultanmyrza opened #166 "IOS - Could't connect, [] NEHotspotNetwork nehelper sent invalid result code [1] for Wi-Fi information request"
I run example app https://github.com/alternadom/WiFiFlutter/tree/master/example on ios getting this error
[code]

#### My environment
[code]

#### My `Runner.entitlements`
![Screen Shot 2021-08-11 at 6 36 01 PM](https://user-images.githubusercontent.com/12681781/129014930-8aa32092-da3d-4506-ba1f-a7bd7cc8bee8.png)

<details>
  <summary>click to expand</summary>
[code]
</details>

#### My `Info.plis

[2021-08-17 13:04] daadu commented on #165
This should be working for Android SDK 24, can you share any logs?

[2021-08-18 16:12] Hallot opened #167 "[Android] loadWifiList fails if location permission is requested at the same time"
What: Calling `WiFiForIoTPlugin.loadWifiList()` if location permission hasn't been granted yet fails on Android.

How to reproduce: Using the example, clicking on "Scan" will fail the first time. The permission prompt will appear, and even if the permission is granted, the scan will fail and no wifi list will appear. Clicking "Scan" a second time will work (assuming the permission was granted).

R

[2021-08-19 06:22] daadu commented on #167
@Hallot This has been a long-standing issue (not with just with `loadWifiList`, but any method that "requires location permission").

It would be great if you file PR to correct this behaviour, it seems non-trivial last time I checked, but I could be wrong - so give it a try!

I for my project use another plugin (like [`location_permissions`](https://pub.dev/packages/location_permissions)) to chec

[2021-08-19 17:22] OliverRhyme opened #168 "onWifiScanResultReady not working"
onWifiScanResultReady not working but loadWifiList is working. Im on android 11 btw.

[2021-08-20 15:34] Hallot commented on #167
@daadu I've given it a shot, it fixes the problem and hopefully breaks nothing.
The Android API is pretty horrible honestly, it would be so much nicer to be able to do something like `permissionResult = await requestPermissions()` instead of having to put everything in a gigantic callback, but oh well.

[2021-08-24 14:08] daadu commented on #168
make sure the location permissions are granted. A fix is currently under review with #169, for getting this permission.

[2021-08-28 13:12] daadu commented on #163
Sure, can you file PR for it?

[2021-08-28 13:13] daadu commented on #166
Related issue: #163

[2021-08-31 07:24] lprasadjnew opened #170 "Example not working at all."
This complex program is not working all. Getting smart cast issues. Please provide a simple example.

[2021-09-01 01:26] enzodanjour commented on #170
I'm studing this repo, when have time i'll create a PR with a documentation using good examples.

[2021-09-01 01:53] enzodanjour opened #171 "(QUESTION) connect with prefix ssid"
In another package that calls flutter wifi connect has a function called connect prefix ssid, which will connect with similar name ssid,
ex:
`
ssid = 'hello-world123'
prefix_ssd= 'hello-'
`
 in WiFiFlutter is there something similar?

[2021-09-01 10:20] daadu commented on #170
@enzodanjour @lprasadjnew

I agree that the example is too complicated and may be outdated.

Would be great if you can work on it and file PR.

[2021-09-03 08:11] yongjieYuan opened #172 "Why there is no comment"
Can you provide some comments in the example, and where can I get the about api document, I have been reading the example for a day, it’s too much work

[2021-09-04 05:43] daadu commented on #171
There is no current implementation of it. Feel free to file PR if you implement it.

[2021-09-04 05:44] daadu commented on #172
@yongjieYuan Discussion/work on revamping example is being tracked on #170. Please give you input there. Closing this issue, therefore.

[2021-09-04 05:44] #172 closed

[2021-09-06 03:22] yongjieYuan commented on #172
Thanks for your responsive, I should spent much  time on searching this plugin, and I  will focus this project continually.

[2021-09-06 03:23] yongjieYuan commented on #172
Thanks for your responsive, I should spend much time on searching this plugin, and I will focus this plugin continually.

[2021-09-06 11:13] #167 closed

[2021-09-06 17:11] pedrojalbuquerque opened #173 "Erro when build with Permissions"
final bool wasPermissionGranted = grantResults.length > 0 && grantResults[0] == PackageManager.PERMISSION_GRANTED;

Erro not find bool, the correct is:

final boolean wasPermissionGranted = grantResults.length > 0 && grantResults[0] == PackageManager.PERMISSION_GRANTED;

on WIfiIotPlugin.java, line 192.

Check to fix it.

Thanks

[2021-09-07 00:46] zhanlijia commented on #173
me too

[2021-09-07 05:59] JAICHANGPARK commented on #173
I have same problem

[2021-09-07 06:08] JAICHANGPARK commented on #173
android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java:192: error: cannot find symbol
        final bool wasPermissionGranted = grantResults.length > 0 && grantResults[0] == PackageManager.PERMISSION_GRANTED;

[2021-09-07 06:33] #173 closed

[2021-09-07 06:37] daadu commented on #173
This has landed on pub.dev with v0.3.6.

Thanks for reporting it.

[2021-09-07 06:55] #162 closed

[2021-09-07 08:11] JAICHANGPARK commented on #173
@daadu Thanks !

[2021-09-15 21:11] dadrum commented on #168
To explore the wifi list, the geolocation mode must be enabled on the device

[2021-09-16 14:24] vpalcar opened #174 "Unable to connect with the IoT wifi endpoint"
Hi there,

I am developing the app strictly for Android 11 and want to connect to wifi through the app. It says and shows that it is connected to the wifi (when I go to the wifi settings it is said that wifi is connected through the app and there is an exclamation mark next to the wifi icon). When I try to send the simple get request to the IoT device I am connected to, it doesn’t work (although I

[2021-09-16 17:22] daadu commented on #174
need to use `forceWifiUsage(true)` and disable it again - when you make network call with the wifi connected.

[2021-09-16 21:56] vpalcar commented on #174
Sorry, could you add some more context to that? I also use a webview to show the interface of the connected IoT device, so I am not really sure where to use this forceWifiUsage and when to disable it.

[2021-09-17 15:25] DominikStarke commented on #105
This issues seems to have resurfaced with the use of `NEHotspotNetwork.fetchCurrent`
With the entitlements and usage descriptions from the initial post I can't get getSSID to work on iOS 14.4.2 (physical device).

The location permissions are set to always and allow fine location.

CNCopySupportedInterface still works, so if I comment out
[code]

I also tried SwiftWifiIotPlugin to directly impleme

[2021-09-18 06:31] DominikStarke commented on #161
Same issue:
https://github.com/alternadom/WiFiFlutter/issues/105

Seems like NEHotspotNetwork.fetchCurrent either doesn't work as expected, or has weird constraints that aren't documented.

[2021-09-18 22:05] DominikStarke commented on #156
Should be fixed by https://github.com/alternadom/WiFiFlutter/pull/175 this is due to isEnabled and isConnected's reliance on getSSID which isn't working in the current version.

[2021-09-19 00:47] daadu commented on #174
`forceWifiUsage` when enabled, binds the app processes to the network that is connected with `connect` method, therefore to make network calls via the connected network you need to enable it and since the network restricts "the Internet" usage, you need to disable it when making network call to "the Internet"

[2021-09-19 01:24] daadu commented on #163
Closing this, will be further discussed at #166.

[2021-09-19 01:24] #163 closed

[2021-09-19 01:28] daadu commented on #166
the fix for `getSSID` is done at #175.

@DominikStarke Does the PR fix this issue too?

[2021-09-19 07:19] DominikStarke commented on #166
Maybe!?

I've only ever seen this error if com.apple.developer.networking.HotspotConfiguration isn't properly set.

It requires the provisioning profile to contain the entitlement and can only be unlocked on developer.apple.com.
Manually adding it to the entitlement file is not enough.

[2021-09-19 12:18] daadu commented on #166
@sultanmyrza Can you test against PR and let us know if it fixes the issue. Else as @DominikStarke suggested, check the entitlements the profiles on developer.apple.com account.

[2021-09-19 12:22] #105 closed

[2021-09-19 12:22] #161 closed

[2021-09-19 12:51] daadu commented on #105
This has landed on pub.dev with [v0.3.7](https://pub.dev/packages/wifi_iot/versions/0.3.7)

[2021-09-19 12:52] daadu commented on #161
This has landed on pub.dev with [v0.3.7](https://pub.dev/packages/wifi_iot/versions/0.3.7)

@starsoft4u Thanks for reporting this, check yourself on README!

[2021-09-19 12:55] daadu commented on #156
Closing this as fixed with #175. It has landed of pub.dev with v0.3.7

@troyredder Thanks for reporting the bug, check yourself on README.

[2021-09-19 12:55] #156 closed

[2021-09-19 13:16] daadu commented on #159
"Wifi AP mode" is not supported in iOS. Only station mode is supported.

[2021-09-19 13:16] #159 closed

[2021-09-19 13:17] daadu commented on #157
make sure you are upgraded to latest version of the package.

Closing this issue, feel free to request re-opening.

[2021-09-19 13:17] #157 closed

[2021-09-19 13:20] daadu commented on #154
Did it work? Should I close the issue?

[2021-09-19 13:20] daadu commented on #160
did it work? Should I close the issue?

[2021-09-20 06:00] daadu commented on #134
@fedepell Can you explain this, I did not get WDYM by " using the info from the specific object returned"?

[2021-09-20 06:16] daadu commented on #134
`LocalOnlyHotspot` is since API 26, and we use it only for >= 29. I assume because the hidden API used for AP works till then, but should enable it for 26+ (instead of current 29+), since it is the official API. If not then we should have flag argument like `localOnly: false` that enables it for 26+.

[2021-09-20 07:46] fedepell commented on #134
@daadu : what I meant is that we could ask the info from `SoftApConfiguration` (see [link](https://developer.android.com/reference/android/net/wifi/SoftApConfiguration)). But as @mavyfaby correctly mentioned, that is available from 30 up, so we could make it work just for `>=30`

Sad to say but with all these continuous changes in the API support, it is quite hard to be effective and have decently

[2021-09-22 05:10] daadu commented on #149
@DominikStarke at #176

[2021-09-22 05:16] #149 closed

[2021-09-22 05:22] daadu commented on #149
This feature has landed on pub.dev with v0.3.8.

[2021-09-25 07:29] gamelaster commented on #153
Hi @daadu

I don't think it's true. The WiFi Launcher app (which is open-source) does it: (Android 11, OnePlus 6T)
![image](https://user-images.githubusercontent.com/1665373/134762940-6d78c171-e301-47af-a7bb-dfe2a53b402a.png)

I found this [code](https://github.com/borconi/WifiLauncherforHUR/blob/5eb1fc7b9f9b35182b96e4c50838b02145e1608a/app/src/main/java/com/borconi/emil/wifilauncherforhur/service

[2021-09-30 09:09] mvn-quannguyen2-dn opened #177 "Method native NEHotspotConfigurationManager.shared.removeConfiguration not working on IOS 15"
Hi there,

I am developing an IoT application, thanks to using your wifi_iot library it helps me a lot in my work, thanks a lot. But now I am facing a problem when using the wifi disconnection function when running the app on `IOS 15` device. The specific case is after I connect to wifi using `WiFiForIoTPlugin.connect` method, then I use `WiFiForIoTPlugin.disconnect` to disconnect but it doesn't w

[2021-10-01 06:02] daadu commented on #177
CC: @DominikStarke - because he knows iOS environment better.

[2021-10-01 08:06] kristimeculi commented on #174
Do we have any update on this issue? How can we use it.

[2021-10-01 12:56] gautamenbake opened #178 "Device to use with is taking 20-30 secs"
Pls give some hint how to minimise the time
currentCompiled sdk is 29
miui 12 (realme) device

[2021-10-01 17:20] daadu commented on #178
Not sure what could be the reason.

[2021-10-01 17:21] daadu commented on #178
It should not happen that way.

[2021-10-01 21:18] MLuan commented on #174
My code was working normally, and then i just receive the log ` "ConnectivityManager.CallbackHandler(25762): callback not found for CALLBACK_IP_CHANGED message"`.
It's a weird behavior, the Future dosent wait anymore just go through the rest of the code.

My code is like this:
`bool result = await WiFiForIoTPlugin.connect(ssid: 'wifi_ssid: 'wifi_password',
        security: NetworkSecurity.WPA,
);

[2021-10-02 16:24] daadu commented on #174
@MLuan any clue in the logs? Why it is not connecting.

`forceWifiUsage` needs to be called to access network through the connected wifi, also while it is enabled network calls through main network (with internet) does not work so you should disable it when you want to use that. This is the reason it is not enabled by default by the app.

[2021-10-03 08:22] DominikStarke commented on #177
I just upgraded a phone to iOS 15. Disconnecting from an AP works for me.

A word of warning: If you connect to a known network and disconnect from it, it might happen that the iPhone reconnects to it. You might try the joinOnce flag on connect() and in your phones wifi list ignore your AP.

If this doesn't help please post your entitlements.

[2021-10-04 04:39] mvn-quannguyen2-dn commented on #177
@DominikStarke cc @daadu  I see apple released iOS 15.0.1 in the last week, don't know if you are testing the issue on version IOS 15.0 or 15.0.1, as I mentioned above, my project runs fine with iOS 14 and below.

**Here is the config information to try using wifi**

`App requires location permission before getting wifi information`

[2021-10-04 09:10] mvn-quannguyen2-dn commented on #177
@DominikStarke This wifi disconnect function on IOS 15 is not stable, sometimes it can disconnect wifi.

`A word of warning: If you connect to a known network and disconnect from it, it might happen that the iPhone reconnects to it. You might try the joinOnce flag on connect() and in your phones wifi list ignore your AP.`

This warning I know, so the issue I mentioned above, is not in this case

[2021-10-04 10:17] DominikStarke commented on #177
There is no other way to disconnect from networks I'm aware of other than `NEHotspotConfigurationManager.shared.removeConfiguration`

My test yesterday was with iOS 15.0 and I just retested with 15.0.1.
Out of ~200 tests disconnect never failed across multiple iPhones (6, 11).

When disconnecting do you see the "trying to disconnect from 'xxx'" (xxx should be the ssid of your ap) log?

If it doesn

[2021-10-05 11:58] mvn-quannguyen2-dn commented on #177
@DominikStarke cc @daadu
The code you shared above is not working, `wifiList.forEach` does not return any SSID even though the app is connected to a wifi

`When disconnecting do you see the "trying to disconnect from 'xxx'" (xxx should be the SSID of your ap) log?`

Yes, when disconnection, I see the log with SSID information, although debug saw the log with SSID information and called the `remove

[2021-10-05 14:34] DominikStarke commented on #177
Ok, since getConfiguredSSIDs returns nothing:

(see https://developer.apple.com/documentation/networkextension/nehotspotconfigurationmanager/2866695-getconfiguredssids)

This same limitation applies to NEHotspotConfigurationManager.shared.removeConfiguration

(see https://developer.apple.com/documentation/networkextension/nehotspotconfigurationmanager/2866727-removeconfiguration)

This means if yo

[2021-10-05 14:54] mvn-quannguyen2-dn commented on #177
@DominikStarke Sorry, the restriction you mentioned above, I know that restriction. The wifi I want to disconnect on is a wifi connection by the app, not wifi that was manually entered earlier in the settings of the iPhone or another app. It's weird, it works fine on IOS 14 and below, but not on IOS 15. It's strange that the `removeConfiguration` function works fine on your device

[2021-10-05 14:56] mvn-quannguyen2-dn commented on #177
@DominikStarke I also Forgot WiFi in my iPhone settings and checked it before connecting with the app

[2021-10-05 15:11] DominikStarke commented on #177
That's weird. Not just my phone. I picked up 6 other iPhones with iOS 15 and 15.0.1 in the office today and none had issues disconnecting.

[2021-10-05 15:26] mvn-quannguyen2-dn commented on #177
@DominikStarke Thank you very much for supporting me, tomorrow I will try it on many other devices and see how it goes

[2021-10-07 12:08] martinkong0806 opened #179 "Podfile is out of date Issue"
Hi there,
I was trying to fork the repository and run the example, but i countered an issue that stops my app building.

To reproduce the problem:
Run  example/main.dart in Android Studio

Here is the log:
![Screenshot 2021-10-07 at 13 03 22](https://user-images.githubusercontent.com/50043994/136380628-05ce38a1-548e-4874-94c2-9e0233c01ce0.png)

No issues when running `flutter doctor` :
![Screensho

[2021-10-07 12:30] daadu commented on #179
@martinkong0806 The example app is outdate and needs a revamp.

The discussion around it is being tracked at  #170. Feel free to join and contribute there.

Closing this issue.

[2021-10-07 12:30] #179 closed, assigned to nobody

[2021-10-07 15:40] martinkong0806 commented on #166
Hello, I encountered the same issue as well.
I checked the documents and it was said that in order to make `NEHotspotNetwork.fetchCurrent()` working one of the four requirements must be satisfied, this is written in the NetworkExtentsion file
 -  1. application is using CoreLocation API and has user's authorization to access precise location.
 - 2. application has used NEHotspotConfiguration API t

[2021-10-09 23:38] lfvicent3 opened #180 "When using the plugin the network is inaccessible, IP/gateway does not work"
Hi! I am using this plugin to automatically connect to the network of an ESP32 device.
When I connect to the network directly through the plugin the IP/gateway does not work, making the ESP32 administrative page inaccessible, the same problem was observed when connecting to my home network (making the network without internet, even by having).
On the other hand, when connecting through the device

[2021-10-09 23:39] lfvicent3 opened #181 "When using the plugin the network is inaccessible, IP/gateway does not work"
Hi! I am using this plugin to automatically connect to the network of an ESP32 device.
When I connect to the network directly through the plugin the IP/gateway does not work, making the ESP32 administrative page inaccessible, the same problem was observed when connecting to my home network (making the network without internet, even by having).
On the other hand, when connecting through the device

[2021-10-11 06:17] daadu commented on #181
after connecting when you want to make network  requests, use `forceWifiUsage(true)`. This will make sure that the call is made through the connected network. And when you want to use "main" network (mobile or wifi - with internet) disable it.

[2021-10-12 06:09] daadu commented on #180
Duplicate of #181, Closing this.

[2021-10-12 06:09] #180 closed

[2021-10-12 07:33] FilipKvestak opened #182 "Repetitive scan"
Is it possible to do a repetitive scan, X times in Y seconds?
e.g. to scan WiFi networks 5 times in 10 seconds -> 1 scan every 2 seconds. Or even better, 4 times per second -> 1 scan every 250ms?

Specifically, I need to get RSSI (signal strength) of nearby WiFi networks in real time, preferably in <1sec intervals.

Thank You.

[2021-10-13 12:39] Dolgovec opened #183 "disconnect() doesn't work"
`E/WifiIotPlugin(26054): Can't disconnect to WiFi, networkCallback is null.`

Trying to disconnect from current WiFi on Android (both real device and emulator), getting this error.

`compileSdkVersion 30`

Any help appreciated. Thank you

[2021-10-14 07:07] Dolgovec commented on #183
@daadu thx for your answer. No, user connects to the network by himself. Issue is closed

[2021-10-14 07:07] #183 closed

[2021-10-16 06:49] kausik-dev opened #184 "WifiForIotPlugin.loadWifiList() always returns empty list. in Android 10"

[2021-10-16 07:24] kausik-dev commented on #133
This doesn't work for me now. I'm gettin build time error when i change the  compileSdkVersion and targetSdkVersion to 28.
please provide any other solution for this issue

[2021-10-20 18:30] Seraffimo commented on #177
I am having the exact same issue. Code worked fine on iphone, ios 14.8. Upgraded that phone to ios 15.0.2. Changed nothing else, it worked on 14.8, failed on 15.0.2. I tried to create a new SSID across both the AP and the iphone (the upgraded phone) to see if somehow that would work. It did not. Deleting/reinstalling app, does not work. Clean build folders ... etc. did not work. Not sure if it mat

[2021-10-25 16:56] nathan2day opened #185 "android connect release mode with obfuscate not working"
This is an Android only issue.

findAndConnect works in debug and release mode:

    WiFiForIoTPlugin.findAndConnect(network_ssid,
               password: password)

connect works only in debug mode:

    WiFiForIoTPlugin.connect(network_ssid,
               security: NetworkSecurity.WPA,
               password: password)

I build a release using:

    flutter build -v apk --split-per-abi --obfu

[2021-11-02 17:45] Soockee commented on #140
Hi folks,
I am a flutter noob. Since I want to implement multi-or trilateration with the WiFi_RTT protocol, while trying out flutter, I require this for my use case.

How difficult/how much time are you estimating for the implementation of RTT? :)

If this is too deep/hard, I won't even try and go for a android native app, even tho I want to try to use flutter :)

[2021-11-03 04:49] fedepell commented on #140
Looking at https://developer.android.com/guide/topics/connectivity/wifi-rtt it doesn't seem that there is too much stuff to do IMO, it's basically wrapping the parts described from **Setup** to **Interpret ranging results** sections. The fact is that you need a device (and an access point) that supports it to do the development, but I guess you should have those since you are asking :)

[2021-11-04 12:16] muhammedkamal commented on #184
same problem

[2021-11-04 12:16] muhammedkamal commented on #184
any updates?

[2021-11-04 16:30] fernando-s97 commented on #184
Same problem here. Maybe it could be related to #129?

[2021-11-05 05:58] akarapontdev1996 commented on #164
+1

[2021-11-06 04:55] daadu commented on #164
The popup timeout is not in our control, it is set by Android.

Do you have any issue if user accepts the connection?

[2021-11-06 05:14] daadu commented on #184
1. Make sure that location permission is granted by user.
2. Use `WiFiForIoTPlugin.onWifiScanResultReady` with `WiFiForIoTPlugin.loadWifiList`

This is how I do it in my proj:

[code]

Unofruntaley, this is not documented anywhere. If it works for you then any PR for doc improvement is welcomed.

[2021-11-06 16:00] chmoore889 commented on #164
@daadu It's not possible to accept the connection as the popup shows the loading indicator until it times out. I know that this issue was introduced at some point after the null-safety migration in `0.3.0`.

[2021-11-06 16:59] daadu commented on #164
@chmoore889 Any hints in logs? Can you paste it here?

[2021-11-06 17:00] chmoore889 commented on #164
@daadu Only log was "Something came up. The application has cancelled the request to choose a device." after the timeout. The last time I did testing was a couple months ago so this issue may not be present in the latest version. I'll update here if I try again.

[2021-11-08 13:00] fernando-s97 commented on #184
@daadu I didn't know the location permission, but I didn't understand the relation between the `loadWifiList` and the `onWifiScanResultReady`. Do I need to call `loadWifiList` and get the response in `onWifiScanResultReady`?

[2021-11-09 04:59] daadu commented on #184
Yes, that is what is working for me.

[2021-11-09 07:58] kausik-dev commented on #184
@daadu  I've tried your solution , but still the list  is  empty.

[2021-11-09 10:50] daadu opened #186 "Announcement: Reforming `wifi_iot`"
Hello everyone 👋

Constant API changes on platforms and increasing functionality has made the current plugin large, complex, and error-prone. Therefore, it would be apt to break the `wifi_iot` plugin into multiple plugins - for easier management and maintenance. The new plugins I have planned would be as follows:
 - 🔴 [`wifi_basic`](https://pub.dev/packages/wifi_basic) - check if has WiFi capabili

[2021-11-09 10:51] daadu opened #187 "[wifi_basic] API design for 1.0"
## APIs
- [ ] `Future<bool> WiFiBasic.hasCapability()`
- [ ] `Furute<bool> WiFiBasic.isEnabled()`
- [ ] `Future<void> WiFiBasic.setEnabled(bool enable)`
- [ ] `Future<WiFiInfo> WiFiBasic.getInfo()`

[2021-11-09 10:52] daadu opened #188 "[wifi_scan] API design for 1.0"
## APIs
- [ ] `Future<void> WiFiScan.request()`
- [ ] `Stream<List<WiFiNetwork>> WiFiScan.resultStream`

[2021-11-09 10:52] daadu opened #189 "[wifi_sta] API design for 1.0"
## APIs
- [ ] `Future<void> WiFiStation.connect(...)`
- [ ] `Future<void> WiFiStation.disconnect(...)`
- [ ] `Future<void> WiFiStation.registerNetwork(...)`
- [ ] `Future<void> WiFiStation.removeNetwork(...)`

[2021-11-09 10:52] daadu opened #190 "[wifi_ap] API design for 1.0"
## APIs
- [ ] `Future<void> WiFiAccessPoint.start(...)`

[2021-11-09 10:53] daadu opened #191 "[wifi_aware] API design for 1.0"
## APIs
- ??

[2021-11-09 10:53] daadu opened #192 "[wifi_rtt] API design for 1.0"
## APIs
- ??

[2021-11-09 11:00] daadu opened #193 "Announcement: Call for new co-maintainers"
Hello everyone 👋

I am looking for having few (about 2-4) co-maintainers to have redundancy (as I primarily work on weekends), platform specialty (I am an iOS noob!), and collective ownership in the spirit of OSS.

Interested ones can comment in the following format:

[code]

Individuals would be chosen on the basis of their existing contributions and willingness to be active with the project.

CC

[2021-11-09 11:09] daadu opened #194 "Migrating to "Flutter Net Work!" Github Org"
Hello everyone 👋

We (@alternadom and me) have decided to move this repo to a new Github org called "Flutter Net Work!". It is to consolidate all networking-related flutter plugins in one place.

The transfer will be done as following:
- [ ] [@alternadom] transfer WiFiFlutter Github repo from @alternadom to @flutternetwork
- [ ] transer `wifi_iot` plugin from [alternadom.com](https://pub.dev/publi

[2021-11-09 14:40] Seraffimo commented on #177
I opened a support ticket with Apple and got connected to a support engineer. He confirmed it as a bug as he was able to replicate with joinOnce = true (with his code). I have since opened a bug report.

[2021-11-09 20:40] Seraffimo commented on #177
After logging a support ticket with Apple and going through several iterations with their engineers, they confirmed it as a repeatable issue on their side. A feedback request has been logged that will eventually become an official bug. Key to the repeatability was having the joinOnce property set to true - and running on 15.X. Logs of same app running on 14.4 and then 15.10 show that the removeCon

[2021-11-10 04:02] daadu commented on #177
@Seraffimo Thanks for reporting this with Apple.

Any changes required from our end?

[2021-11-10 04:47] daadu commented on #140
Hello everyone,

In order to maintain the project as it grows, I have decided to break `wifi_iot` to multiple plugins [#186]. New protocols will have there own plugins - as of now have planned `wifi_aware` [#191] and `wifi_rtt` [#192].

I am closing this issue and further discussion should be done on those threads.

[2021-11-10 04:47] #140 closed

[2021-11-10 15:34] daadu commented on #177
@mvn-quannguyen2-dn do you mean the below from plugin readme?

[2021-11-10 15:45] mvn-quannguyen2-dn commented on #177
@daadu No, I mean we will call methods connection `(WiFiForIoTPlugin.connect)` twice repeatedly the first time the app connects to wifi. Of course, disconnect from wifi that is already connected from the app, not the wifi the user connects to in the iPhone settings. It's just a trick to temporarily solve this problem that I'm using

[2021-11-10 15:49] daadu commented on #177
Ok, just curious how is it solving the problem? I'll have to check the sole thread @Seraffimo mentioned.

@Seraffimo can you post the link to the thread?

[2021-11-17 09:22] daadu commented on #184
Note: Location needs to be enabled for the scan to happen.

[2021-11-17 14:07] kausik-dev commented on #184
Even after enabling the location , the same problem occurs.

[2021-11-23 08:34] pheromone opened #202 "open failed: EACCES (Permission denied) ??"
E/class info.whitebyte.hotspotmanager.WifiApManager$1( 7468): java.io.FileNotFoundException: /proc/net/arp: open failed: EACCES (Permission denied)

  wifi_iot: 0.3.8

[2021-11-23 13:00] daadu commented on #202
hotspot features are not maintained anymore - as it is using "private Android APIs".

Plugin currently only maintains for Android API >= 29.

[2021-11-26 00:57] #202 closed

[2021-11-26 10:32] daadu commented on #166
`[] NEHotspotNetwork nehelper sent invalid result code [1] for Wi-Fi information request` is also logged out when calling `WiFiForIoTPlugin.connect` (Tested with iOS 15).

Turns out that `connect` tries to fetch current wifi info after connecting - to see if it was connected or not - apparenly the comment reads this is to check if wifi was found or not - ios does not throw any error for it. Check

[2021-11-26 11:05] daadu commented on #166
Some references
- [Apple Docs for `apply(_:completionHandler:)`](https://developer.apple.com/documentation/networkextension/nehotspotconfigurationmanager/2866649-apply)

[2021-11-26 12:00] DominikStarke commented on #166
I cannot confirm this right now, because I don't have my macbook available until monday.

It seems we have to check for connectivity before proceeding any further as mentioned in the article:

The article also mentions that we should call fetchCurrent to retrieve a NEHotspotNetwork, which should hold some information regarding the currently joined network. But in my tests these informations were a

[2021-11-26 12:15] daadu commented on #166
I checked by adding delay - it worked but is unreliable - sometimes it too 4s - sometimes 8s, sometimes >10s.

In android in older `connectToDeprecated` method we used to wait for upto 30s - checking every second.

Something similar needs to be implemented.Maybe.

But when calling `connect` twice - second time it always works.

[2021-11-26 12:19] daadu commented on #166
This the code I tested with
[code]

As I said is unreliable - sometimes it does not work even after 15s.

@DominikStarke Let me know if any syntactical error - I don't know ios/swift.

[2021-11-26 12:35] daadu commented on #166
I see 3 approaches (from best case to worse case) from here to reliably return the result of connection request:

1. make `getSSID` work after `NEHotspotConfigurationManager.apply`
2. call `NEHotspotConfigurationManager.apply` twice - as it definetly works the second time
3. ask location permission - as this also make sure the `getSSID` works

Apart from this, we can choose to not fix it and add t

[2021-11-26 13:06] daadu commented on #166
Posted about it on Apple Forum: https://developer.apple.com/forums/thread/695418

[2021-11-29 09:08] ali80 commented on #72
@andzejsw's solution didnt fix it for me,
`loadWifiList` future never completes for me on one of my devices.
I have tested on two android devices, one running android 11 that works fine
the one running android 9 which has this problem!

[2021-11-29 14:20] daadu commented on #72
@ali80 I have passed a working code at https://github.com/alternadom/WiFiFlutter/issues/184. Please check it.

[2021-12-04 05:30] fernando-s97 commented on #186
Those API use static methods, which are impossible to test AFAIK. Could them be written as instance methods and make the class itself a singleton?

Instead of
[code]
We would have
[code]

This would allow us to work with dependency injection and mock things for testing.

[2021-12-04 10:19] daadu commented on #186
@fernando-s97 Thanks for the suggestion. While I agree with using singleton against static methods - This needs to be communicated to user clearly - that the constuctor/factory call is singleton. So I suggest something like the bellow:

[code]

or

[code]

Let me know your views on it - will it be still an issue for mocking?

Also I am working on `wifi_basic` implementation at #201 - encourage you

[2021-12-08 13:57] fernando-s97 commented on #186
@daadu Sorry for the late reply.

This seems to work:

[code]
![image](https://user-images.githubusercontent.com/20338690/145220239-9eebed96-85f0-4a5b-a72f-e4c457bd9c8a.png)

[2021-12-08 18:43] daadu commented on #186
@fernando-s97 I'm no testing expert, you look like one. I've added some basic test for wifi_scan and wifi_basic in there respective PRs. Can you review them or give your general view on testing a plugin like this. What are your opinions on it.

[2021-12-09 10:04] fernando-s97 commented on #186
@daadu I'm not a pro in testing, but I'll take a look (probably on the weekend)

[2021-12-10 11:09] daadu commented on #185
@nathan2day I have opened PR that fixes this at #207. Please review and test against it.

[2021-12-11 05:15] #185 closed

[2021-12-11 05:45] daadu commented on #185
Released with [v0.3.11](https://pub.dev/packages/wifi_iot/versions/0.3.11). Thanks @nathan2day for reporting, check yourself in package readme!

[2021-12-11 13:47] daadu commented on #186
To make sure the functionalities can be extended to multiple platforms in future (web, desktop) and for user to easily manage each use case. I am suggesting an API design approach as follows:

- Each plugin will have no more than 1/2 key function - already achieved by breaking `wifi_iot`
- Each function should have a corresponding "can/check? method" - for eg for `void startScan()` -> `CanStartSca

[2021-12-11 14:43] fernando-s97 commented on #186
I'm not sure the lib itself handling permissions is a good thing. I have two views on this:

1. The lib should abstract the permissions part so the user doesn't have to worry about it.
2. The lib should only report errors about missing permissions.

As permission is a more global thing, which can be used in many features, the first approach can impact the UX of the user's application.

Also, about

[2021-12-11 15:09] fernando-s97 commented on #186
Speaking of error handling, I've been working with functional error handling for some time now and I think it's a much better option than exceptions.

So my proposal is to use the [dartz] package (https://pub.dev/packages/dartz) and work with your Either object.

A functional error handling approach would be like:

[code]

With this approach, we "force" the user to explicitly say what they want to

[2021-12-11 15:13] daadu commented on #186
While permission are global thing and user should take care of it own its own.  But with flutter and its plugins the scenario is different that native development - Here the user when adds a plugin - it is expected that the plugin includes permission handling. This is the reason why almost all plugins have it. While some may choose to handle themselves it is not the majority. Anyways permission ha

[2021-12-11 15:19] daadu commented on #186
@fernando-s97 Your suggestion of using `Either` does what we want.  But I am afraid it is too opinionated, would required additional dependency and expecting user  to know about this pattern. While my suggested approach is more "vanilla" - simply separating the "check" and "execution" into two different methods.

[2021-12-11 15:28] daadu commented on #186
Also since flutter runs on multiple platforms - the permission requirements are different for different platforms - therefore may be user relies on plugin to handle it. To do the same thing - platform X requires A while platform Y requires B. Hope that makes sense.

[2021-12-11 15:32] fernando-s97 commented on #186
About the permission, my only concern was about the UX, but I forgot about the `askForPermission: false`. Since it exists, I think that's fine then.

About the `Either` proposal, I think this approach is less error prone, but as you said, "would required additional dependency and expecting user to know about this pattern". This alsoconcerns me, and to be honest, I don't have much experience with o

[2021-12-11 15:50] daadu commented on #186
@fernando-s97 Thanks for your suggestion, I just posted this so that anyone interested in implementing or making future design decision knows why this choice was made.

[2021-12-17 09:59] nikolip opened #211 "iOS - Connect function crashes the app"
iOS - 15.2
--
wifi_iot: ^0.3.10
--

When calling WifiForIoTPlugin.connect the app crashes to null error.

Only mandatory argument should be 'ssid', but when not providing "password" or "security" arguments the app crashes to "Could not cast value of type 'NSNull' (0x1dae296c0) to 'NSString' (0x1dae28b18).".

When debugging with xcode those values comes to connect function as nil. Then when  plugin

[2021-12-17 13:31] daadu commented on #211
Working on its fix. Thanks for reporting.

[2021-12-17 13:38] daadu commented on #211
The PR is under review - meanwhile urge you to test it with following:

[code]

[2021-12-17 14:03] #211 closed

[2021-12-17 14:13] daadu commented on #211
Fix released on pub with [v0.3.12](https://pub.dev/packages/wifi_iot/versions/0.3.12). Thanks again for @nikolip for reporting this bug, check yourself in README!

[2021-12-19 14:50] mcfugger opened #214 "Cant get ssid "<unknown ssid>""

[2021-12-19 21:27] #214 closed

[2021-12-19 21:27] mcfugger commented on #214
Location permission needed

[2021-12-20 09:11] nikolip commented on #211
Hey!

Sorry for not responding earlier.
When looking the pr - it seems like you have fixed the problem only when not providing security argument. (That works now)
But there is still the issue when you try to join an open wifi (no password needed).
eg.

WiFiForIoTPlugin.connect("wifi-ssid");

App still crashes then on SwiftWifiIotPlugin.swift line 126 when accessing call aguments.
let sPassword = (

[2021-12-21 03:26] daadu commented on #211
@DominikStarke can you look into it? If you got time.

[2021-12-27 07:20] nikolip commented on #211
Any updates on this? @daadu

[2021-12-27 08:36] daadu commented on #211
I couldn't work on it this weekend, probably next weekend.

Feel free to file PR if you know the solution.

[2021-12-29 09:39] tuceturan opened #216 "Disabled/Enabled Wifi"
Hello,

I want to enabled Im using android version 11 WiFiForIoTPlugin.setEnabled(true); without settings

setting but doesn't enable wifi can you help?

[2021-12-29 11:04] #216 closed

[2021-12-29 12:47] math045b commented on #164
Any progression, or suggestions on what to do when running into the same issue of timing out getting the "Something came up. The application has cancelled the request to choose a device." message?

[2021-12-30 05:25] daadu commented on #164
I faced this issue when obfuscating dart code - which is fixed in v0.3.11.

Other than that, this issue mainly comes when phone is not able to "find" the network asked for (could be wrongly configured by plugin - wrong ssid, password, security type, etc).

[2021-12-30 05:26] daadu commented on #164
Can you make sure you see the network in scanned list in wifi settings?

[2021-12-30 05:30] chmoore889 commented on #164
@daadu When I was having issues I made sure that I was able to see the network I was trying to connect to in my settings. I haven't been able to try any newer versions to see if the issue was fixed, but I was not obfuscating my code then.

[2021-12-30 12:27] Deepak-GP commented on #130
@daadu
Even I am facing the same issue. Although in my case, it is working fine in Android 11 (Tested with Samsung Galaxy S10E).
But it is not working in Android 9 - One plus 3T.
And in Android 11, only **findAndConnect** is working.

In the non working scenario, the **findAndConnect** method returns false.
Is there something extra that needs to be done here?

[2021-12-31 05:53] daadu commented on #130
@Deepak-GP  `findAndConnect` requires location permission granted and location service enabled by user.

[2022-01-03 05:55] Deepak-GP commented on #130
Yeah after providing the location permission it worked. Thank you @daadu

[2022-01-08 02:09] JohnMaguire opened #219 "App is not using Wifi network (Android)"
Hi there. I'm trying to use wifi_iot to connect to a phone camera and pull images from it. I have the following code in a model:

[code]

When I call this method, Android asks me if I'd like to connect (and at this point, the function seems to return early - a second bug I haven't dug into yet). I choose yes, and then it takes a moment to connect. I then try to load photos from a local IP address

[2022-01-08 08:03] daadu commented on #219
@JohnMaguire Your code and configuration seems correct. `forceWifiUsage` - forces the current network.

Can you share the logs for debugging?

Also,
- Does the network you connect to have internet available?
- Are you sure -  the app is configured to allow "clear text traffic"?

[2022-01-09 14:59] DarthSid12 opened #220 "Enable/Disable Wifi AP in lower android SDKs"
So I see enabling/disabling Acess point in android is only for sdk 29 and above but using this stackoverflow answer https://stackoverflow.com/a/57368147/13858991 , I see its also possible for below sdk 26. I hope this feature can be added to allow for more reach of this package.

[2022-01-09 15:12] daadu commented on #220
Just the answerer on SO - the plugin uses private Android APIs - you should be able to do it with this plugin.

Not sure where you saw the enable/disable is not supported. You can check [this table in readme](https://github.com/florian-guillemard/WiFiFlutter/tree/master/packages/wifi_iot#access-point).

[2022-01-09 15:13] daadu commented on #220
Closing this, feel free to request re-opening.

[2022-01-09 15:13] #220 closed

[2022-01-09 18:20] daadu commented on #186
UPDATE

 `wifi_scan` is ready for review at #205. Request everyone to review, test, give feedback, etc.

If you are using "scan" feature of `wifi_iot` - try replacing it with it and test [if you are feeling lucky and deploy to live apps too!].

[2022-01-09 18:36] daadu commented on #184
re-written new plugin - currently not released - PR #205 - encourage you to give review, test and give feedback on it.

This issue will be linked to that plugin and will be closed with this PR.

[2022-01-09 18:37] daadu commented on #129
re-written new plugin - currently not released - PR #205 - encourage you to give review, test and give feedback on it.

This issue will be linked to that plugin and will be closed with this PR.

[2022-01-10 00:01] JohnMaguire commented on #219
Hi @daadu - thanks for the confirmation. This is my first time working on an Android app, and I'm not quite sure where to find the debug logs for wifi_iot. I'll see what I can find online and post here when I figure it out.

In the meantime - the network does *not* have internet available, and I think this is a part of the issue. Since it's a camera, it just exposes a local HTTP web server on 192.

[2022-01-10 00:32] JohnMaguire commented on #219
OK, so I tried again today and the behavior is a little different than I was experiencing before - perhaps at least partially due to a full reinstall of the app instead of a hot refresh? If I see the issue again, I'll report back. For now I'll close the issue.

One thing that was throwing me off is that if you are already connected to the network specified in `WiFiForIoTPlugin.connect` it seems to

[2022-01-10 00:32] #219 closed

[2022-01-10 05:35] DarthSid12 commented on #220
According to this table, enable/disable works for SDK 29 and above. I tried testing it on a lower SDK devices, namely 24 and 25 and 27 and it failed with the following error
[code]

[2022-01-10 06:15] DarthSid12 opened #221 "Reference to #220, enable Wifi AP in old SDKs"
According to the table, enable/disable works for SDK 29 and above. I tried testing it on a lower SDK devices, namely 24 and 25 and 27 and it failed with the following error

[code]

[2022-01-11 19:29] #221 closed

[2022-01-11 19:32] DarthSid12 opened #223 "Stuck on "Obtaining IP address" while using wifi AP"
I have a device running android 7 (API 24) so it should have access to the full suite of access point tools. I can set the ssid, manage password etc. But when I try to connect another phone to this hotspot, its either stuck at Obtaining IP address, or connecting. When I turn the hotspot off and on from settings, the client phone automatically connects instantly. Am I doing something wrong? Im usin

[2022-01-12 05:24] daadu commented on #223
Well, as for Android < 26, the APIs consumed are not documented and not public, therefore it is not stable and we don't actively support it. It is just there for legacy reason.

Feel free to file PR if you found solution/fix to your problem.

[2022-01-13 11:56] nikolip commented on #211
https://github.com/flutternetwork/WiFiFlutter/pull/224 @daadu

[2022-01-13 16:43] kvedala opened #225 "Crash on `await WiFiForIoTPlugin.getSSID()` on Android"
Until and including `v0.3.12`, the command `await WiFiForIoTPlugin.getSSID()` returned the expected response. However, with the new version `v0.3.13`, the following exception report is thrown and the application crashes.
[code]

[2022-01-13 18:38] DarthSid12 commented on #223
I looked a lot into it, but I dont see why it shouldn't work. Even if it is there for legacy reason, it is claimed to work by a lot of people who were doing it themselves. I was hoping you could take a look into it if possible. I would really appreciate it

[2022-01-14 09:39] daadu commented on #225
@kvedala The logs you posted, does not indicate any issue with `getSSID`, but there could be issue with `connect` method. Do you use it too?

[2022-01-14 09:44] daadu commented on #225
Looks like you are passing `nul` in `ssid` argument of your connect/findAndConnect/registerWifi method.

[2022-01-15 18:50] daadu commented on #225
@kvedala I am unable to reproduce the bug, did you find anything?

[2022-01-15 23:22] #129 closed

[2022-01-15 23:22] #184 closed

[2022-01-18 15:08] rdmo94 opened #235 "Nothings happens when setting 'withInternet: true'"
I'm using this library to connect to a Raspberry Pi connected to a wifi-network. I recently upgraded the device i'm testing on, and I am currently running android 11.

The call to `connect()` worked fine until I upgraded to a newer device and android version. Whenever i set the `withInternet` flag to false, it connects as intended, but as a temporary connection without internet access.

If i set `

[2022-01-18 16:19] daadu commented on #235
There are two different API for newer version of Android. For connection with internet you can look for "Wifi Suggestion API". You can check it's docs.

Also I've tested this API for sometime, might review it in some time. Until, then encourage you to check the docs and code.

[2022-01-19 06:57] sitakanta136 opened #236 "Connection Issue."
App Try to connect wifi using SSID, password  => Connected
but when I connect that wifi using ssh using port 22 => Timeout Exception

Why is the dialog showing a Temporary connection?
Error: connection_failure
      Error Message: java.net.ConnectException: failed to connect to /192.168.0.1 (port 22) from /:: (port 40620): connect failed: ETIMEDOUT (Connection timed out)

[2022-01-19 06:59] sitakanta136 commented on #236
var isConnected = await WiFiForIoTPlugin.connect(resultssid,
          password: wifiPassword,
          joinOnce: false,
          security: NetworkSecurity.WPA);

      if (isConnected) {
        developer.log('Connected Sucessfully');
        navigateToDisplayWifiLogs();
      } else {
        developer.log('Not Connected ');
      } */

[2022-01-19 07:08] daadu commented on #236
Not tried SSH myself, but you should `forceWifiUsage(true)` and disbale again before communicating with clients on the network.

[2022-01-19 16:18] rdmo94 commented on #235
Only when withInternet is set to false. Otherwise I see no dialogue or anything.

[2022-01-19 18:43] dusalex opened #237 "AndroidManifest.xml clashes with other packages"
Describe the bug
When trying to upload to the Google Play store, Apps build with wifi_iot may be rejected because of multiple definitions of e.g. "android.permission.ACCESS_COARSE_LOCATION" or "android.permission.ACCESS_FINE_LOCATION" with different maxSdkVersion.

To Reproduce
Steps to reproduce the behavior:
Build an App with the plugins flutter_reactive_ble and wifi_iot and try to upload the aa

[2022-01-20 10:27] daadu commented on #235
@rdmo94 Sounds like an issue, will look into it this weekend (no promise).

[2022-01-20 10:50] daadu commented on #237
Not sure if we can remove the permission from the plugin - to maintain backward compatibility.

I checked the [`AndroidManifest.xml` file of  `flutter_reactive_ble`](https://github.com/PhilipsHue/flutter_reactive_ble/blob/master/packages/reactive_ble_mobile/android/src/main/AndroidManifest.xml), they use `uses-permission-sdk-23` for "Location permissions", while the wifi functionality that require

[2022-01-20 13:24] barangungor opened #238 "Is there any way for get wifi signal strength on IOS?"
It works great on Android but i need do that on IOS. Is there any way for do that ?

[2022-01-20 14:31] rdmo94 commented on #235
Let me know if you need any further details!

[2022-01-20 17:51] dusalex commented on #237
@daadu: Thanks, I wasn't aware about the
```tools:node="remove"```
fix. I'll give it a try and will report here if it solves the issue (I agree that it should 😉).

[2022-01-21 10:29] daadu commented on #238
There is an API and discussed in #149, but looks like requires `NetworkExtensions` capability - which is not available in general. Therefore ,no.

[2022-01-21 10:29] #238 closed

[2022-01-22 01:51] #164 closed

[2022-01-22 06:23] daadu commented on #164
@chmoore889 Why close, did you solved the issue? Can you share what was the issue?

[2022-01-22 06:25] chmoore889 commented on #164
The issue is solved. I opened this several months ago and the issue seems to have been solved in a release since then.

[2022-01-23 12:24] nicop2000 opened #239 "Why is Location needed?"
Short question: Why does the package requests my Location for a WiFi-Scan. Seems unnecessary

[2022-01-23 13:24] daadu commented on #239
@nicop2000 It is required for scanning, are you using `wifi_scan`? - Check https://developer.android.com/guide/topics/connectivity/wifi-scan

[2022-01-23 13:24] #239 closed

[2022-01-24 05:09] manu-hr commented on #235
Hi, even I’m having the same issue, if I use connect method  with  withInternet: true I’m getting a response
as " E/WifiIotPlugin( 3997): status: 0 " and with the method findAndConnect getting "PlatformException(Error, Invalid BSSID representation, , null)".
This is with android 11 but android 8 and 9 are working fine.

[2022-01-24 15:22] rdmo94 commented on #235
Additionally I also experienced this error quite some times:
java.lang.IllegalArgumentException: NetworkCallback was not registered, with a stack trace related to WifiIotPlugin. I'm not sure why and when it occurs, but it could be due to wifi being turned off.

[2022-01-24 16:47] marcolettieri opened #240 "Disable forceWifiUsage after connection"
Hello,
after use of forceWifiUsage(true) to use a network without internet and configure the device how to restore the before wifi/4g network?
I've tried forceWifiUsage(false) and  forceWifiUsage(null) but the app is not able to navigate anymore, the only way is restart the app

[2022-01-25 11:15] rdmo94 commented on #235
![Screenshot 2022-01-25 at 12 13 55](https://user-images.githubusercontent.com/47812442/150967014-be8a8aac-5c23-48cb-8040-28f19a03d95d.png)

For reference

[2022-01-25 17:39] dusalex commented on #237
@daadu: Thanks, again, I can now confirm that your suggestion works.

In addition to the lines to remove the permissions, it is important to also add the "tools" to the manifest tag at the very top of the AndroidManifest.xml file:

`<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.exampleapp"
  xmlns:tools="http://schemas.android.com/tools">`

[2022-01-25 17:39] #237 closed

[2022-01-27 08:13] daadu commented on #240
Use `forceWifiUsage(false)` to "unbind" process to the network. You can also do `disconnect` to disconnect from network completely.

If it is not behaving as expected, will need more logs and device/android info about the issue to debug.

[2022-01-27 08:28] marcolettieri commented on #240
Hello,
The case is:

• Smartphone connected to a WiFi or 4g network
• There is a WiFi network without internet access
• Connect app to wifi without internet and forceWifiUsage(true)
• When done disconnect from the Wifi without internet and call forceWifiUsage(false)
• The app disconnects from the wifi and returns connected to 4g network but the app has no access to the internet anymore. The only w

[2022-01-28 07:42] manu-hr commented on #235
@daadu As for findAndConnect method the ssid and bssid parameters are interchanged, please look into it.

Even after that with WifiNetworkSuggestion API, I'm getting the connection status "STATUS_NETWORK_SUGGESTIONS_SUCCESS" but Nothing changing in the wifi connection of the device.
I'm getting the response also as true without waiting any time and no dialogues are popping up. If you have any sugg

[2022-01-30 08:42] daadu commented on #240
@marcolettieri can you try to disable `forceWifiUsage` first and then disconnect?

[2022-01-30 11:54] Saddi993 opened #244 "Enabling / Disabling WiFi module"
I am trying to connect WiFi module using flutter app. but did not find any solution yet.

[2022-01-30 12:12] daadu commented on #235
I did some debugging, looks like the network added via the `NetworkSuggestion API` [which is the only way to get "internet enabled" wifi connection ] is just a "suggestion" to android - I found out that the android connects to the wifi - if you open the Wifi pick list from notification drawer or settings - looks like the android needs to be "triggered" to check the nely added suggestion (looks lik

[2022-01-30 12:15] daadu commented on #244
Please give some example code that you tried.

[2022-01-30 12:19] Saddi993 commented on #244
actually this plugin does not supporting Enabling / Disabling WiFi module

[2022-01-30 12:22] daadu commented on #235
@rdmo94 @manu-hr Try the workaround I suggested and let me know if it works - will add this caveat in "README".

[2022-01-30 13:05] daadu commented on #244
It is deprecated with Android SDK >= 29.

[2022-01-30 13:05] #244 closed

[2022-01-31 06:00] manu-hr commented on #235
No, It is not working for me. But as you mentioned if I open the wifi picklist it is connecting only if there is no other available wifi -connections.

[2022-01-31 06:26] daadu commented on #235
Seems, like things are not in our hands.

Did you try `registerWifiNetwork` - see if that fits your use-case. The API is like user adding this network to the wifi list himself.

[2022-01-31 06:45] daadu commented on #235
Moreover, I have prototyped removing "Network Suggestion API" at all - some SO answeres suggested using the "Network Specifier API" for internet connection as well.

You can test this against - [ daadu:wifi_iot/poc/remove-wifi-suggestion-api](https://github.com/daadu/WiFiFlutter/tree/wifi_iot/poc/remove-wifi-suggestion-api) + `forceWifiUsage` - see it that works.

[2022-02-01 07:56] Saddi993 commented on #244
is there any way to achieve this (Enabling / Disabling WiFi module) is flutter?

[2022-02-01 09:11] rdmo94 commented on #235
@daadu Thanks a lot for your effort. I tried your suggested workaround with `await WiFiForIoTPlugin.loadWifiList()` without any change. Registering the network before connecting has no effect either.  Still nothing happens when trying to connect. As this is to be used in a business context, a colleague of mine will put some effort into fixing this. I'll let you know, if we come up with a permanent

[2022-02-02 07:24] daadu commented on #244
No.

[2022-02-04 13:36] Nailer commented on #235
Have the same issue here.

When withInternet set to false I get the special native connection dialog that allows me to connect to my raspberry pi access point.

However, when connected without internet, the Web-RTC negotiation via websocket is blocked. Somehow Android thinks we "need internet" to access local addresses like 192.168.4.1 etc.

When I set withInternet to true, the connect call return

[2022-02-05 06:00] daadu commented on #235
@Nailer did you use `forceWifiUsage(true)` after connection? That might be the issue with `withInternet: false`.

With `withInternet: true` there seems to be an issue, which is under investigation.

[2022-02-05 15:12] Nailer commented on #235
I did not try that. I will try it and see if it helps.

On Sat, Feb 5, 2022, 07:00 Harsh Bhikadia ***@***.***> wrote:

[2022-02-15 04:34] #74 closed

[2022-02-18 12:25] vanlooverenkoen opened #247 "[wifi_iot] Android PeerToPeer API will not allow us to use the internal lan."
`        connectivityManager.bindProcessToNetwork(network)`

Is missing in the onAvailable callback for connectTo on android Q and above.

https://stackoverflow.com/questions/56831023/android-q-programmatically-connect-to-different-wifi-ap-for-internet

[2022-02-18 19:48] qhu91it commented on #165
Same for me, I test from android 11, after call registerWifiNetwork work then call removeWifiNetwork but nothing change, and no log, the func removeWifiNetwork return true.
I use the latest version 0.3.15

[2022-02-21 06:21] qhu91it commented on #236
My case connect to wifi and ping to tcp socket
With setting `withInternet: false`, set `forceWifiUsage(true)` on phone poco f2 pro (xiaomi) it work well but on samsung m32 can not ping to tcp socket (can connect wifi but no internet access), other samsung device also same.

[2022-02-22 06:17] daadu commented on #247
It is not added deliberately and left up to user to enable and disable it with `forceWifiUsage(true)` API

[2022-02-23 18:26] purvghori opened #248 "wifi not scanning in oneplus phone"
I am not able to scan wifi in one plus phone, in another phone it works fine and does not get any error.

[2022-02-24 12:31] daadu commented on #248
can you share some code or logs? are you using `wifi_scan` package? If not, then recommend you to use it.

[2022-02-28 06:31] daadu commented on #236
@qhu91it  did you add `android:usesCleartextTraffic="true"` as `<application>`  attribute in Mainfest, maybe that could be the issue.

[2022-03-03 16:00] #248 closed

[2022-03-05 06:40] kostov commented on #132
Sorry if this is wrong place.
We have device with wifi-module (DVR). In Android (11) system WiFi menu I have already registered wifi-network with ssid "DVR-1" and password '12345678'. In my application:
[code]
-- connection established and all works fine. But if we will remove the password (why is it needed?):
[code]
-- the app will crash on this call.

[2022-03-06 06:26] daadu commented on #132
@kostov Setting ` security: NetworkSecurity.NONE` should solve it.

[2022-03-08 14:06] aadi-github commented on #132
As below findAndConnect don't have security param, we can not use it.
`await WiFiForIoTPlugin.findAndConnect('DVR-1', joinOnce: false);`

As @kostov mentioned that if we are already once registered with network which we can also check by using
`await WiFiForIoTPlugin.isRegisteredWifiNetwork(wifiNetwork.ssid!)`
so there should be a way to connect that network without re-entering password.

I have t

[2022-03-09 03:37] kostov commented on #132
@daadu
In addition to @aadi-github note, please explain when we should use findAndConnect(..), and when connect(..) method?

[2022-03-10 05:56] kostov commented on #132
Both await findAndConnect(..) and await connect(..) method calls on Android 9 just newer return. :(

[2022-03-10 09:40] aadi-github commented on #132
Please let me know what we can do to connect to the saved wifi network again, without password.

[2022-03-11 05:57] kostov commented on #132
Found out why it doesn't work on Android 9:  in WifiIotPlugin.connectTo() -> connectToDeprecated() -> registerWifiNetworkDeprecated() method call we can see fail of the moWiFi.updateNetwork(conf) call, it just returns -1 ("Compatibility Note: For applications targeting Build.VERSION_CODES.Q or above, this API will always fail and return -1." -- perhaps because of this, in my build.graddle: targetS

[2022-03-11 09:07] SabarishChungath commented on #153
[code]

I have added the above it successfully connects to WIFI but without internet connection
Am I doing anything wrong here ?

[2022-03-11 12:36] gamelaster commented on #153
@SabarishChungath force WiFi usage **after** the connection.

[2022-03-14 08:50] VimeshPolaris opened #249 "MissingPluginException(No implementation found for method loadWifiList on channel wifi_iot)"
Hello their,
I'm trying to implement this package in Futter iOS.
In Android, it works completely but in iOS it's not working.
**Can anyone help with this?**

[code]

[2022-03-14 10:55] daadu commented on #249
It is not supported in iOS.

[2022-03-14 10:55] #249 closed

[2022-03-15 04:39] VimeshPolaris commented on #249
Then what can be use for getting nearby all wifi in iOS ?

[2022-03-15 08:26] quoc-huynh-cosee commented on #235
Any updates on this?

[2022-03-15 09:08] rdmo94 commented on #235
The issue still persists. In my project we've had to built our own native tool for newer Android versions using the `WifiNetworkSuggestion.Builder`. Using this approach Android will present a list of wifi suggestions, as the user has to manually select the wifi to connect to. Not sure why they changed this, but it appears there is no other way if you want internet connection.

[2022-03-15 09:49] quoc-huynh-cosee commented on #235
Can you give me some references?

[2022-03-15 09:56] rdmo94 commented on #235
https://developer.android.com/reference/android/net/wifi/WifiNetworkSuggestion.Builder here is a reference to the Android API used.

`private fun connectToWifi(ssid: String?, password: String?): Boolean {
        if(ssid == null || password == null) return false;

        val suggestion = WifiNetworkSuggestion.Builder()
            .setSsid(ssid)
            .setWpa2Passphrase(password)