[2022-03-16 04:35] kostov commented on #132
The question no more actual: I've already got into the plugin code, and I saw what the difference is.

Another problem:
[code]
-- never returns on google pixel 3 (Android 12). Will try to figure it out in this kamasutra... :)

[2022-03-16 06:09] daadu commented on #132
@kostov Sorry, not able to reply you on time. The Wifi APIs and therefore out code is too fragmented because of lot of sutle changes in various Android versions and phones. Therefore, a reform is in plan [#229] - the current plugin is only supported for fixes, etc.

If you find and bug, feel free to file PR against it.

[2022-03-16 06:14] daadu commented on #249
There is no API for it. Check readme of [wifi_scan](https://github.com/flutternetwork/WiFiFlutter/tree/master/packages/wifi_scan).

[2022-03-16 06:15] daadu commented on #249
For IoT, on thing that most devices do while provisioning is, after connecting to device's AP, it asks the device to scan and get that results. That way you are not dependent on Mobile platforms to get wifi list.

[2022-03-16 06:36] kostov commented on #132
I have found something interesting. Suppose our network has ssid 'DVR 1' -- it was received from WiFiForIoTPlugin.loadWifiList() (and all works on Android 11-). Logcat:
[code]

[2022-03-16 07:33] sitakanta136 commented on #236
Hi daadu,
I am using the below logic for manually connected wifi using SSID and password.
await WiFiForIoTPlugin.connect() method returned bool value if connected but if connection failed it return false .

But we don't know the accurate reason for connection failure. it's showing some dialogs and at the same time it returns false also. It should be after dialog close then it returns false.

we wa

[2022-03-16 11:21] sitakanta136 commented on #236
![Uploading screenshot-1647428874159.png…]()

[2022-03-16 11:21] #236 closed

[2022-03-16 11:22] sitakanta136 commented on #236
![screenshot-1647428874159](https://user-images.githubusercontent.com/97751886/158579110-7bd71fa9-0f2e-433a-bc7a-9237ed7b6ed4.png)

[2022-03-16 11:23] sitakanta136 commented on #236
How to handle this dialog.

[2022-03-23 16:23] liamjbarry commented on #166
Hi all,

Any movement on this at all?

Android works perfectly but iOS however... More often than not I get `NEHotspotNetwork nehelper sent invalid result code [1] for Wi-Fi information request` followed by `WiFi network not found` in my console but I find the iPhone has actually connected. `WiFiForIoTPlugin.connect()` then returns `false` causing my error handling to catch it and ask the user to

[2022-03-24 09:49] daadu commented on #166
@liamjbarry Got 1 response on the Apple Forum thread, will work on it and get back here.

[2022-03-24 12:01] xhl28 opened #250 "Probe request timing"
hello everyone!
i am using wifi_scan: ^0.1.0+3  library to scan nearby wifi networks and take ssid values.

but i would like to do this every 500ms.

i'm using android 11 and i've seen  with Wireshark that probe requests are sent about every 3 seconds.
is there a way to send them more frequently?

i'm already in developer mode and i've removed the restrictions regarding wifi.

this is part of my c

[2022-03-24 12:53] daadu commented on #250
Scan request are throttled by Android - https://developer.android.com/guide/topics/connectivity/wifi-scan#wifi-scan-throttling.

However you can override it with a "Developer Option" settings on it - but this has to be done manually - not intended to be used in production apps.

[2022-03-24 12:55] daadu commented on #250
Closing this. Feel free to request re-opening, if required.

[2022-03-24 12:55] #250 closed

[2022-03-24 14:22] lucaslannes commented on #174
Hello, @daadu, first thanks for the great plugin.

I think that you forgot to add the forceWifiUsage documentation in the dart-side like is described on java-side.

https://github.com/flutternetwork/WiFiFlutter/blob/ca0c28525007f5bcdb708814d9fd8c7449cf6369/packages/wifi_iot/android/src/main/java/com/alternadom/wifiiot/WifiIotPlugin.java#L714-L721

Maybe this can solve the issues like #154 and #160

[2022-03-27 10:08] daadu commented on #174
@lucaslannes Android API (esp. for WiFi) is mess, so try to be as redundant as possible!

[2022-03-28 06:51] daadu opened #252 "[wifi_easy_connect] Checklist for 1.0"
## APIs
- `Future<WiFiEasyConnectCapability> hasCapability()`
- `Future<EnrollErrors?> `

### Platform Feature Coverage
- [ ] Android (`android.net.wifi.rtt` package)
 - constants
   - [ ] `Settings.ACTION_PROCESS_WIFI_EASY_CONNECT_URI`
   - [ ] `Settings.EXTRA_EASY_CONNECT_ATTEMPTED_SSID`
   - [ ] `Settings.EXTRA_EASY_CONNECT_BAND_LIST`
   - [ ] `Settings.EXTRA_EASY_CONNECT_CHANNEL_LIST`
   - [ ]

[2022-03-29 12:36] daadu commented on #154
Closing this, because of lack of response.

Feel free to ask to re-open.

[2022-03-29 12:36] #154 closed

[2022-03-29 12:37] daadu commented on #160
Closing this, because of lack of response.

Feel free to ask to re-open.

[2022-03-29 12:37] #160 closed

[2022-03-30 06:33] kostov commented on #132
In Android API 29+ we need to setup password every time to connect to wifi network, so this question is not to the plugin author.
In Android 28- we need not to setup password to already "configured" (connected earlier) network. I checked it out in own implementation after reading Android documentation.

[2022-03-30 06:53] daadu commented on #240
@marcolettieri Did you resolve this issue? Should I close it?

[2022-03-30 06:55] daadu commented on #151
This should be fixed with latest version, therefore closing it.

Feel free to ask to re-open.

[2022-03-30 06:55] #151 closed

[2022-03-30 06:56] daadu commented on #69
No plan on this + stalled issue, closing this.

Feel free to ask to re-open.

[2022-03-30 06:56] #69 closed

[2022-03-30 07:50] KingWu opened #261 "For ios, wifi_scan will implement with NEHotspotHelper?"
There is no public api to scan wifi. After iOS9, ios provide NEHotspotHelper to handle it. Should it work?

[2022-03-30 08:01] daadu commented on #261
Check the readme, I have mentioned this thread there - https://developer.apple.com/forums/thread/91351?answerId=276151022#276151022.

It requires special entitlements from Apple team, it is strictly restricted to "hotspot apps". Therefore, as of now it is out of scope of this project.

[2022-03-30 11:46] kladoyris-G opened #262 "Black pop up on registerWifiNetwork()"
Hello. In xiaomi redmi note 9  when  i call the metod registerWifiNetwork(), the pop with the two actions(cancel and save) appear  black and  the only things you can see is the wifi logo.

I have tried with defriend devices and all of them work fine except xiaomi redmi note 9.

Something i notice is that if you toggle dark mode the pop up become total grey and the only thing you and see again is t

[2022-03-30 11:55] daadu commented on #262
Looks like issue on vendor side.

[2022-03-31 18:08] ronaldmaymone opened #263 "[QUESTION] Does this package supports wpa2 enterprise connection?"
Didn't find the reference or on the example  a connection with username and password. Am I missing anything?
If not, could someone point a implementation maybe I could create a PR. I've been trying to config a enterprise connection on Kotlin but without success until the moment

[2022-04-01 06:24] daadu commented on #263
WPA2 enterprise - is not completed supported - personal is supported though - with just passphrase, will have to wait for new plugin planned with #189

[2022-04-01 06:27] daadu commented on #263
The current `wifi_iot` plugin is under reform - #229 - it is maintained just for fixes as of now. If you are interested in implementing it, let me know - will give you pointers - need to design APIs first - then implement them. You can check the process of `wifi_scan` (released) at #188

[2022-04-08 06:31] DarkDancers opened #264 "Crash at WifiManager.getScanResults"
Stack Trace:
`Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List android.net.wifi.WifiManager.getScanResults()' on a null object reference
       at com.alternadom.wifiiot.WifiIotPlugin.handleNetworkScanResult(WifiIotPlugin.java:649)
       at com.alternadom.wifiiot.WifiIotPlugin$4.onReceive(WifiIotPlugin.java:643)
       at android.app.LoadedApk$ReceiverDis

[2022-04-08 07:28] daadu commented on #264
Ok, looks like the Flutter engine was detached and attached back - in between the scan event received might have caused this crash. Is it a one time crash? or happening in specific conditions? are you able to reproduce it?

[2022-04-08 07:47] DarkDancers commented on #264
just discovered this crash. still look into it not able to reproduce atm.
from firebase report: `20933 crash events affecting 8104 users`
seem its not one time crash

[2022-04-08 08:18] daadu commented on #264
Seems like a tricky bug, let me know if you find more info.

I have following ideas:
 1. not resetting "context" and "wifiManger" in cleanup
 2. unregister Broadcast receiver in cleanup
 3. always get `WiFiManger` "in-line" instead of getting-and-caching instance in "init"

[Check the code](https://github.com/flutternetwork/WiFiFlutter/tree/master/packages/wifi_iot/android/src/main/java/com/altern

[2022-04-08 12:43] viviandavis opened #265 "Wifi connect popup reopens continuesly"
hello,
After the new update of android
Wifi connect is not working properly
wifi connection is successful but the popup menu restarts again

[2022-04-08 18:15] #265 closed

[2022-04-08 18:18] viviandavis commented on #265
W/ConnectivityManager.CallbackHandler( 1779): callback not found for CALLBACK_PRECHECK message
W/ConnectivityManager.CallbackHandler( 1779): callback not found for CALLBACK_CAP_CHANGED message

I think because of this only error it's reopening can help me out in solving this problem

[2022-04-08 18:28] viviandavis opened #266 "popup menu restarts again for connection"
hello,
After the new update of android
Wifi connect is not working properly
wifi connection is successful but the popup menu restarts again

W/ConnectivityManager.CallbackHandler( 1779): callback not found for CALLBACK_PRECHECK message
W/ConnectivityManager.CallbackHandler( 1779): callback not found for CALLBACK_CAP_CHANGED message

I think this two are error for the

[2022-04-12 06:23] daadu commented on #266
@viviandavis Thanks for reporting, will look into it.

[2022-04-12 06:24] daadu commented on #263
Closing this, feel free to ask for re-open.

[2022-04-12 06:24] #263 closed

[2022-04-12 18:16] trovend commented on #78
works ok in Android 10 but not on Android 9.
Could someone help with the compatible version chart? (android)

[2022-04-13 06:57] purvghori opened #269 "wifi_iot support in Android 9?"

[2022-04-14 18:28] chenrilima opened #270 "Show list wifi (Android)"
Hello,

I Would like to know, if is possible to show list wifi in a pop-up as in imagem bellow (Android) and connect to some network wifi using it.

![image](https://user-images.githubusercontent.com/58492693/163451125-df021a42-0bdb-4237-af52-1e5676c08cf8.png)

thanks and congratulations for your job! o/

[2022-04-15 05:06] daadu commented on #270
In Android - you can use wifi_scan, to get list of allnear by wifi networks - connect with wifi_iot plugin. There is also a 0-permisson way to do this and is not much documented - I have a PoC writtern at - https://GitHub.com/daadu/WiFiFlutter (wifi_pick) branch

In iOS - need special entitlements approved by Apple - check readme of wifi_scan.

[2022-04-18 14:21] saxjax opened #271 "getSSID returns nil for iOS 15 and above"
I found this 4 month old issue:
https://developer.apple.com/forums/thread/670970

the problem seems to be in this code
[code]

[2022-04-18 14:28] daadu commented on #271
`getSSID` will only work if the network is connected via app (this too is buggy from Apple's end - #166 ), else will require location permission.

[2022-04-18 19:39] saxjax commented on #271
I just got it to work by adding the following capabilities:
<img width="324" alt="image" src="https://user-images.githubusercontent.com/26431451/163866229-141854c9-53d1-49b8-a217-cfacfcfaf2bd.png">

Some of them may be redundant.

[2022-04-19 07:53] shyambandla opened #272 "connect is always returning false"
`enableWifi()
async {
  WiFiForIoTPlugin.forceWifiUsage(true);
  await WiFiForIoTPlugin.connect('praneet',password: 'arshu581',security: NetworkSecurity.WPA ).then((value) {
  }).catchError((error){
    print('ERROR: $error');
  });

}`

[2022-04-19 07:54] shyambandla commented on #272
connect method always retuning false

[2022-04-19 11:43] dirkvranckaert commented on #134
Is there any progress on this? When can we expect a release with this feature?

[2022-04-19 13:11] daadu commented on #134
@dirkvranckaert It is being implemented at #268, do test your app against that PR and give your feedback there.

[2022-04-19 13:13] daadu commented on #271
@saxjax Personal VPN is out of scope for this plugin - rest is required - to connect, and get info about current netwowrk.

[2022-04-19 13:18] daadu commented on #272
Please give more info like - platform, device, verison, etc.

Also encourage you to go through README (if you havent already) of wifi_iot.

[2022-04-19 13:53] shyambandla commented on #272
yes i went through documentation.

device : samsung galaxy m21
api level: 30
version: 11

target sdk 31
compiled sdk 31

[2022-04-19 18:38] chenrilima commented on #270
Thanks for anwser!!

I Got it, but after use the scan to find wifi networks, is possible to use wifi_iot to connect with some network in list that i found using scan?

thanks again!

[2022-04-19 20:09] kbessemer opened #273 "[wifi_iot] WiFi Connection not working on Pixel 6 Android 12"
So far this plugin has worked on my iPad, and Lenovo Android 11 Tablet. But today I got a Pixel 6 Android 12 for further testing - it is behaving normally, it asks to join the correct network, and Android even shows a notification saying the connection is successful, but it does not actually connect to the network my app is telling it to.

`bool result = await WiFiForIoTPlugin.connect(ssid,

[2022-04-19 20:24] kbessemer commented on #273
If I manually connect to the WiFi network, then run my app, it works normally. I tried running the app with the WiFi network saved, but disconnected, did not work.

[2022-04-20 06:18] daadu commented on #270
yes, you can use wifi_iot to connect to one of the scanned network.

[2022-04-20 06:18] #270 closed

[2022-04-20 06:21] daadu commented on #273
Can you share logs, could be that the phone does not find the network "good" and would revert to older one - can you retry after forgetting old network?

[2022-04-20 17:17] xiki808 opened #274 "Connected but returning false"
[code]

System WiFi is changed/connected but `result` is returning false.

Works fine for Android but not for iOS
iOS 15.3.1

[2022-04-20 17:58] kbessemer commented on #273
Ok, so when I forget all wifi networks that are saved, the app with wifi_iot does connect me to the requested network successfully. Do you know of a better fix for this?

[2022-04-20 18:18] xiki808 commented on #274
Ooops, now I understood #166 better, and seems like same issue.

[2022-04-20 19:53] kbessemer commented on #273
I found the disconnect function in wifi_iot but it is not working for me.

Error:
E/WifiIotPlugin(21026): Can't disconnect from WiFi, networkCallback and networkSuggestions is null.

Code:
    var disc = await WiFiForIoTPlugin.disconnect();

[2022-04-21 08:14] #274 closed

[2022-04-21 10:45] ngmduc2012 commented on #33
<img width="901" alt="Screen Shot 2022-04-21 at 17 42 23" src="https://user-images.githubusercontent.com/56816382/164441890-f85245ea-3ed7-49df-b92a-de662d17bcc5.png">
 It works for me. i added 3 them

[2022-04-21 18:47] kbessemer commented on #273
Ok, I understand. Is there any way to get this working on Android 12? Only work around I have found is to manually disconnect from my current wifi network before running my app that has wifi_iot

[2022-04-22 10:46] daadu commented on #273
Need to know the reason why Android is disconnecting, log you shared has no info about it.

[2022-04-22 22:24] lmmfranco opened #275 "[wifi_iot] Cannot connect to existing SSID on android < 10"
Wifi IOT version: 0.3.15+2
Device: Android 9, LG (LM-X420BMW)

When connecting to a new network (or if I manually forget the network beforehand) it does connect as expected. But when trying to connect to a network that is saved, it always silently returns false.

I've tried copying over the plugin code to an empty android project in order to debug this issue.
The problem seems to be around this se

[2022-04-25 08:17] daadu commented on #275
This has been a known bug - expected behaviour for already registered network is to get connected as new network.

If you can find a general fix for it - feel free to file PR.

[2022-05-03 01:35] carlos00027 commented on #262
tambien me sucedio pero en mi caso, es porque usaba el modo Oscuro,  entonces no conseguia ver la informacion del modal. xioami con android 12

[2022-05-03 17:45] kbessemer commented on #273
I do not see any settings that match this criteria in the phone. There are not many settings under WiFi, there is "Adaptive connectivity" I have tried disabling this with no success

[2022-05-03 17:45] kbessemer commented on #273
There are also no errors in the console when trying to connect to the WiFi network on the android 12 device

[2022-05-03 20:34] kbessemer commented on #273
Sorry for 3rd reply, wanted to show you how this is operating on android 12/pixel 6:
http://kylebessemer.com/wifi.mp4

You can see that the WiFi connection shows as successful everytime I try to connect by android popup notification, but it is not actually joining the network. After the 2nd attempt I manually disconnect from my current WiFi network and then attempt to connect using the wifi_iot pl

[2022-05-05 05:11] carlos00027 commented on #272
motorola e6s with android 9 also fails

[2022-05-05 05:21] carlos00027 commented on #274
+1

[2022-05-05 05:23] carlos00027 commented on #269
+1

[2022-05-05 21:07] kbessemer commented on #273
Are you using a Pixel 6 phone? Or is it a different phone model also running Android 12?

[2022-05-06 03:25] chensimin920511 opened #278 "onScannedResultsAvailable() can get result without scan"

[2022-05-06 03:28] chensimin920511 opened #279 "have API startScan(),but lack API stopScan()"

[2022-05-06 06:39] daadu commented on #279
There is no API for it, to stop this - you can ignore the results in that case.

[2022-05-06 06:39] #279 closed

[2022-05-06 06:40] daadu commented on #278
Yes, it can - the result can be from a scan requested by other app or platform by itself.

[2022-05-06 06:40] #278 closed

[2022-05-06 08:25] chensimin920511 commented on #279
yes，i haven't developed wifi module for a long time, forget this

[2022-05-06 13:29] seikosantana commented on #273
it's a different phone, and it's android 10, but i managed to solve it with what's mentioned in https://github.com/flutternetwork/WiFiFlutter/issues/247

From my inspection, yes it successfully made connection, but wasn't able to reach LAN, which is needed in my case, to communicate with the IoT device.
so I do put
[code]
after a successful connection and network traffic to the LAN will then be ro

[2022-05-06 14:44] kbessemer commented on #273
Ok, that is not the issue I am facing. I am already using forceWifiUsage. Works perfectly on Android 11 but not 12

[2022-05-06 15:14] seikosantana commented on #247
thanks @daadu
It works for me but how do we use `forceWifiUsage(true)` correctly?
I've tried it and got it working to reach LAN but then sometimes when I'm trying to perform network operations it throws exception saying `[SocketException: Connection failed (OS Error: Machine is not on the network, errno = 64)](https://stackoverflow.com/questions/71510645/socketexception-connection-failed-os-error-

[2022-05-08 13:24] daadu commented on #247
You can disable these behaviour with `forceWifiUsage(false)`, also on some device vendors it can behave weird, therefore you can also try `disconnect`

[2022-05-10 12:29] seikosantana commented on #247
Noted, thanks a lot

[2022-05-13 07:42] jonasbark opened #280 "wifi_scan not compatible with Flutter 3"
Hi there!

There's a small incompatibility with Flutter 3.0:

[code]

[2022-05-14 04:15] seikosantana commented on #280
Having the same issue

[2022-05-14 07:57] #280 closed

[2022-05-14 10:41] #247 closed

[2022-05-14 11:15] #275 closed

[2022-05-14 12:37] daadu opened #282 "[wifi_iot] fix - ask permission to connect only once"
If the BSSID param is passed, then Android does not ask for user approval - if once approved.

[2022-05-16 07:59] hanlectin commented on #273
I can confirm the very same behavior: works on all configurations I tried, except Pixel 6 and Android 12

[2022-05-16 08:17] daadu commented on #273
@kbessemer I will test on Android 12, and get back.

[2022-05-16 08:43] daadu commented on #273
Looks like some APIs are deprecated in SDK 31 (Android 12) - https://developer.android.com/about/versions/12/behavior-changes-12#concurrent-connections

I am working on it, will open a PR when ready with patch - urge all to test against that PR with as many devices as possible (different versions, vendors, etc).

[2022-05-16 10:42] daadu commented on #225
Closing this because of lack of response.

Feel free to request re-opening.

[2022-05-16 10:42] #225 closed

[2022-05-16 10:44] daadu commented on #132
@kostov Regarding Pixel and Android 12 failures - it is being tracked and discussed at #273. Feel free to join the discussion there, closing this issue.

[2022-05-16 10:44] #132 closed

[2022-05-16 11:51] daadu commented on #273
I am failing to reproduce the issue with Android 12 phone(iQOO 9 SE) with the latest version of `wifi_iot` on pub.dev.

[2022-05-16 11:54] daadu commented on #273
@kbessemer I have done some implementation changes at #283, can you verify that this fixes the problem (highly unlikely though).

I don't have a Pixel 6 phone to test this against.

[2022-05-16 12:05] hanlectin commented on #273
sorry, I can't test at the moment.
but I can confirm what I tried yesterday:
* used wifi_scan 0.2.1 (not 0.3.0 yet)
* SSID was WPA secure
* using: await WiFiForIoTPlugin.connect(ssid, password: '12345678', joinOnce: true, security: NetworkSecurity.WPA, withInternet: false);
* returns with "Connected OK" toast (similar text)
* ...but there is no connection target (192.168.4.1)
==> I need to connect

[2022-05-16 12:10] hanlectin commented on #273
I'll test with wifi_scan v0.3.0 and/or android:usesCleartextTraffic="true" later today...

[2022-05-16 13:17] sitakanta136 opened #284 "NetworkCallback was already unregistered"
ConnectivityManager(16225): NetworkCallback was already unregistered.
How to resolve this issue ?

[2022-05-16 13:42] sitakanta136 commented on #284
Hi Daadu,
Intentionally I connected  with the wrong password => Wifi not connected
 await WiFiForIoTPlugin.connect(resultssid,
          password: wifiPassword,
          joinOnce: false,
          security: NetworkSecurity.WPA);
then I connected with correct password => showing ConnectivityManager(16225): NetworkCallback was already unregistered.
Wi-Fi not connected.

[2022-05-16 13:54] seikosantana commented on #273
I don't have Android 12 device but i'll try compiling to SDK Level 30

[2022-05-16 14:26] daadu commented on #284
I will look into it, when free.

Meanwhile, if you want feel free to debug and get to the problem.

[2022-05-17 07:43] hanlectin commented on #273
I don't know how to disable "internet requests"?! Lot's of apps installed. Surely many of these try to connect whenever there's a chance ;(
My "wifi_scan" app was until yesterday using flutter 2.10.x. since yesterday 3.0.0: no difference there!
its always

facts/summarize:
* WiFi connected to IoT device (via system settings), cellular data disabled:
   --> connection OK, (wifi_scan not used/not ne

[2022-05-17 07:51] daadu commented on #273
I have wrapped `forceWifiUsage` around an HTTP client

[code]

I use this client to make all HTTP calls via AP connected by my app, rest I use normal app.

I think in your case, you will have to disable `forceWifiUsage` back when you try to make "calls to the internet" - usin g the above client will help you organise traffic properly.

[2022-05-17 07:56] daadu commented on #273
@hanlectin I meant disabling network calls from your app.

[2022-05-17 07:58] daadu commented on #273
@hanlectin Android will **support** such multiple connections, but will be left to device vendor to support it at Wifi driver/firmware level.

[2022-05-17 08:12] hanlectin commented on #273
thanks. sure. understood...
FYI: my application is different: my app connects to a measurement-device that sends data (and can be controlled) via WiFi (it provides a WiFi hotspot). most of the time, this device will come with a dedicated android phone/tablet as a controller. in that case the phone will never need to access the internet at all... (here I can easily configure only one WiFi connectio

[2022-05-17 08:18] daadu commented on #273
@kbessemer  Some observation,

I got `Software caused connection abort` error, when the IoT device reboots (because of brownout - low power) after connection is made and device tries to make network request.

I can fix these when device is connected to proper power source (5V 2A adapter).

[2022-05-17 08:22] daadu commented on #273
@hanlectin Sure, will let you know when there is clarity in what is wrong and patch is ready to test against Android 12 device. As of now I am unable to consistently reproduce the issue with Android 12 phone I have - as of now I think this is a non-issue on Android 12 (could be Pixel6 specific thing) - as I obsereved this issue only when my access point where app connected not sufficiently powered

[2022-05-17 10:00] daadu commented on #134
This feature has landed on pub.dev with [v0.3.16](https://pub.dev/packages/wifi_iot/versions/0.3.16).

@PoloLacoste Thanks for your contribution, check yourself in [CONTRIBUTORS.md](https://github.com/flutternetwork/WiFiFlutter/blob/master/CONTRIBUTORS.md)!

[2022-05-19 06:30] elmar001 opened #285 "Cannot get scanned results: GetScannedResultsErrors.notSupported - iOS"
It returns empty result with this error on iOS 15: Cannot get scanned results: GetScannedResultsErrors.notSupported

[2022-05-19 07:39] daadu commented on #285
yes, scan feature is not supported in iOS - plugin just has a stub implementation - that always returns `GetScannedResultsErrors.notSupported`

[2022-05-19 07:39] #285 closed

[2022-05-20 05:13] animeshdhakal opened #286 "How can I connect to the previous WiFi Network ?"
How can I connect to the WiFi Network previously connected before I ran WiFiIoTPlugin.connect() ?

[2022-05-30 20:47] EgHubs commented on #269
Sorry, but what is the least android version supported by this package?
as I'm getting a lot of problems on android 8
other than not being connected to the desired WiFi sometimes the phone crashes and I have to reset network settings from the phone erase settings

[2022-06-01 07:08] daadu commented on #73
Closing this as #114 is resolved.

[2022-06-01 07:08] #73 closed

[2022-06-01 07:08] #78 closed

[2022-06-01 07:08] daadu commented on #94
Closing this as #114 is resolved.

[2022-06-01 07:08] #94 closed

[2022-06-05 05:20] daadu opened #290 "[wifi_passpoint] Checklist for 1.0"
## APIs
- ??

### Platform Feature Coverage
- [ ] Android
 - constants
   ??
 - methods
   ??
- [ ] iOS
  - [ ] Entitlements
    - [ ] `com.apple.developer.networking.HotspotConfiguration` [Hotspot Configuration]
  - [ ] `NEHotspotConfigurationManager `
    - [ ] `class var shared: NEHotspotConfigurationManager { get }`
    - [ ] `func apply(_ configuration: NEHotspotConfiguration, completionHandl

[2022-06-06 16:35] seikosantana commented on #214
I have location permission grated, but still getting unknown ssid

[2022-06-07 11:15] daadu commented on #214
Location has to be On

[2022-06-08 00:17] seikosantana opened #291 "Connect Succeeds With Incorrect Password, Sometimes Fails With Correct Password When Connecting to Already Connected WiFi"
The title says it. I need to ask for ssid and password and then connect to the network, but if the selected network is the current already connected network, it could sometimes fail, without changing passwords, on next try it succeeds.

It also could succeed even if the password was incorrect. I need to pass the password to IoT devices but this way it's not possible to detect if the password  is i

[2022-06-08 07:16] daadu commented on #291
Is this happening with older Android versions? In that case encourage you to go through this PR - #277

[2022-06-08 09:05] seikosantana commented on #291
I was testing on Android 10, and I'm using the package version `wifi_iot: ^0.3.15+3`.

[2022-06-10 13:01] bahamut657 opened #293 "[wifi_scan] Are Can APIs removed?"
It seems that using the latest wifi_scan package (0.3.0) does not provide at least these documented implementations:

- `WiFiScan.instance.canStartScan()`, missing method
- `WiFiScan.instance.canGetScannedResults()`, missing method
- `CanStartScan` , missing Map
- `CanGetScannedResults`, missing Map
- `Stream<**Result**<List<WiFiAccessPoint>`, is returned from ` WiFiScan.instance.onScannedResultsA

[2022-06-11 00:54] daadu commented on #293
They are added back, but not released to pub.dev. Can wait or point to git repo instead.

[2022-06-11 00:54] #293 closed

[2022-06-13 17:49] xiki808 commented on #156
isEnabled is returning false, using iOS 15.31 and plugin v 0.3.15+2

[2022-06-14 05:33] daadu commented on #156
`isEnabled` in iOS checks where `getSSID != null` - there is no official API for it.

[2022-06-16 09:55] alexs-sentrytechnology commented on #273
Hi - I get this issue on my pixel 6 pro running Android 12 also. Seems to be a pixel 6 think - my code runs successfully on other phones.

[2022-06-19 06:19] daadu commented on #273
Sorry, I don't have Pixel 6 to test. Would encourage once who have it to debug the issue.

[2022-06-21 08:22] daadu commented on #166
@Joshfindit Feel free to shed light on this issue.

[2022-06-23 06:16] jassim18 commented on #235
Is there any way to disconnect? @rdmo94

[2022-06-23 08:46] rdmo94 commented on #235
`private fun disconnectFromWifi(): Boolean {
        var wifiManager: WifiManager = context.getSystemService(Context.WIFI_SERVICE) as WifiManager;
        var status = wifiManager.removeNetworkSuggestions(mutableListOf<WifiNetworkSuggestion>());
        if(status == WifiManager.STATUS_NETWORK_SUGGESTIONS_SUCCESS) {
            return true;
        } else {
            return false;
        }

[2022-06-23 11:46] jassim18 commented on #235
This doesn't disconnect the network. Unfortunately, we have to manually switch on and off the wifi to get disconnected from the network. Is there any way to override this manual process using program?

[2022-06-25 20:12] jassim18 commented on #235
Can anyone help me using example to remove network suggestions along with disconnect ? In documentation, it's mentioned that we should use constants. But it seems unfamiliar. It would be helpful if any example code is posted .

[2022-06-26 10:46] Tom3652 commented on #291
I am having the same issue on Android 10 as well.
I am using : `wifi_iot: ^0.3.16`

[code]

Always returns true despite the password is wrong :/

[2022-06-27 06:14] daadu commented on #235
@jassim18 with the plugin - if the network was connected (network suggestion added) with plugin then you can remove them with `disconnect`

[2022-06-30 16:18] jassim18 commented on #235
Hey @daadu . Thanks for checking out. But I need a working code example. I couldn't establish disconnect in my project.

[2022-07-02 19:24] lublak opened #295 "WifiScan onScannedResultsAvailable"
If i call WiFiScan.instance.onScannedResultsAvailable.listen i not get the devices in the second call.

[2022-07-04 12:31] daadu commented on #295
Can you share logs or reproducable code for it + device & platform info.

[2022-07-05 12:54] elmar001 opened #296 "Is there any working way to force Android to keep WIFI connected when there is no internet?"
Android 11, 12 makes it very hard for iOT devices. It is impossible to connect and configure them as Android detects that the connected WIFI  does not have internet connection. Flutter socket connect directly goes into catch exception block with timeout exception.

[2022-07-06 09:52] mohit-gaur05 opened #297 "Wifi Scan not supported in iOS"
In Android it is working fine but In iOS is gives error mssg "Wifi scan not supported".

[2022-07-07 08:59] daadu commented on #297
Yes, it is not supported.

[2022-07-07 08:59] #297 closed

[2022-07-08 13:42] cdiethelm commented on #296
+1 for that. The android device (my case S22 with july update) always refuses to connect even if withinternet=false

[2022-07-09 09:14] elmar001 commented on #296
I opened issue on Google Android issue tracker - https://issuetracker.google.com/issues/238443303 . You can comment and give stars so maybe it will get attention.

[2022-07-21 19:00] silly-panda69 opened #298 "can i get surrounding wifi details with the wifi_iot package"
i need to make an app that gets the details like frquency ,ssid, signal strength etc. of non connected surrounding wifis

[2022-07-22 04:58] #298 closed

[2022-07-25 11:35] liamjbarry commented on #166
@daadu So I had some time to do some digging and I have come up with the following...

The example given by Apple shows confirming the connected SSID in a separate screen/process, not being called automatically after a successful `NEHotspotConfigurationManager.shared.apply` so I first commented out the line to automatically get the SSID, moved this code to a new function in the Swift file and setu

[2022-07-26 11:06] daadu commented on #166
@liamjbarry Thanks for the effort and sharing it. I am not good with Swift either, a lot of the swift code was written by someone else.

@DominikStarke Can you check the above comment? any idea on what makes this work? how can we fix the issue by integrating this?

[2022-07-28 11:00] guyluz11 opened #301 "Is there a way to lisent for WiFi change"
I am searching for a function that will return stream.

The stream will return a value each time a different WiFi network got connected.

Sometimes WiFi signal is so low that the phone just switches to a different one that it already had connected before.

[2022-08-03 07:19] silly-panda69 opened #302 "i am kinda new to flutter . i have a question regarding stream and future values . I saw that the values remain same ,only when i press the startlistening function button , the value changes . So the question is that when i move the device can it get new values ?"

[2022-08-03 10:02] daadu commented on #302
`starScan` you mean? scanning is triggered by Android itself automatically - there is no period or method mentioned in docs about how often or when is it done - it can also be triggered by app which is what `startScan` does.

[2022-08-03 10:02] #302 closed

[2022-08-04 18:54] silly-panda69 opened #303 "So when i use the startscan or startlistening , the wifi apis changes but the details like level and frequency don't change."

[2022-08-28 07:52] adnreych opened #304 "Connection timeout cannot be overridden"
When connecting to wifi programmatically, if the password is incorrect, a system window appears with a suggestion to enter the password. This is given only 30 seconds, including the connection time. That is, there are only about 15 seconds left to enter the password. This patch allows you to override the default timeout specified in the java code as a constant https://github.com/flutternetwork/WiF

[2022-08-28 08:07] adnreych commented on #304
`--- packages/wifi_iot/lib/wifi_iot.dart	(revision 4fe564b707b5b1b8bacea0af78bd9cc7c624c8ca)
+++ packages/wifi_iot/lib/wifi_iot.dart	(revision f434ae343b665dc7fd4eafaecf2c7037f8bbe727)
@@ -329,6 +329,7 @@
     bool joinOnce = true,
     bool withInternet = false,
     bool isHidden = false,
+    int timeoutInSeconds = 30,
   }) async {
     // https://en.wikipedia.org/wiki/Service_set_(802.11_netw

[2022-08-28 17:36] #304 closed

[2022-08-28 17:44] daadu commented on #304
This feature has landed on pub.dev with [v0.3.17](https://pub.dev/packages/wifi_iot/versions/0.3.17).

[2022-08-30 06:34] daadu commented on #303
Seems like not an implementation issue by the package.

Closing this, feel free to ask to reopen.

[2022-08-30 06:34] #303 closed

[2022-08-30 18:23] baranacikgoz opened #306 "You should add a check if wifi scan throttling is disabled."

[2022-09-04 23:07] BenjiFarquhar commented on #293
Is  `final canScan = await WiFiScan.instance.canStartScan(askPermissions: true);` supposed to ask the user for permissions in version ^0.4.0+1 from pub.dev?

Just trying to use it for the first time and the await just hangs and doesn't ask the user anything.

[2022-09-05 05:34] daadu commented on #293
@BenjiFarquhar Are you asking about iOS?

[2022-09-05 05:42] daadu commented on #293
@BenjiFarquhar Can you give more info about the device+OS version you tested on.

I just rechecked on Android 9 Redmi device and seems to work

[2022-09-06 22:22] BenjiFarquhar commented on #293
@daadu Yes. It was on iOS, so nothing can be done about it. Cheers.

[2022-09-08 16:03] Adrianvcp commented on #174
Do we have any update on this issue? How can we use it.

[2022-09-20 04:59] JohnMaguire commented on #273
I stumbled across this issue as I was thinking about an issue I experienced last year, which sounds exactly like this one, including running a Pixel 6 with Android 12. It was disappointing since it sort of rendered my app's value moot for me.

There is also this longstanding issue in the GoPro community... I believe the Pixel 6 has some issue inherent to it: https://community.gopro.com/s/question/

[2022-09-23 12:25] Martichou commented on #273
Hey ! I'm not sure if anyone dig a bit deeper in this, but I tried.

(tested on a Pixel 6 with Android 13)
What I discovered is that when you call connect (or findAndConnect, it doesn't matter), the Network object you get have an ID. Let's say that ID is 190. The issue come when you try to forceWifiUsage, the Network object that function use is 183 (number are just pure indication and may varies).

[2022-09-23 12:47] daadu commented on #273
@Martichou Thanks for the efforts.

Currently, we are not doing `forceWifiUsage` with `connect` by default, is because want to give this control to user when to enable or disable this network for communication.

What I suggest is to use `Network` object (if avaible) we get in `onAvailable` directly (will have to make sure that the objects is cleaned up properly if disconnected) inside `connectTo`.

[2022-09-23 16:09] Martichou commented on #273
@daadu I know about the reasoning behind why you don't enforce the forceWifiUsage :).

I've just done as you recommended and it seems to work just fine. I was able to connect and to forceWifiUsage while staying connected to the previous AP. So the Pixel I had was connected to both AP at the same time and the APP was speaking to the one used in connect.

I will try to clean things up and ensure I c

[2022-10-08 12:10] kekko7072 commented on #166
+ 1

[2022-10-09 11:51] #286 closed

[2022-10-17 16:19] ahmedNagar123 opened #307 "wifi list nearby not working with ios"
Cannot get scanned results: CanGetScannedResults.notSupported
cannot get list of wifi nearby

[2022-10-21 13:03] daadu commented on #307
There is no generally available API's to do "wifi scan" on iOS.

Closing this issue. Feel free to ask to reopen it.

[2022-10-21 13:03] #307 closed

[2022-10-26 18:27] ElegantCrab opened #308 "When using forceWifiUsage after connect, I can no longer check whether the wifi is enabled"
Does somebody know why this happens? Whenever I connect to a wifi and execute forceWifiUsage, the package connectivity_plus no longer recognizes that I'm in a wifi network

[2022-10-30 20:48] newGeneracion commented on #291
Any solution, I have the same problem. :(

[2022-11-04 16:57] darhaywa commented on #273
@Martichou thanks for your solution I've put a PR in place with a tidied-up version.

@daadu could you take a look and let us know if there are any issues?

[2022-11-05 10:24] daadu commented on #273
@darhaywa Thanks for the PR.

@Martichou  Thanks for working on it.

[2022-11-05 10:50] daadu commented on #273
This fix has landed on pub.dev with [v0.3.18](https://pub.dev/packages/wifi_iot/versions/0.3.18)

@kbessemer Thank for reporting this. Check yourself [here](https://github.com/flutternetwork/WiFiFlutter/blob/master/CONTRIBUTORS.md)!

Closing this issue. Feel free to ask for re-opening if not resolved.

[2022-11-05 10:50] #273 closed

[2022-11-15 06:04] elmar001 commented on #308
forceWifiUsage does not work properly, it malfunctions totally. It does not change anything and all requests to TCP sockets fail. The problem you face may stem from the following.

After using execute forceWifiUsage app loses all internet connection forever. And executing forceWifiUsage(false) does not change anything. Only way to recover is, to kill the app open again or stop the process in the t

[2022-11-16 04:11] tmtong commented on #235
Any update on the connect issue?
I have the exact same problem. If useinternet is false, it have a dialog to connect. But use internet is true, it return true, and nothing happen, no dialog, no change in connection

[2022-11-16 06:31] daadu commented on #235
@tmtong @jassim18 I am afraid I wont be able to give time on this issue as of now, I am a bit busy with other work. Feel free to debug it on your own and write a PR with the fix.

[2022-11-16 09:54] darhaywa commented on #166
@daadu, came across problem #271 getSSID returns nil for iOS 15 and above. It led here to this defect, however, I don't think it's related as we see this error but the connection still works.

Tried with a loop(20 times 1 sec interval) calling the isConnected() API to perform the NEHotspotNetwork.fetchCurrent() call and when it fails it's still failing. Calling the connect() API returns within 4s

[2022-11-18 04:50] daadu commented on #166
@darhaywa You could do that, and would be considered breaking change - plus, need to implement similar behavior with Android.

Lately, I have not been able to work on this - but the real solution here is #229. In `wifi_connect_to` plugin [#189] - we can plan proper error-results. But sadly, I am not able to give time to it.

[2022-11-18 04:51] daadu commented on #166
+ I would prefer "error-result" than throwing/raising error as a design choice for it.

[2022-11-18 23:07] JohnMaguire opened #310 "Can't connect to a WiFi network when connected to a VPN"
I'm using the Nebula VPN app (it's a mesh overlay networking VPN, similar to Tailscale - it is only used to route some private IP addresses, it is not a VPN that connects me to the WAN.)

If I am connected to the VPN then `network.connect()` fails. This is the only thing I saw in logcat that looked interesting:

[code]

[2022-11-19 06:51] daadu commented on #310
I haven't gone through these (connect with VPN enabled) use-case.

I suspect that VPN needs to be configured with `WifiNetworkSuggestion.Builder` and `WifiNetworkSpecifier.Builder`. I am busy with other work these days, urge you to look into this yourself. If you come up with something - we can decide how to integrate it into the plugin.

[2022-11-19 07:09] baranacikgoz opened #311 "Scanning in background"
I am scanning devices to get their rssi values. App successfully working whie in foreground, but when i try to run with some background related pub.dev packages, wifi scan is not working in background

[2022-11-19 14:15] Doldrums opened #312 "java.lang.IllegalArgumentException: Unsupported value: 'WIFI_AP_STATE_DISABLED' of type 'class info.whitebyte.hotspotmanager.WIFI_AP_STATE'"
[code]

[2022-11-19 14:19] Doldrums commented on #312
@daadu could u take a look

[2022-11-21 10:23] Caypoh23 opened #313 "Join once = false does not work."
Even for the first time when I try to connect to WiFi, it asks whether I want to connect to the network permanently
this is how I use it :

[code]

[2022-11-21 11:32] tmtong commented on #235
I ended up having my own kotlin file.

[code]

[2022-11-21 17:50] daadu commented on #313
asking for Android or iOS?

[2022-11-22 19:46] Caypoh23 commented on #313
I was checking it on Android, iOS is also needed